<div id="cesiumContainer" style="position: relative; width: 100%; height: 100%;">
  <div id = 'mini-map'>
    <div style="position: relative; width: 100%; height: 100%;">
      <!--       markers = "markers"
            geojson = "geojson"
            geojson-nested="true"
            paths="paths" -->
      <leaflet
      defaults = 'map.defaults'
      lf-center="center"
      markers = "markers"
      height="100%"
      width="100%"
      layers="map.layers"
      paths = 'dirArrow'
      decorations='dirArrowHead'
      >
      </leaflet>
    </div>
  </div>
  <ac-map id="globe"
  ng-cloak
  cesium = "cesiumObject.cesium"
  camera-position = "cameraPosition"
  camera-orientation = "cameraOrientation"
  camera-orientation-ini = "cameraOrientationIni"
  provided-camera = "providedCamera"
  gcp = "myGCPs"
  selection-function = 'selectGCP'
  cesium-gcp-function = 'cesiumGCP'
  draw-cursor-image-function = 'drawCursorImage'
  image-model = 'model'
  model-is-drawn = 'modelIsDrawn'
  toponyms = 'toponyms'
  mode = 'mode'
  tiles-loaded-promise="tilesLoadedPromise"
  unselect-all-gcp = "unselectAllGCP"
  show-globe = "showGlobe"
  image = "image"
  alert-click-image = 'alertClickImage'
  alert-click-building = 'alertClickBuilding'
  buildings = "cesiumObject.buildings"
  >
  </ac-map>

  <div id = 'globe-bar'>
    <div class = 'globe-bar-item' ng-show = 'modelIsDrawn'>
      {{texts.image[lang]}}
      <label class="switch" ng-click = 'checkModel()'>
        <input type="checkbox" ng-model = 'model.show' >
        <span class="slider round"></span>
      </label>
      <div id= 'scale-slider'>
        <p class = 'range-title'>
          {{texts.depth[lang]}}
        </p>
        <label>
          <input class = 'range-model' type="range"  min="-1" max="3" step="0.05" ng-model='scales.log' ng-change ="changeScaleLog()" uib-tooltip={{texts.ttipDistance[lang]}} />
        </label>
      </div>
      <div id= 'transparency-slider'>
        <p class = 'range-title'>
          {{texts.transparency[lang]}}
        </p>
        <label>
          <input class = 'range-model' type="range" min="0" max="1" step="0.01" ng-model='transparency.value' ng-change ="setTransparency()" uib-tooltip={{texts.ttipDistance[lang]}} />
        </label>
      </div>
    </div>
  </div>
  <div style = "position: absolute; bottom: 120px; right: 30px; z-index: 2; height:90px; width:90px; background-color:transparent;"
  ng-include src="'../views/geolocalisation/horizmove.html'"
  >
  </div>
  <div style = "position: absolute; bottom: 20px; right: 30px; z-index: 2; height:90px; width:90px; background-color:transparent;"
  ng-include src="'../views/geolocalisation/eyemove.html'"
  >
  </div>
  <div style = "position: absolute; bottom: 20px; right: 130px; z-index: 2; height:90px; width:30px; background-color:transparent;"
  ng-include src="'../views/geolocalisation/zoommove.html'"
  >
  </div>
  <div style = "position: absolute; bottom: 120px; right: 130px; z-index: 2; height:90px; width:30px; background-color:transparent;"
  ng-include src="'../views/geolocalisation/vertmove.html'"
  >
  </div>
  <div style = "position: absolute; top:20px; right: 20px; z-index: 2; background-color: white; padding: 5px; border-radius: 5px; max-width: 250px">
    <p style = 'margin-bottom: 5px'>
      <b>{{texts.aerial_image[lang]}}</b>
    </p>
    <label>
      <input type="radio"
         ng-model="imagery.id"
         value="swisstopo"
         ng-change="switchImagery()">
         {{texts.swisstopo[lang]}}
     </label>
     <br>
     <label>
       <input type="radio"
        ng-model="imagery.id"
        value="bing"
        ng-change="switchImagery()">
        {{texts.bing[lang]}}
      </label>
      <!-- <hr> -->
      <p style = 'margin-top: 10px; margin-bottom: 5px'>
        <b>{{texts.buildings[lang]}}</b>
      </p>
      <label>
        <input type="checkbox"
         ng-model="buildings.show"
         ng-change = 'hideShowBuildings()'>
         {{texts.no_buildings[lang]}}
      </label>
  </div>
</div>
