<div class = 'instruction-item' ng-include src = "'../views/geolocalisation/step-bar.html'">
</div>
<div class = 'instruction-item' ng-include src = "'../views/geolocalisation/instruction-title.html'">
</div>
<div class = 'instruction-item' ng-include src = "'../views/geolocalisation/instruction-desc.html'">
</div>
<div class = 'instruction-item  osd'>
  <div ng-include src = "'../views/geolocalisation/osd.html'"></div>
</div>
<div class = 'instruction-item' ng-include src = "'../views/geolocalisation/report-problem.html'"></div>
<div class = 'instruction-item'>
  <p ng-click = 'goToTips()' style = 'cursor: pointer; text-align: right;'>
    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
    {{texts.geolocTips[lang]}}
  </p>
</div>
<div class = 'instruction-item'>
  <div class = 'step-box'>
    <div class = 'step-item resize'>
      <div
        ng-class="{'btn red wide': showDelete, 'btn red wide disabled': showDelete == false}"
        ng-click= "deleteSelectedGCP()"
        uib-tooltip={{texts.deleteGCPTtip[lang]}}
        >
        <i class="fa fa-trash" aria-hidden="true"></i>
        {{texts.deleteGCP[lang]}}
      </div>
    </div>
    <div class = 'step-item resize'>
      <div
        class='btn red wide'
        ng-click= "deleteAllGCP()"
        uib-tooltip={{texts.deleteAllGCPTtip[lang]}}
        >
        <i class="fa fa-trash" aria-hidden="true"></i>
        {{texts.deleteAllGCP[lang]}}
      </div>
    </div>
  </div>
  <div class = 'step-box'>
    <div class = 'step-item resize'>
        <div
          class="btn white"
          ng-click= "reinitializeCamera()"
          style = 'width: 100%'
          uib-tooltip={{texts.restart3Dttip[lang]}}
          >
          <i class="fa fa-repeat" aria-hidden="true"></i>
          {{texts.restart[lang]}}
        </div>
    </div>
  </div>
</div>
<div class = 'instruction-item' ng-show = "image.view_type === 'terrestrial'">
  <div class = 'step-box left'>
    <div class = 'step-item resize' ng-show = 'enoughGCP'>
        <div
         ng-class="{'btn yellow': enoughGCP, 'btn yellow disabled': enoughGCP == false}"
         ng-click= "computePose(false)"
         uib-tooltip={{texts.computePoseToolTip[lang]}}
         style = 'width: 100%'
         >
         <i class="fa fa-cogs" aria-hidden="true"></i>
         {{texts.computeLocAndOri[lang]}}
       </div>
    </div>
  </div>
  <div class = 'step-box left'>
    <div class = 'step-item resize' ng-show = 'enoughGCP '><!-- && markerMoved -->
        <div
         ng-class="{'btn yellow': enoughGCP, 'btn yellow disabled': enoughGCP == false}"
         ng-click= "computePose(true)"
         uib-tooltip={{texts.computeLocOnlyToolTip[lang]}}
         style = 'width: 100%'
         >
         <i class="fa fa-cogs" aria-hidden="true"></i>
         {{texts.computeLocOnly[lang]}}
       </div>
    </div>
  </div>
</div>
<div class = 'instruction-item' ng-show = "image.view_type !== 'terrestrial'">
  <div class = 'step-box left'>
    <div class = 'step-item resize' ng-show = 'enoughGCP'>
        <div
         ng-class="{'btn yellow': enoughGCP, 'btn yellow disabled': enoughGCP == false}"
         ng-click= "computePose(false)"
         uib-tooltip={{texts.computePoseToolTip[lang]}}
         style = 'width: 100%'
         >
         <i class="fa fa-cogs" aria-hidden="true"></i>
         {{texts.computePose[lang]}}
       </div>
    </div>
  </div>
</div>
<div class = 'instruction-item buffer'>
</div>
<div class = 'instruction-item'>
  <div class = 'step-box'>
    <div class = 'step-item resize'>
      <div
        id = "back"
        class="btn white wide"
        ng-click= "changeStep('backward')"
        ng-show = 'validationMode'
        >
        {{texts.previousStep[lang]}}
      </div>
    </div>
  </div>
<div class = 'instruction-item'>
  <div class = 'step-box left'>
    <div class = 'step-item resize'>
        <div
          id = "next"
          ng-class="{'btn green': showValidate, 'btn green disabled': showValidate == false}"
          ng-click= "changeStep('forward')"
          style = 'width: 100%'
          uib-tooltip={{texts.validatePoseTtip[lang]}}>
          {{texts.validateStep[lang]}}
        </div>
    </div>
  </div>
</div>
<!-- <div class = 'instruction-item buffer'>
</div> -->
<!-- <div class = 'instruction-item'>
  <div class = 'step-box'>
    <div class = 'step-item resize'>
      <div
        id = "back"
        class="btn white wide"
        ng-click= "changeStep('backward')"
        ng-show = 'show.back'
        >
        {{texts.previousStep[lang]}}
      </div>
    </div>
  </div>
</div> -->
