<div class="divTable">
  <div class="divTableBody">
    <div class="divTableRow">
      <div class="divTableCell top-left"
      ng-click = ''
      >
      </div>
      <div class="divTableCell middle"
      ng-click = 'turnUp()'
      uib-tooltip ="{{texts.turnUp[lang]}}"
      tooltip-placement ='auto top'
      tooltip-class = 'cesium-move-ttip'
      tooltip-append-to-body = 'true'
      >
        <i
        class="fa fa-caret-up"
        aria-hidden="true"
        ></i>
      </div>
      <div class="divTableCell top-right">
      </div>
    </div>
    <div class="divTableRow">
      <div class="divTableCell  middle"
      ng-click = 'turnLeft()'
      uib-tooltip ="{{texts.turnLeft[lang]}}"
      tooltip-placement ='auto top'
      tooltip-class = 'cesium-move-ttip'
      tooltip-append-to-body = 'true'
      >
        <i class="fa fa-caret-left" aria-hidden="true"
        ></i>
      </div>
      <div class="divTableCell  middle">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </div>
      <div class="divTableCell  middle"
      ng-click = 'turnRight()'
      uib-tooltip ="{{texts.turnRight[lang]}}"
      tooltip-placement ='auto top'
      tooltip-class = 'cesium-move-ttip'
      tooltip-append-to-body = 'true'
      >
        <i class="fa fa-caret-right" aria-hidden="true"
        ></i>
      </div>
    </div>
    <div class="divTableRow">
      <div class="divTableCell bottom-left">
      </div>
      <div class="divTableCell  middle"
      ng-click = 'turnDown()'
      uib-tooltip ="{{texts.turnDown[lang]}}"
      tooltip-placement ='auto top'
      tooltip-class = 'cesium-move-ttip'
      tooltip-append-to-body = 'true'
      >
        <i class="fa fa-caret-down" aria-hidden="true"
        ></i>
      </div>
      <div class="divTableCell bottom-right">
      </div>
    </div>
  </div>
</div>
