<div class="divTable">
  <div class="divTableBody">
    <div class="divTableRow">
      <div class="divTableCell top-left">
      </div>
      <div class="divTableCell middle"
      ng-click = 'moveFront()'
      uib-tooltip ="{{texts.forward[lang]}}"
      tooltip-placement ='top'
      tooltip-class = 'cesium-move-ttip'
      tooltip-append-to-body = 'true'>
        <i class="fa fa-caret-up" aria-hidden="true"
        ></i>
      </div>
      <div class="divTableCell top-right">
      </div>
    </div>
    <div class="divTableRow">
      <div class="divTableCell  middle"
      ng-click = 'moveLeft()'
      uib-tooltip ="{{texts.left[lang]}}"
      tooltip-placement ='top'
      tooltip-class = 'cesium-move-ttip'
      tooltip-append-to-body = 'true'>
        <i class="fa fa-caret-left" aria-hidden="true"

        >
      </i>
      </div>
      <div class="divTableCell  middle">
        <!-- <i class="fa fa-hand-paper-o" aria-hidden="true"></i> -->
        <img src = '../icons/globe/plane.png' height = '20px'>
      </div>
      <div class="divTableCell  middle"
      ng-click = 'moveRight()'
      uib-tooltip ="{{texts.right[lang]}}"
      tooltip-placement ='top'
      tooltip-class = 'cesium-move-ttip'
      tooltip-append-to-body = 'true'>
        <i class="fa fa-caret-right" aria-hidden="true"
        >
      </i>
      </div>
    </div>
    <div class="divTableRow">
      <div class="divTableCell bottom-left">
      </div>
      <div class="divTableCell  middle"
      ng-click = 'moveBack()'
      uib-tooltip ="{{texts.backward[lang]}}"
      tooltip-placement ='top'
      tooltip-class = 'cesium-move-ttip'
      tooltip-append-to-body = 'true'
      >
        <i class="fa fa-caret-down" aria-hidden="true"
        ></i>
      </div>
      <div class="divTableCell bottom-right">
      </div>
    </div>
  </div>
</div>
