<div class = 'step-box'>
  <div class = 'step-item icon'>
    <div ng-if = "steps[currentStep] === 'training'">
      <i class="fa fa-comment icon"></i>
    </div>
    <div ng-if = "steps[currentStep] == 'location'">
      <i class="fa fa-map-marker icon" aria-hidden="true"></i>
    </div>
    <div ng-if = "steps[currentStep] == 'direction'" >
      <i class="fa fa-compass icon" aria-hidden="true"></i>
    </div>
    <div ng-if = "steps[currentStep] == 'correspondences'">
      <i  class="fa fa-dot-circle-o icon" aria-hidden="true"></i>
    </div>
    <div ng-if = "steps[currentStep] == 'modifications'">
      <i  class="fa fa-pencil icon" aria-hidden="true"></i>
    </div>
    <div ng-if = "steps[currentStep] == 'validation_viz'">
      <i  class="fa fa-check-circle-o icon"  aria-hidden="true"></i>
    </div>
    <div ng-if = "steps[currentStep] == 'validation_com'">
      <i  class="fa fa-check-circle-o icon"  aria-hidden="true"></i>
    </div>
    <div ng-if = "steps[currentStep] == 'problem'">
      <i class="fa fa-exclamation-triangle icon"  aria-hidden="true"></i>
    </div>
  </div>
  <div class = 'step-item title'>
    <h3>
      {{instruction}}
    </h3>
  </div>
</div>
