<div class = 'instruction-item' ng-include src = "'../views/geolocalisation/step-bar.html'">
</div>
<div class = 'instruction-item' ng-include src = "'../views/geolocalisation/instruction-title.html'">
</div>
<div class = 'instruction-item' ng-include src = "'../views/geolocalisation/instruction-desc.html'">
</div>
<div class = 'instruction-item osd'>
  <div ng-include src = "'../views/geolocalisation/osd.html'"></div>
</div>
<div class = 'instruction-item' ng-include src = "'../views/geolocalisation/report-problem.html'"></div>
<div class = 'instruction-item' ng-include src = "'../views/geolocalisation/image-metadata.html'"></div>
<div class = 'instruction-item buffer'>
</div>
<div class = 'instruction-item'>
  <div class = 'step-box'>
    <div class = 'step-item resize'>
      <div
        id = "back"
        class="btn white wide"
        ng-click= "changeStep('backward')"
        ng-show = 'show.back'

        >
        {{texts.previousStep[lang]}}
      </div>
    </div>
    <div class = 'step-item resize'>
      <div
        id = "next"
        ng-class="{'btn green wide': showValidate, 'btn green wide disabled': showValidate == false}"
        ng-click= "changeStep('forward')">
        {{texts.validateStep[lang]}}
      </div>
    </div>
  </div>
</div>
