<div id = 'left-menu'>
  <div class = 'menu-item'>
    <img class = 'menu-logo' src = '../icons/logo_text_only.svg' ng-click = 'goHome()'>
  </div>
  <div class = 'menu-item with' ng-show = 'has_url'>
    <p>mit</p>
  </div>
  <div class = 'menu-item owner' ng-show = 'has_url'>
    <img class = 'menu-owner-logo' ng-src = '../data/owners/{{ownerId}}/logo.png'>
  </div>
  <div class = 'menu-item selected-yellow'>
    <img class = 'menu-actions' src = '../icons/geolocalize.svg'>
  </div>
  <div class = 'menu-buffer'>
  </div>
  <div class = 'menu-item'
    ng-hide = 'isLogged'
    ng-click = "clickMy()">
    <i class="menu-icon fa fa-user-times" aria-hidden="true"></i>
  </div>
  <div class = 'menu-item with' ng-if = 'isLogged'>
    <p>
      {{volunteer.username}}
    </p>
  </div>
  <div class = 'menu-item'
    ng-show = 'isLogged'
    ng-click = "goToMy()">
    <i class="menu-icon fa fa-user" aria-hidden="true"></i>
  </div>
  <div class = 'menu-item' ng-click = 'openParameters()'>
    <img class = 'menu-actions' src = '../icons/parameters.png'>
  </div>
  <div class = 'menu-item' ng-click = 'goToHelp()'>
    <img class = 'menu-actions' src = '../icons/question.png'>
  </div>
</div>
