<div class = 'instruction-item' ng-include src = "'../views/geolocalisation/step-bar.html'">
</div>
<div class = 'instruction-item' ng-include src = "'../views/geolocalisation/instruction-title.html'">
</div>
<div class = 'instruction-item' ng-include src = "'../views/geolocalisation/instruction-desc.html'">
</div>
<div class = 'instruction-item'>
  <div class = 'edit-box' ng-show = 'image.correction_enabled'>
    <h3>{{texts.title[lang]}}:</h3>
    <h4
    ng-hide = 'show.editTitle'
    >
    {{correction.title}}
      <i class="fa fa-pencil"
      aria-hidden="true"
      ng-click = "editTitle()"
      ></i>
    </h4>
    <input class = 'edit-input'
    type='text'
    ng-show = 'show.editTitle'
    ng-model = 'correction.title'>
    <div
      class = 'btn green'
      ng-click = 'validateTitle()'
      ng-show = 'show.editTitle'>
      {{texts.validate[lang]}}
    </div>
    <div
      class = 'btn white'
      ng-click = 'cancelTitle()'
      ng-show = 'correction.titleCorr'>
    {{texts.cancel[lang]}}
    </div>
  </div>
  <!-- correction.caption != null &&  -->
  <div class = 'edit-box' ng-show = 'image.correction_enabled'>
    <h3>{{texts.description[lang]}}: </h3>
    <h4
    ng-hide= 'show.editCaption'
    >{{correction.caption}}
      <i class="fa fa-pencil"
      aria-hidden="true"
      ng-click = "editCaption()"
      ></i>
    </h4>
    <input
      class = 'edit-input'
      type='text'
      ng-show= 'show.editCaption'
      ng-model = 'correction.caption'
    >
    <div
    class = 'btn green'
    ng-click = 'validateCaption()'
    ng-show = 'show.editCaption'
    >
    {{texts.validate[lang]}}
    </div>
    <div
      class = 'btn white'
      ng-click = 'cancelCaption()'
      ng-show= 'correction.captionCorr'
    >
    {{texts.cancel[lang]}}
    </div>
  </div>
  <div class = 'edit-box' ng-show = 'image.observation_enabled'>
    <h3>{{texts.observation[lang]}}:
    </h3>
    <h4>
      {{texts.observationDesc[lang]}}
    </h4>
    <div
      class = 'btn green wide'
      ng-click = 'createObservation()'

    >
    <!-- ng-show= 'show.observationCreateBtn'  -->
    {{texts.createObservation[lang]}}
    </div>
    <!-- <p ng-show = 'show.observationSkip'>
      {{texts.clicObservation[lang]}}
    </p>
    <div
      class = 'btn green wide'
      ng-click = 'skipObservationLocation()'
      ng-show = 'show.observationSkip'
    >
    {{texts.skip[lang]}}
    </div> -->
    <!-- <p ng-show = 'show.observationInput'>
      {{texts.writeObs[lang]}}
    </p> -->
    <!-- <textarea
      class = 'edit-input'
      type='text'
      rows='3'
      ng-show = 'show.observationInput'
      ng-model = 'observations.currentObservation.observation'
      placeholder= "My observation"
    ></textarea>
    <div
      class = 'btn green'
      ng-click = 'validateObservation()'
      ng-show = 'show.observationValidation'
    >
    {{texts.validate[lang]}}
    </div> -->
    <!-- <div
      class = 'observation'
      ng-repeat = "observation in observations.list  | orderBy:'-id'">
      <p style = 'font-weight: bold'>{{observation.id}}</p>
      <p>{{observation.observation}}</p>
      <div
        class = 'btn white'
        ng-click = 'cancelObservation(observation)'>
        {{texts.cancel[lang]}}
      </div>
    </div> -->
  </div>
</div>
<div class = 'instruction-item buffer'>
</div>
<div class = 'instruction-item'>
  <div class = 'step-box'>
    <div class = 'step-item resize'>
      <div
        id = "back"
        class="btn white wide"
        ng-click= "changeStep('backward')"
        ng-show = 'show.back'
        >
        {{texts.previousStep[lang]}}
      </div>
    </div>
    <div class = 'step-item resize'>
      <div
        id = "next"
        ng-class="{'btn green wide': showValidate, 'btn green wide disabled': showValidate == false}"
        ng-click= "changeStep('forward')">
        {{texts.finish[lang]}}
      </div>
    </div>
  </div>
</div>
