<div id="openseadragon1">
  <seadragon
  options="optionsViewer"
  wrapper = "osdObject.mysd"
  gcp="myGCPs"
  selection-function = 'selectGCP'
  deletion-function = 'deleteGCP'
  draw-cursor-function = 'drawCursor'
  locmat = 'locationMatrix'
  http-promise = 'httpPromise'
  image-name = 'imageName'
  osd-promise = 'osdPromise'
  draw-gcp = "drawGCP"
  image = "image"
  osd-gcp-function = 'osdGCP'
  alert-click-globe-function = 'alertClickGlobe'
  mode = 'mode'
  ></seadragon>
  <div id = 'reproj-legend'
  ng-show = 'computePoseBool'>
    <p>
      <img src = './icons/georef/reproj_green.png' style = 'margin-right:5px'></img>
      {{texts.reprojCorrect[lang]}}
    </p>
    <p>
      <img src = './icons/georef/reproj_orange.png' style = 'margin-right:5px'></img>
      {{texts.reprojInaccurate[lang]}}
    </p>
    <p><img src = './icons/georef/reproj_red.png' style = 'margin-right:5px'></img>
      {{texts.reprojWrong[lang]}}
    </p>
  </div>
</div>
