<div class = 'instruction-item' ng-include src = "'../views/geolocalisation/step-bar.html'">
</div>
<div class = 'instruction-item' ng-include src = "'../views/geolocalisation/instruction-title.html'">
</div>
<div class = 'instruction-item' ng-include src = "'../views/geolocalisation/instruction-desc.html'">
</div>
<div class = 'instruction-item'>
    <!-- <h3>{{texts.problems[lang]}}</h3> -->
    <input
    type = 'checkbox'
    ng-model = 'problems.inverted'>
    {{texts.inverted[lang]}}
    <br>

    <input
    type = 'checkbox'
    ng-model = 'problems.photomontage'>
    {{texts.photomontage[lang]}}
    <br>

    <!-- <input
    type = 'checkbox'
    ng-model = 'problems.notRecognizable'>
    {{texts.notRecognizable[lang]}}
    <br>

    <input
    type = 'checkbox'
    ng-model = 'problems.georefImpossible'>
    {{texts.georefImpossible[lang]}}
    <br> -->

    <input
    type = 'checkbox'
    ng-model = 'problems.other'>
    {{texts.otherProblem[lang]}}
    <br>
    <p ng-show = 'problems.otherValidated'>
      {{problems.otherText}}
    </p>
    <textarea type="text" rows = '3'
    class = 'edit-input'
    ng-model='problems.otherText'
    ng-show = 'show.otherProblem'
    style='width:100%'>
    </textarea>
    <button class = 'btn green'
    ng-click = 'validateOtherProblem()'
    ng-show= 'show.otherProblem'
    >
    {{texts.validate[lang]}}
    </button>
</div>
<div class = 'instruction-item buffer'>
</div>
<div class = 'instruction-item'>
  <div class = 'step-box'>
    <div class = 'step-item resize'>
      <div
        id = "back"
        class="btn white wide"
        ng-click= "changeStep('backward')"
        ng-show = 'show.back'
        >
        {{texts.cancel[lang]}}
      </div>
    </div>
    <div class = 'step-item resize'>
      <div
        id = "next"
        class='btn green wide'
        ng-click= "submitProblem()">
        {{texts.validate[lang]}}
      </div>
    </div>
  </div>
</div>
