<div class = 'step-box'>
  <div class = 'step-item left'>
    <p>{{texts.step[lang]}} {{currentStep}}</p>
  </div>
  <div  class = 'step-item center'>
    <p>
    <i class="fa fa-circle" ng-class = "{'circle': progression[0] == false, 'circle activated': progression[0]}" aria-hidden="true"></i>
    <i class="fa fa-circle" ng-class = "{'circle': progression[1] == false, 'circle activated': progression[1]}" aria-hidden="true"></i>
    <i class="fa fa-circle" ng-class = "{'circle': progression[2] == false, 'circle activated': progression[2]}" aria-hidden="true"></i>
    <i class="fa fa-circle" ng-class = "{'circle': progression[3] == false, 'circle activated': progression[3]}" aria-hidden="true"></i>
    </p>
  </div>
  <div  class = 'step-item right'>
    <p>
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </p>
  </div>
</div>
