<div style="position: relative; width: 100%; height: 100%;">
  <div style="position: absolute; top:70px; left:20px; z-index:2; background-color: rgba(255, 255, 255, 0.95); border-radius: 25px; padding: 20px; width: 100%; height: 100%">
    <h2>{{texts.tutorial[lang]}}
    </h2>
    <iframe width="570" height="350" src="https://www.youtube.com/embed/Iv3xPokjNus?rel=0&cc_load_policy=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <h3>{{texts.tutoLink[lang]}}<a ng-click= 'goToTuto()'>{{texts.here_min[lang]}}</a></h3>
  </div>
</div>
