<div class = 'instruction-item' ng-include src = "'../views/geolocalisation/step-bar.html'">
</div>
<div class = 'instruction-item' ng-include src = "'../views/geolocalisation/instruction-title.html'">
</div>
<div class = 'instruction-item' ng-include src = "'../views/geolocalisation/instruction-desc.html'">
</div>
<div class = 'instruction-item buffer'>
</div>
<div class = 'instruction-item'>
  <div class = 'step-box'>
    <div class = 'step-item resize'>
      <div
        id = "next"
        ng-class="{'btn green wide': showValidate, 'btn green wide disabled': showValidate == false}"
        ng-click= "changeStep('forward')">
        {{texts.validateStep[lang]}}
      </div>
    </div>
  </div>
</div>
