
<div ng-controller = 'validationCtrl'>

  <div class = 'edit-box'>
    <h3>
      {{texts.reason_reject[lang]}}
    </h3>

    <div ng-repeat = 'error in allErrors | orderBy:id:true'
    style = 'background-color: #f2f2f2;'>
      <input
      type = 'checkbox'
      ng-model = 'error.is_checked'>
      {{error.translations[lang]}}
      <br>
    </div>

    <p ng-show = 'allErrors[otherErrorIndex].validated'>
      {{allErrors[otherErrorIndex].text}}
    </p>

    <textarea type="text" rows = '3'
    class = 'edit-input'
    ng-model = 'allErrors[otherErrorIndex].text'
    ng-show = 'allErrors[otherErrorIndex].is_checked && !allErrors[otherErrorIndex].validated'></textarea>
    <br>

    <button
    ng-click = 'validateOtherReason()'
    ng-show= 'allErrors[otherErrorIndex].is_checked && !allErrors[otherErrorIndex].validated'
    >
    {{texts.validate[lang]}}
    </button>
    <br>

    <input
    type = 'checkbox'
    ng-model = 'errorsRemark.checked'>
    {{texts.write_rem[lang]}}
    <br>

    <p ng-show = 'errorsRemark.validated'>
      {{errorsRemark.text}}
    </p>

    <textarea type="text" rows = '3'
    class = 'edit-input'
    ng-model = 'errorsRemark.text'
    ng-show = 'errorsRemark.checked && !errorsRemark.validated'></textarea>
    <br>

    <button
    ng-click = 'validateErrorsRemark()'
    ng-show= 'errorsRemark.checked  && !errorsRemark.validated'
    >
    {{texts.validate[lang]}}
    </button>

  </div>
  <div
   class = "btn green"
   ng-click= "submitValidation()"
   style = "width: 100%"
   >
   {{texts.validate[lang]}}
 </div>
</div>
