<div class = 'instruction-item' ng-include src = "'../views/geolocalisation/step-bar.html'">
</div>
<div class = 'instruction-item' ng-include src = "'../views/geolocalisation/instruction-title.html'">
</div>
<div class = 'instruction-item' ng-include src = "'../views/geolocalisation/instruction-desc.html'">
</div>
<div class = 'instruction-item  osd'>
  <div ng-include src = "'../views/geolocalisation/osd.html'"></div>
</div>
<div class = 'instruction-item' ng-include src = "'../views/geolocalisation/image-metadata.html'"></div>
<div class = 'instruction-item'>
  <h4>{{image.username}}<h4>
</div>
<div class = 'instruction-item'>
  <div ng-include src="'../views/geolocalisation/validation_com.html'"></div>
</div>
<div class = 'instruction-item'>
  <div class = 'step-box'>
    <div class = 'step-item'>
      <div
        id = "back"
        class="btn white"
        ng-click= "changeStep('backward')"
        ng-show = 'show.back'
        >
        {{texts.previousStep[lang]}}
      </div>
    </div>
  </div>
</div>
