<div class = 'instruction-item' ng-include src = "'../views/geolocalisation/step-bar.html'">
</div>
<div class = 'instruction-item' ng-include src = "'../views/geolocalisation/instruction-title.html'">
</div>
<div class = 'instruction-item' ng-include src = "'../views/geolocalisation/instruction-desc.html'">
</div>
<div class = 'instruction-item osd'>
  <div ng-include src = "'../views/geolocalisation/osd.html'"></div>
</div>
<div class = 'instruction-item' ng-include src = "'../views/geolocalisation/image-metadata.html'"></div>
<div class = 'instruction-item'>
  <h4>{{image.original_id}}<h4>
</div>
<div class = 'instruction-item'>
  <h4>{{image.username}}<h4>
</div>
<div class = 'instruction-item buffer'>
</div>
<div class = 'instruction-item'>
  <div class = 'step-box'>
    <div class = 'step-item resize'>
      <div
        class="btn yellow"
        ng-click= "rejectGeoloc()"
        uib-tooltip={{texts.reject[lang]}}
        style = 'width: 100%'
        >
        {{texts.reject[lang]}}
      </div>
    </div>
    <div class = 'step-item resize'>
     <div
      class="btn white"
      ng-click= "improveGeoloc()"
      uib-tooltip={{texts.improve[lang]}}
      style = 'width: 100%'
      >
      {{texts.improve[lang]}}
    </div>
    </div>
    <div class = 'step-item resize'>
     <div
      class="btn green"
      ng-click= "validateGeoloc()"
      uib-tooltip='Validate'
      style = 'width: 100%'
      >
      Validate
    </div>
    </div>
  </div>
</div>
