<div class="divTable">
  <div class="divTableBody">
    <div class="divTableRow">
      <div class="divTableCell middle"
      ng-click = 'moveUp()'
      uib-tooltip ="{{texts.up[lang]}}"
      tooltip-placement ='top'
      tooltip-class = 'cesium-move-ttip'
      tooltip-append-to-body = 'true'
      >
      <i class="fa fa-caret-up" aria-hidden="true"
      ></i>
      </div>
    </div>
    <div class="divTableRow">
      <div class="divTableCell  middle">
      </div>
    </div>
    <div class="divTableRow">
      <div class="divTableCell  middle"
      ng-click = 'moveDown()'
      uib-tooltip ="{{texts.down[lang]}}"
      tooltip-placement ='top'
      tooltip-class = 'cesium-move-ttip'
      tooltip-append-to-body = 'true'>
      <i class="fa fa-caret-down" aria-hidden="true"
      ></i>
      </div>
    </div>
  </div>
</div>
