<div class="divTable">
  <div class="divTableBody">
    <div class="divTableRow">
      <div class="divTableCell middle"
      ng-click = 'zoomIn()'
      uib-tooltip ="{{texts.in[lang]}}"
      tooltip-placement ='top'
      tooltip-class = 'cesium-move-ttip'
      tooltip-append-to-body = 'true'
      >
        <i class="fa fa-plus" aria-hidden="true"

        ></i>
      </div>
    </div>
    <div class="divTableRow">
      <div class="divTableCell  middle">
      </div>
    </div>
    <div class="divTableRow">
      <div class="divTableCell  middle"
      ng-click = 'zoomOut()'
      uib-tooltip ="{{texts.out[lang]}}"
      tooltip-placement ='top'
      tooltip-class = 'cesium-move-ttip'
      tooltip-append-to-body = 'true'
      >
        <i class="fa fa-minus" aria-hidden="true"
        ></i>
      </div>
    </div>
  </div>
</div>
