<!DOCTYPE html>
<html>
  <title>smapshot: about</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin"> -->
  <!-- Bootstrap core CSS -->
  <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../bower_components/angular-animate/angular-animate.min.js"></script>


  <script type="text/javascript" src="../bower_components/angular-sanitize/angular-sanitize.js"></script>

  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/bower_components/satellizer/dist/satellizer.min.js"></script>
  <script
  src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit"
  async defer
  ></script>
  <script type="text/javascript" src="/bower_components/angular-recaptcha/release/angular-recaptcha.js"></script>

  <script src="../scripts/authApp.js"></script>
  <script src="../scripts/controllers/authController.js"></script>
  <script src="../scripts/services/authService.js"></script>
  <script src="../scripts/constants/authConstants.js"></script>
  <script type="text/javascript" src="../scripts/aboutApp.js"></script>
  <script type="text/javascript" src="../scripts/controllers/aboutController.js"></script>


  <script type="text/javascript" src="../bower_components/ui-bootstrap/ui-bootstrap-tpls-1.3.3.min.js"></script>

  <!-- Custom styles -->
  <link href="../stylesheets/myapp.css" rel="stylesheet">
</head>
<body ng-app='aboutApp' ng-controller = 'aboutCtrl'>
  <div id="wrapper">

    <div id="header">
      <div ng-include src="'../views/header.html'"></div>
      <img style="max-width: 100%;height: auto;" src="../icons/banner.png">
    </div><!-- #header -->

    <div id="content">
      <div class="container-fluid">
        <div class = "row">
          <div class = "col-md-offset-3 col-lg-offset-3 col-md-6 col-lg-6" style="margin-bottom:100px">
            <uib-accordion close-others="true" >
							<uib-accordion-group  ng-repeat="paragraph in paragraphs" >
                <uib-accordion-heading>
                  <h2>{{paragraph[lang].title}}</h2>
                </uib-accordion-heading>
                <div ng-bind-html="paragraph[lang].text">
                </div>
              </uib-accordion-group>
            </uib-accordion>
          </div>
        </div>
        <!-- is-open='true'ng-repeat="paragraph in paragraphs" <div class="panel-default" class="row" ng-repeat="paragraph in paragraphs"> class="text-justify"  is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled"-->
        <!-- <div ng-class="$even ? 'row bg-white' : 'row bg-green'" ng-repeat="paragraph in paragraphs">
          <div class ="col-md-offset-3 col-lg-offset-3 col-md-6 col-lg-6">
            <h2 class="cover-heading">{{paragraph.fr.title}}</h2>
            <div ng-bind-html="paragraph.fr.text">
            </div>
          </div>
        </div> -->
      </div>
    </div><!-- #content -->

    <!-- <div id="footer">
      <div class= "footer bg-grey-footprint" ng-include src="'../views/footer.html'"></div>
    </div> -->
    <!-- #footer -->

    <div id='footerBottom' ng-include src="'../views/footer.html'">
    </div>
  </div><!-- #wrapper -->



</body>

</html>
