<!DOCTYPE html>
<html>

<head>
  <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>

  <!-- Bootstrap core CSS -->
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../bower_components/ui-bootstrap/ui-bootstrap-tpls-1.3.3.min.js"></script>

  <!-- for text -->
  <script type="text/javascript" src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
  <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <!-- for login -->
  <script src="/bower_components/satellizer/dist/satellizer.min.js"></script>
  <script
  src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit"
  async defer
  ></script>
  <script type="text/javascript" src="/bower_components/angular-recaptcha/release/angular-recaptcha.js"></script>

  <!-- Custom styles -->
  <style>
    @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
  </style>
  <link href="../stylesheets/help.css" rel="stylesheet">
  <link href="../stylesheets/ownerHome.css" rel="stylesheet">

  <script src="../scripts/authApp.js"></script>
  <script src="../scripts/controllers/authController.js"></script>
  <script src="../scripts/services/authService.js"></script>
  <script src="../scripts/constants/authConstants.js"></script>

  <!-- <script type="text/javascript" src="../scripts/searchApp.js"></script>
  <script type="text/javascript" src="../scripts/services/searchService.js"></script>
  <script type="text/javascript" src="../scripts/imageQueryApp.js"></script>
  <script type="text/javascript" src="../scripts/services/imageQueryService.js"></script> -->

  <script type="text/javascript" src="../scripts/textApp.js"></script>
  <script type="text/javascript" src="../scripts/services/textService.js"></script>

  <script type="text/javascript" src="../scripts/langApp.js"></script>
  <script type="text/javascript" src="../scripts/services/langService.js"></script>

  <script type="text/javascript" src="../scripts/contactApp.js"></script>
  <script type="text/javascript" src="../scripts/controllers/contactController.js"></script>

  <style>
  </style>


  <title>smapshot help</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
</head>
<body  ng-app='contactApp' ng-controller = 'contactCtrl'>
  <div class="row" id = 'menu'>
    <div class ="col-md-offset-1 col-lg-offset-1 col-md-10 col-lg-10">
      <div class = "headerBox">
        <div class = 'headerItem'>
          <a href="/home" target="_self" >
            <img src="../icons/logo_smapshot_long.svg" style="height: 64px; width: auto"></img>
          </a>
        </div>
        <div class = 'headerItem middle'>
        </div>
        <div class = 'headerItem'>
          <h3 class = "menus-text hover" ng-click = 'goToMap()'>{{texts.visit[lang]}}</h3>
        </div>
        <div class = 'headerItem'>
          <h3 class = "menus-text hover"  ng-click = 'goToGeoref()'>{{texts.participate[lang]}}</h3>
        </div>
        <!-- <div class = 'headerItem'>
          <h3 class = "menus-text hover" ng-click = 'clickMy()'>{{texts.login[lang]}}</h3>
        </div> -->
        <div class = 'headerItem'>
          <div class = "menus-lang">
            <div uib-dropdown>
              <img
                uib-dropdown-toggle
                src="../icons/globe.svg"
                height="30px"/>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
               <li>
                 <p ng-click = "switchLang('fr')">Français</p>
                 <p ng-click = "switchLang('de')">Deutsch</p>
                 <p ng-click = "switchLang('it')">Italiano</p>
                 <p ng-click = "switchLang('en')">English</p>
               </li>
             </ul>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id = 'centerContainer'>

    <!-- <h2>{{texts.titleContribute[lang]}}</h2>
    <h3>{{texts.contributeGeolocTitle[lang]}}</h3>
    <p ng-bind-html="texts.contributeGeolocText[lang]"></p> -->
    <h2>{{texts.contributeImageTitle[lang]}}</h2>
    <p>{{texts.contributeImageTextPublic[lang]}}</p>
    <p>{{texts.contributeImageTextInstitution[lang]}}</p>
    <h2>smapshot team</h2>
    <p><span class="glyphicon glyphicon-envelope"></span> timothee.produit[at]heig-vd.ch</p>
    <p><span class="glyphicon glyphicon-envelope"></span> jens.ingensand[at]heig-vd.ch<p>
    <p><span class="glyphicon glyphicon-link"></span><a href = "http://insit.heig-vd.ch/pr%C3%A9sentation/laboratoires/g%C3%A9oinformatique-et-sig"> http://insit.heig-vd.ch</a></p>

  </div>
 </div>
</body>
</html>
