<!DOCTYPE html>
<html>

<head>

  <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
  <!-- <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin"> -->
  <!-- Bootstrap core CSS -->
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../bower_components/ui-bootstrap/ui-bootstrap-tpls-1.3.3.min.js"></script>

  <!-- for text -->
  <script type="text/javascript" src="../bower_components/angular-sanitize/angular-sanitize.js"></script>

  <!-- for login -->
  <script src="/bower_components/satellizer/dist/satellizer.min.js"></script>
  <script
  src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit"
  async defer
  ></script>
  <script type="text/javascript" src="/bower_components/angular-recaptcha/release/angular-recaptcha.js"></script>

  <script src="../scripts/authApp.js"></script>
  <script src="../scripts/controllers/authController.js"></script>
  <script src="../scripts/services/authService.js"></script>
  <script src="../scripts/constants/authConstants.js"></script>

  <script type="text/javascript" src="../scripts/contactApp.js"></script>
  <script type="text/javascript" src="../scripts/controllers/contactController.js"></script>

  <!-- Custom styles -->
  <link href="../stylesheets/myapp.css" rel="stylesheet">

  <title>smapshot</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app='contactApp' ng-controller = 'contactCtrl'><!---->
  <div id="wrapper" >

    <div id="header">
      <div ng-include src="'../views/header.html'"></div>
      <img style="    max-width: 100%;height: auto;" src="../icons/banner.png">
    </div><!-- #header -->

    <div id="content">
      <div class="container-fluid">
        <div class="row bg-white" >
          <div class ="col-md-offset-3 col-lg-offset-3 col-md-6 col-lg-6">
            <h2>{{texts.titleContribute[lang]}}</h2>
            <h3>{{texts.contributeGeolocTitle[lang]}}</h3>
            <p ng-bind-html="texts.contributeGeolocText[lang]"></p>
            <h3>{{texts.contributeImageTitle[lang]}}</h3>
            <p>{{texts.contributeImageTextPublic[lang]}}</p>
            <p>{{texts.contributeImageTextInstitution[lang]}}</p>
            <h2>smapshot team</h2>
            <p><span class="glyphicon glyphicon-envelope"></span> timothee.produit[at]heig-vd.ch</p>
            <p><span class="glyphicon glyphicon-envelope"></span> jens.ingensand[at]heig-vd.ch<p>
            <p><span class="glyphicon glyphicon-link"></span><a href = "http://insit.heig-vd.ch/pr%C3%A9sentation/laboratoires/g%C3%A9oinformatique-et-sig"> http://insit.heig-vd.ch</a></p>
          </div>
        </div>
      </div>
    </div><!-- #content -->


    <!-- <div id="footer">
      <div class= "footer bg-grey-footprint" ng-include src="'../views/footer.html'"></div>
    </div> -->
    <!-- #footer -->
    <div id='footerBottom' ng-include src="'../views/footer.html'">
    </div>

  </div><!-- #wrapper -->



</body>

</html>
