<!DOCTYPE html>
<html>

<head>
  <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
  <!-- <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin"> -->

  <!-- Bootstrap core CSS -->
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <script type="text/javascript" src="../bower_components/ui-bootstrap/ui-bootstrap-tpls-1.3.3.min.js"></script>
  <script src="/bower_components/satellizer/dist/satellizer.min.js"></script>

  <!-- Openseadragon -->
  <script type="text/javascript" src="../bower_components/openseadragon/built-openseadragon/openseadragon/openseadragon.min.js"></script>
  <script type="text/javascript" src="../scripts/directives/angular-osd-simple.js"></script>

  <!-- Generate csv -->
  <script  type="text/javascript"  src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script  type="text/javascript"  src="../bower_components/ng-csv/build/ng-csv.min.js"></script>


  <script type="text/javascript" src="/bower_components/angular-recaptcha/release/angular-recaptcha.js"></script>

  <style>
    @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
  </style>

  <script src="../scripts/authApp.js"></script>
  <script src="../scripts/controllers/authController.js"></script>
  <script src="../scripts/services/authService.js"></script>
  <script src="../scripts/constants/authConstants.js"></script>

  <script src="../scripts/imageQueryApp.js"></script>
  <script src="../scripts/services/imageQueryService.js"></script>

  <script src="../scripts/dbApp.js"></script>
	<script src="../scripts/services/dbService.js"></script>

  <script src="../scripts/validationsApp.js"></script>
  <script src="../scripts/services/validationsService.js"></script>

  <script src="../scripts/volunteersApp.js"></script>
  <script src="../scripts/services/volunteersService.js"></script>

  <!-- <script src="../scripts/errorsApp.js"></script>
  <script src="../scripts/services/errorsService.js"></script> -->

  <script src="../scripts/problemsApp.js"></script>
  <script src="../scripts/services/problemsService.js"></script>

  <script src="../scripts/correctionsApp.js"></script>
  <script src="../scripts/services/correctionsService.js"></script>

  <script src="../scripts/remarksApp.js"></script>
  <script src="../scripts/services/remarksService.js"></script>

  <script src="../scripts/observationsApp.js"></script>
  <script src="../scripts/services/observationsService.js"></script>

  <script src="../scripts/ownerQueryApp.js"></script>
  <script src="../scripts/services/ownerQueryService.js"></script>

  <script src="../scripts/searchApp.js"></script>
  <script src="../scripts/services/searchService.js"></script>

  <script src="../scripts/collectionsQueryApp.js"></script>
  <script src="../scripts/services/collectionsQueryService.js"></script>

  <script src="../scripts/badGeolocApp.js"></script>
  <script src="../scripts/services/badGeolocService.js"></script>

  <script type="text/javascript" src="../scripts/dashboardApp.js"></script>
  <script type="text/javascript" src="../scripts/controllers/dashboardController.js"></script>

  <link href="../stylesheets/menu-left.css" rel="stylesheet">
  <!-- <link href="../stylesheets/mysmapshot.css" rel="stylesheet"> -->
  <link href="../stylesheets/ranking.css" rel="stylesheet">
  <link href="../stylesheets/dashboard.css" rel="stylesheet">

  <title>smapshot: dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app='dashboardApp' ng-controller = 'dashboardCtrl'>
  <div id = 'box'>
    <div class = 'box-item-fix'>
      <div ng-include src="'../views/dashboard/menu-left.html'"></div>
    </div>
    <div class = 'box-item-fix' ng-if = 'currentMode === 0 || currentMode === 1 || currentMode === 2 || currentMode === 3 || currentMode === 9'>
      <div ng-include src="'../views/dashboard/filters.html'"></div>
    </div>
    <div class = 'box-item-fix' ng-if = 'currentMode === 3'>
      <div ng-include src="'../views/dashboard/filters_images.html'"></div>
    </div>
    <div class = 'box-item-fix' ng-if = 'currentMode === 4'>
      <div ng-include src="'../views/dashboard/rankingFilters.html'"></div>
    </div>
    <div class = 'box-item-fix' ng-if = 'currentMode === 5'>
      <div ng-include src="'../views/dashboard/filters_emails.html'"></div>
    </div>
    <div class = 'box-item-fix' ng-if = 'currentMode === 6'>
      <div ng-include src="'../views/dashboard/filters_download.html'"></div>
    </div>
    <div class = 'box-item-fix' ng-if = 'currentMode === 7'>
      <div ng-include src="'../views/dashboard/filters_roles.html'"></div>
    </div>
    <div class = 'box-item-fix' ng-if = 'currentMode === 10'>
      <div ng-include src="'../views/dashboard/filters_badGeoloc.html'"></div>
    </div>
    <div class = 'box-item-resize'>
      <div ng-switch on="modes[currentMode]" style = 'height: 100%'>
        <div ng-switch-default>
          <div  id = 'my-box'  > Default</div>
        </div>
        <div ng-switch-when="notLogged">
          <div  id = 'my-box' ng-include src = "'../views/dashboard/login.html'"></div>
        </div>
        <div ng-switch-when="geolocalizations">
          <div  id = 'my-box' ng-include src = "'../views/dashboard/geolocalizations.html'"></div>
        </div>
        <div ng-switch-when="observations">
          <div  id = 'my-box' ng-include src = "'../views/dashboard/observations.html'"></div>
        </div>
        <div ng-switch-when="metadata">
          <div  id = 'my-box' ng-include src = "'../views/dashboard/metadata.html'"></div>
        </div>
        <div ng-switch-when="images">
          <div  id = 'my-box' ng-include src = "'../views/dashboard/images.html'"></div>
        </div>
        <div ng-switch-when="ranking">
          <div  id = 'my-box' ng-include src = "'../views/dashboard/ranking.html'"></div>
        </div>
        <div ng-switch-when="roles">
          <div  id = 'my-box' ng-include src = "'../views/dashboard/roles.html'"></div>
        </div>
        <div ng-switch-when="problems">
          <div  id = 'my-box' ng-include src = "'../views/dashboard/problems.html'"></div>
        </div>
        <div ng-switch-when="mailing">
          <div  id = 'my-box' ng-include src = "'../views/dashboard/mailing.html'"></div>
        </div>
        <div ng-switch-when="download">
          <div  id = 'my-box' ng-include src = "'../views/dashboard/download.html'"></div>
        </div>
        <div ng-switch-when="badGeoloc">
          <div  id = 'my-box' ng-include src = "'../views/dashboard/badGeoloc.html'"></div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
