<!-- <div class="container-fluid text-center">
  <div class = "row"> -->
<div class='itemFooterLogo'>
  <img src="../icons/heig_vd_black.png" style="height: 64px;" class="img-responsive"></img>
</div>
<div class='itemFooterText'>
  <p class = 'footer-text'>T. Produit, J. Ingensand, <a href="http://insit.heig-vd.ch/">Institut insit</a></p></br>
  <p class = 'footer-text'>Supporté par la fondation <a href="http://www.haslerstiftung.ch/">Hasler</a></p>
</div>
    <!-- </div>
</div> -->
