

<!DOCTYPE html>
<html>
<head>
	<base href='http://localhost:8080/'>
	<title>Numerik Game</title>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>@import url(../cesium/Build/Cesium/Widgets/widgets.css);</style>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">

	<link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script-->
	<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../bower_components/angular-animate/angular-animate.min.js"></script>

	<!-- Leaflet -->
	<script src="../bower_components/leaflet/dist/leaflet.js"></script>
	<script type="text/javascript" src="../bower_components/proj4/dist/proj4.js"></script>
	<script src="../bower_components/Proj4Leaflet/src/proj4leaflet.js"></script>
	<script src="../bower_components/leaflet-wmts/leaflet-tilelayer-wmts.js"></script>
	<script src="../bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
	<link rel="stylesheet" href="../bower_components/leaflet/dist/leaflet.css" />

	<!-- Openseadragon -->
	<script type="text/javascript" src="../bower_components/openseadragon/built-openseadragon/openseadragon/openseadragon.min.js"></script>
	<script type="text/javascript" src="../scripts/directives/angular-osd-game.js"></script>

	<!-- Cesium -->
	<script type="text/javascript" src="../cesium/Build/Cesium/Cesium.js"></script>
	<script type="text/javascript" src="../scripts/directives/angular-cesium-game.js"></script>

	<!-- Geolib -->
	<script type="text/javascript" src="../bower_components/Geolib/dist/geolib.js"></script>
	<script type="text/javascript" src="../bower_components/turf/turf.min.js"></script>

	<!-- Coordinate transformation -->

	<script type="text/javascript" src="../bower_components/mathjs/dist/math.min.js"></script>

	<!-- Pose estimation -->
	<script type="text/javascript" src="../bower_components/mathjs/dist/math.min.js"></script>
	<!-- <script type="text/javascript" src="../bower_components/geojson/geojson.min.js"></script> -->
	<script type="text/javascript" src="../scripts/optimisation.js"></script>

	<script type="text/javascript" src="../scripts/gameApp.js"></script>
	<script type="text/javascript" src="../scripts/controllers/gameController.js"></script>

	<!--script type="text/javascript" src="../bower_components/ui-bootstrap/ui-bootstrap-tpls-1.3.3.min.js"></script-->
	<script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<!--script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap-min.js"></script-->

	<!-- Custom styles -->
  <link href="../stylesheets/myapp.css" rel="stylesheet">
	<link href="../stylesheets/myapp-animate.css" rel="stylesheet">
</head>

<body ng-app="gameApp" ng-controller = 'gameCtrl'>
	<div id="wrapper">

		<div id="header">
			<div ng-include src="'../views/header.html'"></div>
		</div><!-- #header -->

		<div id="content">
			<script type="text/ng-template" id="initial.html">
				<div class="modal-header">
						<h3 class="modal-title">Dans la caméra de Grand-Papa.</h3>
				</div>
				<div class="modal-body">
					<p>Dans ce jeu, tu dois retrouver la position du photographe lorsqu'en 1900 il avait pris la photo qui est montrée à droite.</br>
						Commence par trouver le bon canton, en un minimum de clics.</br>
						Si tu n'as aucune idée tu peux libérer un indice.
					</p>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" type="button" ng-click="closeInitial()">OK</button>
				</div>
			</script>
			<script type="text/ng-template" id="cantonFound.html">
				<div class="modal-header">
						<h3 class="modal-title">Tu as trouvé le bon canton.</h3>
				</div>
				<div class="modal-body">
					<p>Tu as fait {{nErrors}} erreur(s).</br>
						Ton score actuel est {{final}}/60.</br></br>
						Dans la prochaine étape, tu devras trouver la cellule dans la quelle le photographe se trouvait.
					</p>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" type="button" ng-click="closeCantonFound()">OK</button>
				</div>
			</script>
			<script type="text/ng-template" id="cellFound.html">
				<div class="modal-header">
						<h3 class="modal-title">Tu as trouvé la bonne cellule.</h3>
				</div>
				<div class="modal-body">
					<p>Tu as fait {{nErrors}} erreur(s).</br>
						Ton score actuel est {{final}}/60.</br></br>
						Dans la prochaine étape, tu devras trouver un lieu qui se trouve à 1km de la position du photographe.
						Analyse bien la carte pour le trouver en un minimum de clics.
					</p>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" type="button" ng-click="closeCellFound()">OK</button>
				</div>
			</script>
			<script type="text/ng-template" id="locationFound.html">
				<div class="modal-header">
						<h3 class="modal-title">Tu as trouvé un lieu qui est à {{distance}}km du vrai lieu.</h3>
				</div>
				<div class="modal-body">
					<p>Tu as fait {{nErrors}} erreur(s).</br>
						Ton score actuel est {{final}}/60.</br></br>
						Dans la prochaine étape, tu devras indiquer la direction de la caméra à 20 degrés près.
					</p>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" type="button" ng-click="closeLocationFound()">OK</button>
				</div>
			</script>
			<script type="text/ng-template" id="directionFound.html">
				<div class="modal-header">
						<h3 class="modal-title">Tu as indiqué une direction qui est à {{distance}} degrés de la vraie direction.</h3>
				</div>
				<div class="modal-body">
					<p>Tu as fait {{nErrors}} erreur(s).</br>
						Ton score actuel est {{final}}/60.</br></br>
						Dans la prochaine étape, un globe virtuel te montre la vue depuis le lieu et la direction que tu as indiqués.
						Tu dois cliquer sur des lieux correspondants dans l'image et dans le globe virtuel.
						Ces correspondances vont permettre de calculer la position et l'angle de vue de l'appareil photo.</br></br>
						Si la vue générée ne te permet pas de trouver des correspondances, tu peux cliquer sur je suis coincé.
						Cela te rapprochera de la vrai position.
					</p>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" type="button" ng-click="closeDirectionFound()">OK</button>
				</div>
			</script>
			<script type="text/ng-template" id="poseComputed.html">
				<div class="modal-header">
						<h3 class="modal-title">Les cinq correspondances nous ont permis de calculer un lieu qui est à {{distance}}m du lieu du photographe.
							Tu perds {{distancePenalty}} points.
						</h3>
				</div>
				<div class="modal-body">
					<p>
						{{congratulation}} Ton score final est {{final}} sur 60 points possibles</br></br>
						La carte te permet de comparer la position calculée grâce à tes points de correspondance et la position vraie.</br>
						Un lien te permet de voir la solution en 3D.
					</p>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" type="button" ng-click="closePoseComputed()">OK</button>
				</div>
			</script>
			<!--  width = '500px' height = '500px' style="width: 400px; height: 400px;"-->

			<div ng-cloak class = "container-fluid">
				<!--STEP INFORMATION-->
				<div class = "row" ng-hide="poseComputed">
					<div class="col-md-12 col-lg-12">
						<h3><b>Etape {{gameSteps.curStep.id}}:</b> {{gameSteps.curStep.task}}</h3>
					</div>
				</div>
				<div class = "row" ng-show="poseComputed">
					<div class="col-md-12 col-lg-12">
						<h3><b>Titre:</b> {{image.title}}</h3>
					</div>
				</div>
				<!--MAP, OPENSEADRAGON, CESIUM-->
				<div ng-cloak class = "row">
					<!--CESIUM-->
					<div ng-cloak ng-class="widgetSize" ng-show = "cesiumBool" id="cesiumContainer" style="width: {{leafWidth}}px; height: {{leafHeight}}px">
						<ac-map
						terrain="terrainProvider"
						provided-camera = "providedCamera"
						gcp = "myGCPs"
						image = "image"
						message = "message"
						game-steps = "gameSteps"
						selection-function = 'selectGCP'
						cesium-gcp-function = 'cesiumGCP'
						>
						</ac-map>
						<!-- up -->
						<img ng-cloak  style = "position: absolute; top: 0%; right: {{leafWidth/2-32}}px; z-index: 2;" src = '../icons/up.png' ng-click= "moveUp()"></img>
						<!-- down -->
						<img ng-cloak  style = "position: absolute; bottom: 0%; right: {{leafWidth/2-32}}px; z-index: 2;" src = '../icons/down.png' ng-click= "moveDown()"></img>
						<!-- right -->
						<img ng-cloak  style = "position: absolute; top: {{leafHeight/2-32}}px; left: 16px; z-index: 2;" src = '../icons/left.png' ng-click= "moveLeft()"></img>
						<!-- left -->
						<img ng-cloak  style = "position: absolute; top: {{leafHeight/2-32}}px; left: {{leafWidth-80}}px; z-index: 2;" src = '../icons/right.png' ng-click= "moveRight()"></img>
					<!-- </div> -->
					</div>
					<!--MAP-->
					<div ng-cloak ng-class="widgetSize" ng-show="leafletBool"><!-- class = "col-md-6 col-lg-6"layers="layers"  event-broadcast="events" bounds="bounds" event-broadcast="events" -->
						<leaflet
						defaults = 'map.defaults'
						lf-center="center"
						markers = "markers"
						geojson = "geojson"
						geojson-nested="true"
						paths="paths"
						height="{{leafHeight}}"
						width="{{leafWidth}}"
						layers="map.layers"
						>
						</leaflet>
						<!-- up -->
						<img ng-cloak  style = "position: absolute; top: 0%; right: {{leafWidth/2-32}}px; z-index: 2;" src = '../icons/up.png' ng-click= "moveLeafUp()"></img>
						<!-- down -->
						<img ng-cloak  style = "position: absolute; bottom: 0%; right: {{leafWidth/2-32}}px; z-index: 2;"src = '../icons/down.png' ng-click= "moveLeafDown()"></img>
						<!-- right -->
						<img ng-cloak  style = "position: absolute; top: {{leafHeight/2-32}}px; left: 16px; z-index: 2;"src = '../icons/left.png' ng-click= "moveLeafLeft()"></img>
						<!-- left -->
						<img ng-cloak style = "position: absolute; top: {{leafHeight/2-32}}px; left: {{leafWidth-48}}px; z-index: 2;" src = '../icons/right.png' ng-click= "moveLeafRight()"></img>
					</div>
					<!--OPENSEADRAGON-->
					<div  ng-cloak ng-class="widgetSize" ng-show = "osdBool" id="seadragon-viewer" ng-style="osdStyle" ><!--class = "col-md-6 col-lg-6" -->
						<seadragon
						options="optionsViewer"
						name="mysd"
						gcp="myGCPs"
						selection-function = 'selectGCP'
						draw-gcp = "drawGCP"
						osd-gcp-function = 'osdGCP'
						>
					</div>
				</div>
				<!--CESIUM BUTTONS-->
				<div ng-cloak class = "row" ng-hide="poseComputed">
					<div class = "col-md-6 col-lg-6" ng-show="cesiumBool">
						<!--button
						class="btn btn-primary"
						ng-click= "reinitializeCamera()">
						Réinitialiser la vue 3D
					</button-->
						<button
							class="btn btn-primary"
							ng-click= "changeCameraPosition()">
							Je suis coincé (-5pts)
						</button>
						<button
							class="btn btn-primary"
							ng-click= "zoomIn()">
							zoomer
						</button>
						<button
							class="btn btn-primary"
							ng-click= "zoomOut()">
							dézoomer
						</button>
				</div>
			<!-- </div> -->
			<!--MESSAGES-->
			<!-- <div ng-cloak class = "row" > -->
				<div class="col-md-6 col-lg-6" ng-hide="cesiumBool">
					<div uib-collapse="isCollapsed" collapsed='openNextMessage()'>
						<div uib-alert ng-class="cssMessage.current" close="">
						<!--div class="well well-lg"-->
							<strong>{{message}}</strong>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-6">
					<button
					class="btn btn-danger"
					ng-click= "getClue()"
					ng-show="clueBool">
					Libérer l'indice (-10pts)
					</button>
				</div>
			</div>
			<!--3D SOLUTION-->
			<div ng-cloak class = "row" ng-show="poseComputed">
				<div class="col-md-12 col-lg-12">
					<div uib-alert class="alert-success alertBtn" close="" ng-click = "goToMono()">
					<!-- <button
					ng-show="poseComputed"
					class="btn btn-primary btn-md"
					ng-click = "goToMono()"> -->
						<h4 style='text-align:center'><strong>Voir la solution en 3D</strong></h4>
					</div>
				</div>
			</div>
			<div ng-cloak class = "row" ng-show="poseComputed">
				<div class="col-md-12 col-lg-12">
					<a>
					<div uib-alert class="alert-success alertBtn" close="" ng-click = "goToGame()">
					<!-- <button
					ng-show="poseComputed"
					class="btn btn-primary btn-md"
					ng-click = "goToMono()"> -->
						<h4 style='text-align:center'><strong>Rejouer</strong></h4>
					</div>
				</a>
				</div>
			</div>
			<!--SCORE-->
			<div ng-cloak class = "row">
				<div class="col-md-12 col-lg-12">
					<h4><b>Ton score:</h4>
				</div>
			</div>
			<div ng-cloak class = "row">
				<div class="col-md-12 col-lg-12">
					<uib-progress ng-cloak class="progress-striped" max = '70'><!--uib-bar ng-repeat="bar in stacked track by $index" value="bar.value" type="{{bar.type}}" max="bar.max"><span>{{bar.point}}</span></uib-bar-->
						<!--Bar for the remaining steps-->
						<uib-bar value="score.remainingPoints+5" type="{{score.finalType}}"><span>Score actuel: {{score.final}}</span></uib-bar>
						<!--Bar for the current step {{score.partialType}} type="info"-->
						<uib-bar value="score.partial+5" type="{{score.partialType}}"><span>Score de l'étape: {{score.partial}}</span></uib-bar>
					</uib-progress>
				</div>
			</div>
			<div ng-cloak class = "row">
				<div class = "col-md-6 col-lg-6" ng-show="solutionBool">
					<button
					 class="btn btn-primary"
					 ng-click= "">
					 Voir la solution
				 </button>
				</div>
			</div>
		</div>
		</div><!-- #content -->

		<div id="footer">
			<div class= "footer bg-grey-footprint" ng-include src="'../views/footer.html'"></div>
		</div><!-- #footer -->

	</div><!-- #wrapper -->

</body>
</html>
