<div class = 'georefStepsContainer '>
  <div ng-class="{1: 'georefStepItem currentStep', 2: 'georefStepItem pastStep', 3: 'georefStepItem pastStep', 4: 'georefStepItem pastStep', 5: 'georefStepItem pastStep'}[gameSteps.curStep.id]">
    <i class="fa fa-map" aria-hidden="true"></i>
    {{texts.provideCanton[lang]}}</div>
  <div ng-class="{1: 'right-triangle past', 2: 'right-triangle  past', 3: 'right-triangle past', 4: 'right-triangle past', 5: 'right-triangle past'}[gameSteps.curStep.id]"></div>

  <div ng-class="{1: 'georefStepItem', 2: 'georefStepItem currentStep', 3: 'georefStepItem pastStep', 4: 'georefStepItem pastStep', 5: 'georefStepItem pastStep'}[gameSteps.curStep.id]">
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    {{texts.provideCell[lang]}}
  </div>
  <div ng-class="{1: 'right-triangle ', 2: 'right-triangle past', 3: 'right-triangle past', 4: 'right-triangle past', 5: 'right-triangle past'}[gameSteps.curStep.id]"></div>

  <div ng-class="{1: 'georefStepItem', 2: 'georefStepItem', 3: 'georefStepItem currentStep', 4: 'georefStepItem pastStep', 5: 'georefStepItem pastStep'}[gameSteps.curStep.id]">
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    {{texts.provideLocation[lang]}}
  </div>
  <div ng-class="{1: 'right-triangle', 2: 'right-triangle', 3: 'right-triangle past', 4: 'right-triangle past', 5: 'right-triangle past'}[gameSteps.curStep.id]"></div>

  <div ng-class="{1: 'georefStepItem', 2: 'georefStepItem', 3: 'georefStepItem', 4: 'georefStepItem currentStep', 5: 'georefStepItem pastStep'}[gameSteps.curStep.id]">
    <i class="fa fa-compass" aria-hidden="true"></i>
    {{texts.provideDirection[lang]}}
  </div>
  <div ng-class="{1: 'right-triangle', 2: 'right-triangle', 3: 'right-triangle', 4: 'right-triangle', 5: 'right-triangle past'}[gameSteps.curStep.id]"></div>

  <div ng-class="{1: 'georefStepItem', 2: 'georefStepItem', 3: 'georefStepItem', 4: 'georefStepItem', 5: 'georefStepItem currentStep'}[gameSteps.curStep.id]">
    <i class="fa fa-crosshairs" aria-hidden="true"></i>
    {{texts.provideCorrespondences[lang]}}</div>
</div>
