<div class = 'georefStepsContainer '>
  <div ng-class="{1: 'georefStepItem currentStep', 2: 'georefStepItem pastStep', 3: 'georefStepItem pastStep', 4: 'georefStepItem pastStep'}[stepNo]">
    <i class="fa fa-picture-o" aria-hidden="true"></i>
    {{texts.chooseImage[lang]}}
  </div>
  <div ng-class="{1: 'right-triangle past', 2: 'right-triangle past', 3: 'right-triangle past', 4: 'right-triangle past'}[stepNo]"></div>

  <div ng-class="{1: 'georefStepItem', 2: 'georefStepItem currentStep', 3: 'georefStepItem pastStep', 4: 'georefStepItem pastStep'}[stepNo]">
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    {{texts.provideLocation[lang]}}
  </div>
  <div ng-class="{1: 'right-triangle', 2: 'right-triangle past', 3: 'right-triangle  past', 4: 'right-triangle  past'}[stepNo]"></div>

  <div ng-class="{1: 'georefStepItem', 2: 'georefStepItem', 3: 'georefStepItem currentStep', 4: 'georefStepItem pastStep'}[stepNo]">
    <i class="fa fa-compass" aria-hidden="true"></i>
    {{texts.provideDirection[lang]}}
  </div>
  <div ng-class="{1: 'right-triangle', 2: 'right-triangle', 3: 'right-triangle past', 4: 'right-triangle  past'}[stepNo]"></div>

  <div ng-class="{1: 'georefStepItem', 2: 'georefStepItem', 3: 'georefStepItem', 4: 'georefStepItem currentStep'}[stepNo]">
    <i class="fa fa-crosshairs" aria-hidden="true"></i>
    {{texts.provideCorrespondences[lang]}}
  </div>
</div>
