<nav id = "headerBar" class="navbar navbar-default">
 <div class="container-fluid" ng-app>
   <div class = "row">
     <!-- <div id = "logos" class="col-md-3 col-lg-3">
       <img src="../icons/logo.png" style="height: 64px;" class="img-responsive"></img>
       <h3>sMapshot</h3>
     </div>
     <div class="col-md-9 col-lg-9"> -->



     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <!-- <span class="icon-bar"></span> -->
         <!-- <span class="icon-bar"></span> -->
         <!-- <span class="icon-bar"></span> -->
         <!-- <span class="icon-bar"></span> -->
       </button>
     </div>
     <div class="collapse navbar-collapse" id="myNavbar">
       <div id = "logos" class="col-md-2 col-lg-2">
         <a href="/home" target="_self" >
           <img src="../icons/logo.png" style="height: 64px;" class="img-responsive"></img>
         </a>
         <h3>smapshot</h3>
       </div>
       <div class="col-md-10 col-lg-10">
         <ul class="nav navbar-nav navbar-right">
           <li><a href="/" target="_self" >{{hTexts.home[lang]}}</a></li>
           <li><a href="/map/" target="_self" >{{hTexts.map[lang]}}</a></li>
           <li><a href="/mono/?collectionId=1" target="_self" >{{hTexts.globe[lang]}}</a></li>
           <!-- <li><a href="/news/" target="_self" >News</a></li> -->
           <!-- <li><a href="/game/" target="_self" >{{hTexts.game[lang]}}</a></li> -->
           <li><a href="/help/" target="_self" >{{hTexts.contribute[lang]}}</a></li>
           <li><a href="/contact/" target="_self" >{{hTexts.contact[lang]}}</a></li>
           <!-- <li><a href="/about/" target="_self" >{{hTexts.about[lang]}}</a></li> -->
           <li><a ng-click = "clickMy()">{{myName}}</a></li>
           <!-- <li class = "languageLink">
             <a class = "languageLink" ng-click = "switchToFrench()">FR</a>
             <a class = "languageLink" ng-click = "switchToGerman()">DE</a>

           </li>
           <li class = "languageLink">
             <a class = "languageLink" ng-click = "switchToItalian()">IT</a>
             <a class = "languageLink" ng-click = "switchToEnglish()">EN</a>
           </li> -->
           <li>
             <div class="btn-group" uib-dropdown>
               <button type="button" class="btn btn-default btn-sm" uib-dropdown-toggle>
                 {{lang}}  <span class="caret"></span>
               </button>
               <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li>
                  <a ng-click = "switchToFrench()">FR</a>
                  <a ng-click = "switchToGerman()">DE</a>
                  <a ng-click = "switchToItalian()">IT</a>
                  <a ng-click = "switchToEnglish()">EN</a>
                </li>
              </ul>
            </div>
          </li>
           <!-- <li><a href="/login/">Login</a></li> -->
         </ul>
       </div>
     </div>
   </div>
 </div>
</nav>
