<nav id = "headerBar" class="navbar navbar-default">
 <div class="containerHeaderSmall" ng-app>
   <div class = "itemHSLogo">
     <a href="/home" target="_self" >
       <img src="../icons/logo_smapshot_short.svg" style="height: 64px;" class="img-responsive" >
     </a>
   </div>
   <div class="btn-group" uib-dropdown>
     <button type="button" class="btn btn-default btn-sm" uib-dropdown-toggle>
       {{lang}}  <span class="caret"></span>
     </button>
     <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
      <li>
        <a ng-click = "switchLang('fr')">FR</a>
        <a ng-click = "switchLang('de')">DE</a>
        <a ng-click = "switchLang('it')">IT</a>
        <a ng-click = "switchLang('en')">EN</a>
      </li>
    </ul>
  </div>
 </div>
</nav>
