<!DOCTYPE html>
<html>

<head>
  <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>

  <!-- Bootstrap core CSS -->
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../bower_components/ui-bootstrap/ui-bootstrap-tpls-1.3.3.min.js"></script>

  <!-- for text -->
  <script type="text/javascript" src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
  <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <!-- for login -->
  <script src="/bower_components/satellizer/dist/satellizer.min.js"></script>
  <script
  src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit"
  async defer
  ></script>
  <script type="text/javascript" src="/bower_components/angular-recaptcha/release/angular-recaptcha.js"></script>

  <!-- Custom styles -->
  <style>
    @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
  </style>
  <link href="../stylesheets/help.css" rel="stylesheet">
  <link href="../stylesheets/ownerHome.css" rel="stylesheet">

  <script src="../scripts/authApp.js"></script>
  <script src="../scripts/controllers/authController.js"></script>
  <script src="../scripts/services/authService.js"></script>
  <script src="../scripts/constants/authConstants.js"></script>

  <script type="text/javascript" src="../scripts/searchApp.js"></script>
  <script type="text/javascript" src="../scripts/services/searchService.js"></script>

  <script type="text/javascript" src="../scripts/imageQueryApp.js"></script>
  <script type="text/javascript" src="../scripts/services/imageQueryService.js"></script>

  <script type="text/javascript" src="../scripts/textApp.js"></script>
  <script type="text/javascript" src="../scripts/services/textService.js"></script>

  <script type="text/javascript" src="../scripts/langApp.js"></script>
  <script type="text/javascript" src="../scripts/services/langService.js"></script>

  <script type="text/javascript" src="../scripts/helpApp.js"></script>
  <script type="text/javascript" src="../scripts/controllers/helpController.js"></script>

  <style>
  </style>


  <title>smapshot help</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
</head>
<body  ng-app='helpApp' ng-controller = 'helpCtrl'>
  <div class="row" id = 'menu'>
    <div class ="col-md-offset-1 col-lg-offset-1 col-md-10 col-lg-10">
      <div class = "headerBox">
        <div class = 'headerItem'>
          <a href="/home" target="_self" >
            <img src="../icons/logo_smapshot_long.svg" style="height: 64px; width: auto"></img>
          </a>
        </div>
        <div class = 'headerItem middle'>
        </div>
        <div class = 'headerItem'>
          <h3 class = "menus-text hover" ng-click = 'goToMap()'>{{texts.visit[lang]}}</h3>
        </div>
        <div class = 'headerItem'>
          <h3 class = "menus-text hover"  ng-click = 'goToGeoref()'>{{texts.participate[lang]}}</h3>
        </div>
        <!-- <div class = 'headerItem'>
          <h3 class = "menus-text hover" ng-click = 'clickMy()'>{{texts.login[lang]}}</h3>
        </div> -->
        <div class = 'headerItem'>
          <div class = "menus-lang">
            <div uib-dropdown>
              <img
                uib-dropdown-toggle
                src="../icons/globe.svg"
                height="30px"/>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
               <li>
                 <p ng-click = "switchLang('fr')">Français</p>
                 <p ng-click = "switchLang('de')">Deutsch</p>
                 <p ng-click = "switchLang('it')">Italiano</p>
                 <p ng-click = "switchLang('en')">English</p>
               </li>
             </ul>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id = 'centerContainer'>
  <div class = 'icon-container'>
    <div class="icon-item"  ng-click = 'goToTuto()'>
      <p class="icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>
      <p class='icon-title'>{{texts.tutorial[lang]}}</p>
    </div>
    <div class="icon-item" ng-click = 'goToProblems()'>
      <p class="icon"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></p>
      <p class='icon-title'>{{texts.geolocProblems[lang]}}</p>
    </div>
    <div class="icon-item" ng-click = 'goToErrors()'>
        <p class="icon"><i class="fa fa-times-circle" aria-hidden="true"></i></p>
        <p class='icon-title'>{{texts.frequentErrors[lang]}}</p>
    </div>
  </div>
  <div class='accordion-box'>
    <h2 id = 'tutorial'>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      {{texts.tutorial[lang]}}
    </h2>

    <uib-accordion class = 'accordion' close-others="true">
      <div id = 'tuto1' uib-accordion-group class="panel-default"  is-open="tutorial['tuto1'].isOpen" is-disabled="false">
        <uib-accordion-heading >
          <div class = 'acc-title' ng-click = "clickTitle()">
            {{texts.tuto1_title[lang]}}
          </div>
        </uib-accordion-heading>
        <p ng-bind-html="texts.tuto1_text[lang]">
        </p>
        <br>
        <p class = 'center-img'><img class = 'tuto-img' src = '../icons/tutorial/selection.jpg'></img></p>
      </div>
      <div id = 'tuto2' uib-accordion-group class="panel-default" is-open="tutorial['tuto2'].isOpen" is-disabled="false">
        <uib-accordion-heading >
          <div class = 'acc-title' ng-click = "clickTitle()">
            {{texts.tuto2_title[lang]}}
          </div>
        </uib-accordion-heading>
        <p ng-bind-html="texts.tuto2_text[lang]">
        </p>
        <p class = 'center-img'><img class = 'tuto-img' src = '../icons/tutorial/location.jpg'></img></p>
      </div>
      <div id = 'tuto3' uib-accordion-group class="panel-default" is-open="tutorial['tuto3'].isOpen" is-disabled="false">
        <uib-accordion-heading >
          <div class = 'acc-title' ng-click = "clickTitle()">
            {{texts.tuto3_title[lang]}}
          </div>
        </uib-accordion-heading>
        <p ng-bind-html="texts.tuto3_text[lang]">
        </p>
        <p class = 'center-img'><img class = 'tuto-img'  src = '../icons/tutorial/direction.jpg'></img></p>
      </div>
      <div id = 'tuto4' uib-accordion-group class="panel-default" is-open="tutorial['tuto4'].isOpen" is-disabled="false">
        <uib-accordion-heading >
          <div class = 'acc-title' ng-click = "clickTitle()">
            {{texts.tuto4_title[lang]}}
          </div>
        </uib-accordion-heading>
        <div ng-bind-html="texts.tuto4_text1[lang]"></div>
        <div ng-bind-html="texts.tuto4_text2[lang]"></div>
        <p class = 'center-img'><img class = 'tuto-img'  src = '../icons/tutorial/correspondences.jpg'></img></p>
        <div ng-bind-html="texts.tuto4_text6[lang]"></div>
        <p class = 'center-img'>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/UIc9C7imaxk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
          </iframe>
        </p>
        <div ng-bind-html="texts.tuto4_text3[lang]"></div>
        <div ng-bind-html="texts.tuto4_text4[lang]"></div>
        <div ng-bind-html="texts.tuto4_text5[lang]"></div>
      </div>
      <div id = 'tuto5' uib-accordion-group class="panel-default" is-open="tutorial['tuto5'].isOpen" is-disabled="false">
        <uib-accordion-heading >
          <div class = 'acc-title' ng-click = "clickTitle()">
          {{texts.tuto5_title[lang]}}
          </div>
        </uib-accordion-heading>
        <div ng-bind-html="texts.tuto5_text1[lang]"></div>
        <div ng-bind-html="texts.tuto5_text2[lang]"></div>
      </div>
    </uib-accordion>

  <h2 id = 'problems'>
    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
    {{texts.geolocProblems[lang]}}
  </h2>
  <uib-accordion class = 'accordion' close-others="true" >
    <div id = 'prob1' uib-accordion-group class="panel-default" is-open="problems['prob1'].isOpen" is-disabled="false">
      <uib-accordion-heading>
        <div class = 'acc-title' ng-click = "clickProblem()">
          {{texts.prob1_title[lang]}}
        </div>
      </uib-accordion-heading>
      <p ng-bind-html="texts.prob1_text[lang]">
      </p>
    </div>
    <div id = 'prob2' uib-accordion-group class="panel-default" is-open="problems['prob2'].isOpen" is-disabled="false">
      <uib-accordion-heading>
        <div class = 'acc-title' ng-click = "clickProblem()">
          {{texts.prob2_title[lang]}}
        </div>
      </uib-accordion-heading>
      <p ng-bind-html="texts.prob2_text[lang]"></p>
    </div>
    <div id = 'prob3' uib-accordion-group class="panel-default"  is-open="problems['prob3'].isOpen" is-disabled="false">
      <uib-accordion-heading>
        <div class = 'acc-title' ng-click = "clickProblem()">
          {{texts.prob3_title[lang]}}
        </div>
      </uib-accordion-heading>
      <p ng-bind-html="texts.prob3_text[lang]">
      </p>
    </div>
    <div id = 'prob4' uib-accordion-group class="panel-default" is-open="problems['prob4'].isOpen" is-disabled="false">
      <uib-accordion-heading>
        <div class = 'acc-title' ng-click = "clickProblem()">
          {{texts.prob4_title[lang]}}
        </div>
      </uib-accordion-heading>
      <p ng-bind-html="texts.prob4_text[lang]">
      </p>
    </div>
  </uib-accordion>

  <h2 id = 'errors'>
    <i class="fa fa-times-circle" aria-hidden="true"></i>
    {{texts.frequentErrors[lang]}}
  </h2>
  <uib-accordion class = 'accordion' close-others="true">
    <div id = 'error2' uib-accordion-group class="panel-default" is-open="errors['error2'].isOpen" is-disabled="false">
      <uib-accordion-heading>
        <div class = 'acc-title' ng-click = "clickError()">
          {{texts.error2_title[lang]}}
        </div>
      </uib-accordion-heading>
      <p ng-bind-html="texts.error2_text[lang]">
      </p>
    </div>
    <div id = 'error3' uib-accordion-group class="panel-default" is-open="errors['error3'].isOpen" is-disabled="false">
      <uib-accordion-heading>
        <div  class = 'acc-title' ng-click = "clickError()">
          {{texts.error3_title[lang]}}
        </div>
      </uib-accordion-heading>
      <p ng-bind-html="texts.error3_text[lang]">
      </p>
    </div>
    <div id = 'error4' uib-accordion-group class="panel-default" is-open="errors['error4'].isOpen" is-disabled="false">
      <uib-accordion-heading>
        <div  class = 'acc-title' ng-click = "clickError()">
          {{texts.error4_title[lang]}}
        </div>
      </uib-accordion-heading>
      <p ng-bind-html="texts.error4_text[lang]">
      </p>
    </div>
    <div id = 'error5' uib-accordion-group class="panel-default" is-open="errors['error5'].isOpen" is-disabled="false">
      <uib-accordion-heading>
        <div  class = 'acc-title' ng-click = "clickError()">
          {{texts.error5_title[lang]}}
        </div>
      </uib-accordion-heading>
      <p ng-bind-html="texts.error5_text[lang]">
      </p>
    </div>
    <div id = 'error6' uib-accordion-group class="panel-default" is-open="errors['error6'].isOpen" is-disabled="false">
      <uib-accordion-heading>
        <div  class = 'acc-title' ng-click = "clickError()">
          {{texts.error6_title[lang]}}
        </div>
      </uib-accordion-heading>
      <p ng-bind-html="texts.error6_text[lang]">
      </p>
    </div>
  </uib-accordion>
  <h2>{{texts.no_answer[lang]}}</h2>
  <p><b>{{texts.contact[lang]}}</b> timothee.produit[at]heig-vd.ch</p>
  </div>
 </div>
</body>
</html>
