<!DOCTYPE html>
<html>
    <head>
        <meta property="og:title" content="{{og.title}}" />
        <meta property="og:description" content="{{og.description}}" />
        <meta property="og:image" content="{{og.imageUrl}}" />
        <meta property="og:url" content="{{og.link}}" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="{{og.sitename}}" />
        <meta property="fb:app_id" content="1728750624056757" />
        <!-- etc. -->
    </head>
    <body>
        <h1>{{og.title}}</h1>
        <p>{{og.description}}</p>
        <img src="{{og.imageUrl}}">
    </body>
</html>
