<html>

<head>
  <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
  <!-- Bootstrap core CSS -->
  <link href="/bower_components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../bower_components/ui-bootstrap/ui-bootstrap-tpls-1.3.3.min.js"></script>

  <!-- <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script> -->
  <script src="/bower_components/satellizer/dist/satellizer.min.js"></script>
  <script
    src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit"
    async defer
  ></script>
  <script type="text/javascript" src="/bower_components/angular-recaptcha/release/angular-recaptcha.js"></script>

  <!-- Custom styles -->
  <link href="../stylesheets/myapp.css" rel="stylesheet">

  <script src="../scripts/authApp.js"></script>
  <script src="../scripts/controllers/authController.js"></script>
  <script src="../scripts/services/authService.js"></script>
  <script src="../scripts/constants/authConstants.js"></script>

  <!-- <script src="js/constants.js"></script> -->

  <title>smapshot: login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app='authApp' ng-controller = 'loginCtrl'>

  <div id="wrapper">

    <div id="header">
      <div ng-include src="'../views/header_small.html'"></div>
    </div>
    <div id="content">
      <div class="container">
        <div class="row" ng-show = "showSocialLogin">
          <h4>{{texts.title[lang]}}</h4>
        </div>

        <div class="row" ng-show = "showSocialLogin">
          <a class="btn btn-social btn-google" ng-click="authenticateSocial('google')">
            <span class="fa fa-google"></span> {{texts.googleLogin[lang]}}
          </a>
          <a class="btn btn-social btn-facebook" ng-click="authenticateSocial('facebook')">
            <span class="fa fa-facebook"></span> {{texts.facebookLogin[lang]}}
          </a>
          <a class="btn btn-social btn-twitter" ng-click="enableLocalAuthentication()">
            <span></span> {{texts.localLogin[lang]}}
          </a>
        </div>
        <div class="row" ng-show="localAuthentication">
          <button class="btn btn-default" ng-click="enableLogin()">{{texts.haveAccount[lang]}}</button>
          <button class="btn btn-default" ng-click="enableRegister()">{{texts.newAccount[lang]}}</button><br>
          <button class="btn btn-primary" ng-click="back()">{{texts.back[lang]}}</button>
        </div>
        <div class="row" ng-show="showLogin">
          <input type="text" placeholder="Email" ng-model="volunteer.email">
          <input type="password" placeholder="Password" ng-model="volunteer.password">
          <button class="btn btn-default" ng-click="login()">
            {{texts.login[lang]}}
          </button>
          <br>
          <button class="btn btn-danger" ng-click="resetPassword()">
            {{texts.forgotPwd[lang]}}
          </button>
          <!-- <a style = 'cursor: pointer' ng-click="resetPassword()">{{texts.forgotPwd[lang]}}</a> -->
          <br>
          <button class="btn btn-primary" ng-click="back()">{{texts.back[lang]}}</button>
        </div>
        <form ng-show="showRegister">
          <div class="row">
            <input type="text" placeholder="Username" ng-model="volunteer.username">
          </div>
          <div class="row">
            <input type="text" placeholder="e-mail" ng-model="volunteer.email">
          </div>
          <div class="row">
            <input type="password" placeholder="Password" ng-model="volunteer.password">
          </div>
          <div class="row">
            <input type="password" placeholder="{{texts.repeatPwd[lang]}}" ng-model="volunteer.password_repeat">
          </div>
          <div class="row">
            <div
              vc-recaptcha
              key="'6LdkIwwUAAAAAJg2L0W6Fd6-37CzxCM5_TCFp9VQ'"
              ng-model ="volunteer.gRecaptchaResponse"
            ></div>
          </div>
          <div class="row">
            <button ng-class="{'btn btn-default': formIsValid, 'btn btn-default disabled': formIsValid == false}"  ng-click="register()">
              {{texts.signUp[lang]}}
            </button>
            <p style="color:red">{{rejectMessage}}</p>
          </div>
          <button class="btn btn-primary" ng-click="back()">{{texts.back[lang]}}</button>
        </form>
      </div>
    </div>
    </div>
  </div>
</body>
</html>
