<!DOCTYPE html>
<html>

<head>
  <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
  <!-- Bootstrap core CSS -->
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../bower_components/ui-bootstrap/ui-bootstrap-tpls-1.3.3.min.js"></script>

  <!-- Custom styles -->
  <style>
    @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
  </style>
  <link href="../stylesheets/monoplotting.css" rel="stylesheet">
  <link href="../stylesheets/ownerHome.css" rel="stylesheet">

  <title>Monoplotting</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
</head>
<body >
  <div class="row" id = 'menu'>
    <div class ="col-md-offset-1 col-lg-offset-1 col-md-10 col-lg-10">
      <div class = "headerBox">
        <div class = 'headerItem'>
          <a href="/home" target="_self" >
            <img src="../icons/logo_smapshot_long.svg" style="height: 64px; width: auto"></img>
          </a>
        </div>
        <div class = 'headerItem middle'>
        </div>
        <!-- <div class = 'headerItem'>
          <h3 class = "menus-text hover" ng-click = 'goToMap()'>Besichtigen</h3>
        </div>
        <div class = 'headerItem'>
          <h3 class = "menus-text hover"  ng-click = 'goToGeoref()'>Teilnehmen</h3>
        </div>
        <div class = 'headerItem'>
          <h3 class = "menus-text hover" ng-click = 'clickMy()'>Login</h3>
        </div> -->
        <!-- <div class = 'headerItem'>
          <div class = "menus-lang">
            <div uib-dropdown>
              <img
                uib-dropdown-toggle
                src="../icons/globe.svg"
                height="100%"/>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
               <li>
                 <p ng-click = "switchToFrench()">Français</p>
                 <p ng-click = "switchToGerman()">Deutsch</p>
                 <p ng-click = "switchToItalian()">Italiano</p>
                 <p ng-click = "switchToEnglish()">English</p>
               </li>
             </ul>
           </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div id = 'centerContainer'>
    <h1>
      How to extract geographic data from images
    </h1>
    <h2> Stereo-photogrammetry</h2>
    <p>
      Monophotogrammetry is opposed to stereo-photogrammetry.
      In stereo-photogrammetry, a collection of overlapping images is used to compute a 3D model which can be textured by the images.
      Stereo-photogrammetry is the state of the art for the generation and extraction of geographic data from images.
      In smapshot few images can be used with a stereo-photogrammetry software: only images shot the same day with a large overlap could be used in this way.
    </p>
    <p><a href = 'https://en.wikipedia.org/wiki/Comparison_of_photogrammetry_software'>See the list of photogrammetry software</a></p>
    <h2>Mono-photogrammetry</h2>
    <p>
      However, currently, most of the archive images can’t be processed with stereo-photogrammetry software.
      Indeed, typically, the images were shot randomly without a need of a homogeneous coverage of the territory (as in regular photogrammetry projects).
      By mixing several collections, in famous areas, we can get a better coverage and overlap but then, the variations due to the time, seasons and illumination challenge the image matching algorithms.
    </p>
    <p>
      Hence, one who want to extract geographic information of archive images have to use monophotogrammetry.
      With a single images it is impossible to recover the depth of the scene.
      However, once that image location and orientation is accurately computed, the image can be aligned with a 3D model, exactly in the same way as in smapshot’s 3D viewer.
      As a result, the 3D world coordinate of a pixel can be recovered.
      Systems which provide the direct relation of an image and a 3D model are called monoplotters.
      Currently monoplotters are used to extract information from historical images or to monitor an area with a single camera.
    </p>
    <h1>
      Monoplotting tools
    </h1>
    <p>
      If you are interested to test or use such tools, there are (at least) two solutions :
    </p>
    <h2>WSL Monoplotting tool</h2>
    <p>
      The WSL developped a monoplotter.
      It is well proofed and used by many scientists in many publications.
    </p>
    <p>
      More infos <a href = 'https://www.wsl.ch/en/services-and-products/software-websites-and-apps/monoplotting-tool.html'>here</a>.
    </p>
    <img src = 'https://www.wsl.ch/fileadmin/user_upload/WSL/Services_Produkte/Software_Apps/Monoplotting/curve_livello.jpg'></img>

    <h2>
      QGIS plugin Pic2Map
    </h2>
    <p>
      This monoplotter for QGIS was developped during a master project at EPFL.
      It is experimental.
      Its main advantages are its integration within a GIS for a direct interaction between the picture and the map.
    </p>
    <p>
      More infos here <a href = 'https://plugins.qgis.org/plugins/Pic2Map/'>here</a>
    </p>
    <img src = 'https://github.com/tproduit/pic2map/raw/master/images/GCPApproach.png'></img>

    <h1>
      smapshot and monoplotting
    </h1>
    <p>
      Claudio Bozzini (developper of the WSL monoplotting tool) and us are interested by your monoplotting case studies and needs.
      If the interest of the professional and scientific communities are confirmed, in the future we would like to improve the interaction of smapshot with the monoplotters or add monoplotting functionalities to smapshot.
    </p>
    <!-- <h1>
      Monoplotting publications
    </h1>
    <p>
      <ul>
        <li>
        </li>
      </ul>
    </p> -->

  </div>
</body>
</html>
