<!DOCTYPE html>
<html>

<head>
  <base href="/">
  <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
  <script>
    // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    // })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    // ga('create', 'UA-90951518-1', 'auto');
    // ga('send', 'pageview');
  </script>
  <!-- Bootstrap core CSS -->
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <!-- Custom styles -->
  <link href="../stylesheets/myapp.css" rel="stylesheet">

  <script type="text/javascript" src="../bower_components/ui-bootstrap/ui-bootstrap-tpls-1.3.3.min.js"></script>
  <script src="/bower_components/satellizer/dist/satellizer.min.js"></script>
  <script type="text/javascript" src="../bower_components/angular-sanitize/angular-sanitize.js"></script>

  <script type="text/javascript" src="/bower_components/angular-recaptcha/release/angular-recaptcha.js"></script>
  <script src="../scripts/authApp.js"></script>
  <script src="../scripts/controllers/authController.js"></script>
  <script src="../scripts/services/authService.js"></script>
  <script src="../scripts/constants/authConstants.js"></script>

  <script src="../scripts/newsApp.js"></script>
  <script src="../scripts/services/newsService.js"></script>
  <script type="text/javascript" src="../scripts/controllers/newsController.js"></script>

  <style>
  .newBox {
    border-radius: 20px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
  }
  .newBox img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /*.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }*/
  .newsContainer{
    max-height: 100%;
  }
  </style>

  <title>smapshot: news</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app='newsApp' ng-controller = 'newsCtrl'>
  <div ng-include src="'../views/header.html'"></div>
  <div class="newsContainer" >
    <div class = "row">
      <div class ="col-md-offset-2 col-lg-offset-2 col-sm-12 col-md-8 col-lg-8">
        <span uib-dropdown on-toggle="toggled(open)">
          <button type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
            {{texts.chooseCat[lang]}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li>
              <a ng-click='changeCategory("all")'>{{texts.all[lang]}}</a>
              <a ng-click='changeCategory("media")'>{{texts.media[lang]}}</a>
              <a ng-click='changeCategory("volunteers")'>{{texts.volunteers[lang]}}</a>
              <a ng-click='changeCategory("events")'>{{texts.events[lang]}}</a>
              <a ng-click='changeCategory("pictures")'>{{texts.pictures[lang]}}</a>
            </li>
          </ul>
        </span>
      </div>
    </div>
      <div ng-repeat="new in news | filter:filters">
        <div class = "row">
          <div class ="col-md-offset-2 col-lg-offset-2 col-sm-12 col-md-8 col-lg-8">
            <div class = "newBox">
              <p><b>{{texts.category[lang]}}</b>{{new.category}}</p>
              <h4>{{new.title[lang]}}</h4>
              <img width=50% ng-src = "{{new.image_path}}">
              <div ng-bind-html="new.text[lang]"></div>
              <!-- <p>{{new.author}}</p> -->
              <p>{{new.date}}-{{new.month}}-{{new.year}}</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</body>
</html>
