<!DOCTYPE html>
<html>

<head>
  <base href="/">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-90951518-1', 'auto');
    ga('send', 'pageview');
  </script>
  <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>

  <!-- Bootstrap core CSS -->
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../bower_components/ui-bootstrap/ui-bootstrap-tpls-1.3.3.min.js"></script>
  <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <!-- for text -->
  <script type="text/javascript" src="../bower_components/angular-sanitize/angular-sanitize.js"></script>

  <!-- for login -->
  <script src="/bower_components/satellizer/dist/satellizer.min.js"></script>
  <script
  src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit"
  async defer
  ></script>
  <script type="text/javascript" src="/bower_components/angular-recaptcha/release/angular-recaptcha.js"></script>

  <script src="../scripts/authApp.js"></script>
  <script src="../scripts/controllers/authController.js"></script>
  <script src="../scripts/services/authService.js"></script>
  <script src="../scripts/constants/authConstants.js"></script>

  <script type="text/javascript" src="../scripts/ownerQueryApp.js"></script>
  <script type="text/javascript" src="../scripts/services/ownerQueryService.js"></script>

  <script type="text/javascript" src="../scripts/volunteersApp.js"></script>
  <script type="text/javascript" src="../scripts/services/volunteersService.js"></script>

  <script type="text/javascript" src="../scripts/imageQueryApp.js"></script>
  <script type="text/javascript" src="../scripts/services/imageQueryService.js"></script>

  <script type="text/javascript" src="../scripts/langApp.js"></script>
  <script type="text/javascript" src="../scripts/services/langService.js"></script>

  <script type="text/javascript" src="../scripts/collectionsQueryApp.js"></script>
  <script type="text/javascript" src="../scripts/services/collectionsQueryService.js"></script>

  <script type="text/javascript" src="../scripts/ownerApp.js"></script>
  <script type="text/javascript" src="../scripts/controllers/ownerController.js"></script>

  <script type="text/javascript" src="../scripts/directives/challenge-image.js"></script>

  <style>
    @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
  </style>

  <link rel="stylesheet" href="../stylesheets/ownerHome.css">

  <title>smapshot</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body  ng-app='ownerApp' ng-controller = 'ownerCtrl'>
  <div class = 'header'>
    <div id = "lang-row" class="row" >
      <div class ="col-xs-offset-9 col-sm-offset-10 col-xs-3 col-sm-2">
        <div uib-dropdown>
          <h3 class = "menus-lang hover" style='text-align: right'  uib-dropdown-toggle>
            <img
              src="../icons/globe.svg"
              height="30px"/>
            De
          </h3>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
           <li>
             <p ng-click = "switchToFrench()">Fr</p>
             <p ng-click = "switchToGerman()">De</p>
             <p ng-click = "switchToItalian()">It</p>
             <p ng-click = "switchToEnglish()">En</p>
           </li>
         </ul>
        </div>
      </div>
    </div>
    <div id = 'small-header' class="row">
      <div class ="col-xs-12 col-sm-12">
        <div class = "headerSmallBox">
          <div class = 'headerSmallItem'>
            <a href="/home" target="_self" >
              <img src="../icons/logo_smapshot_long.svg"></img>
            </a>
          </div>
          <div class = 'headerSmallItem'>
            <h3 class = 'header-with'>mit</h3>
          </div>
          <div class = 'headerSmallItem'>
            <div class = 'logo'>
              <a href="/home" target="_self" >
                <img ng-src="../data/owners/{{ownerId}}/logo.png" style="height: 32px;"></img>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id = 'menu'>
      <div class ="col-md-offset-1 col-lg-offset-1 col-md-10 col-lg-10">
        <div class = "headerBox">
          <div class = 'headerItem'>
            <a href="/home" target="_self" >
              <img src="../icons/logo_smapshot_long.svg" style="height: 64px; width: auto"></img>
            </a>
          </div>
          <!-- <div class = 'headerItem'>
            <h3 id = 'logo-text' class = 'logo'>SMAPSHOT</h3>
          </div> -->
          <div class = 'headerItem'>
            <h3 class = 'header-with'>{{texts.with[lang]}}</h3>
          </div>
          <div class = 'headerItem'>
            <div class = 'logo'>
              <a href="/home" target="_self" >
                <img ng-src="../data/owners/{{ownerId}}/logo.png" style="height: 32px;"></img>
              </a>
            </div>
          </div>
        <div class = 'headerItem middle'>
        </div>
        <div class = 'headerItem'>
          <div uib-dropdown>
            <h3 class = "menus-bars" uib-dropdown-toggle>
              <i class="fa fa-bars" aria-hidden="true"></i>
            </h3>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
             <li>
               <p ng-click = 'goToMap()'>{{texts.visit[lang]}}</p>
               <p ng-click = 'goToGeoref()'>{{texts.contribute[lang]}}</p>
               <p ng-click = 'clickMy()'>{{myName}}</p>
             </li>
           </ul>
         </div>
        </div>
        <div class = 'headerItem'>
          <h3 class = "menus-text hover" ng-click = 'goToMap()'>{{texts.visit[lang]}}</h3>
        </div>
        <div class = 'headerItem'>
          <h3 class = "menus-text hover"  ng-click = 'goToGeoref()'>{{texts.contribute[lang]}}</h3>
        </div>
        <div class = 'headerItem'>
          <h3 class = "menus-text hover" ng-click = 'clickMy()'>{{myName}}</h3>
        </div>
        <div class = 'headerItem'>
          <div class = "menus-lang">
            <div uib-dropdown>
              <img
                uib-dropdown-toggle
                src="../icons/globe.svg"
                height="30px"/>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
               <li>
                 <p ng-click = "switchLang('fr')">Français</p>
                 <p ng-click = "switchLang('de')">Deutsch</p>
                 <p ng-click = "switchLang('it')">Italiano</p>
                 <p ng-click = "switchLang('en')">English</p>
               </li>
             </ul>
           </div>

          </div>
        </div>
        <div class = 'headerItem'>
          <div class = "menus-lang">
            <div uib-dropdown>
              <h3 class = "menus-text hover" uib-dropdown-toggle>
                {{langs[lang].long}}
                <span class="caret"></span>
              </h3>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
               <li>
                 <p ng-click = "switchLang('fr')">Français</p>
                 <p ng-click = "switchLang('de')">Deutsch</p>
                 <p ng-click = "switchLang('it')">Italiano</p>
                 <p ng-click = "switchLang('en')">English</p>
               </li>
             </ul>
           </div>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class = 'row'>
    <div class ="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <h1>
        {{texts.slogan[lang]}}
      </h1>
    </div>
  </div>
  <div class = 'row'>
    <div class ="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <p class = 'center'>
        {{texts.slogan_exp[lang]}}
      </p>
    </div>
  </div>
  <div class = 'row'>
    <div class ="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <div class = 'wide-button visit'>
        <div class = 'texts'>
          <p class = 'name'>
            {{texts.visit[lang]}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class = 'row'>
    <div class ="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <div class = 'wide-button geoloc'>
        <div class = 'texts'>
          <p class = 'name'>
            {{texts.contribute[lang]}}
          </p>
          <p class = 'under'>
            {{texts.computer_only[lang]}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class = 'row bkg-image'>
    <div class = 'bkg-left'>
    </div>
    <img class = 'image3d' ng-src="../data/owners/{{ownerId}}/banner.jpg" ></img>
    <div class = 'bkg-right'>
    </div>
    <img class = 'pin visit' ng-src="../icons/home/pinVisit_{{lang}}.svg" ng-click='goToMap()'>
    <img class = 'pin participate' ng-src="../icons/home/pinParticipate_{{lang}}.svg" ng-click = 'goToGeoref()'>
  </div>
  <div class = 'row challenge equal'>
    <div class ="col-md-offset-1 col-lg-offset-1 col-md-4 col-lg-4 challenge-image"
    challenge-image-directive = '{{collectionId}}'>
    </div>
    <div class ="col-xs-12 col-sm-12 col-md-6 col-lg-6 challenge-text-box">
      <div id = 'challenge-bar'class = "challenge-bar">
      </div>
      <div class = "challenge-title-percentage">
        <h3 class = "challenge-title">{{texts.cur_challenge[lang]}}</h3>
        <h3 class = "challenge-percentage">{{collection.ratioGeoref}}%</h3>
      </div>
      <div>
        <h2>
          {{collection.name}}
        </h2>
      </div>
      <div>
        <p ng-bind-html="collection.descriptions[lang]">
        </p>
      </div>
      <div style = 'margin-left: 10px'>
        <p style = 'display: inline;'>Best volunteers:</p>
        <p style = 'display: inline; font-weight: 400; color:#20CDAD;'>{{collection.best3[0].username}}, {{collection.best3[1].username}}, {{collection.best3[2].username}}</p>
      </div>
      <div>
        <p style='margin: 10px' class = 'green-button' ng-click = 'goToMapCollection(collection)'>{{texts.visit[lang]}}</p>
        <p style='margin: 10px' class = 'yellow-button' ng-click = 'goToGeorefCollection(collection)'>{{texts.contribute[lang]}}</p>
      </div>
      <div class ="challenge-image-bellow">
        <img ng-src="../data/collections/{{collectionId}}/example/example.jpg" style="width:100%" class="img-responsive"></img>
      </div>
    </div>
  </div>
  <div class = 'row equal'>
    <div class ="col-xs-12 col-sm-12 col-md-offset-1 col-lg-offset-1 col-md-5 col-lg-5">
      <h2>{{owner.name}}</h2>
      <div>
        <p ng-bind-html="owner.descriptions[lang]">
        </p>
      </div>
    </div>
    <div class ="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div class = 'box-img'>
        <img class="img-1" ng-src="../data/owners/{{ownerId}}/ex2.jpg"></img>
        <img class="img-2" ng-src="../data/owners/{{ownerId}}/ex1.jpg"></img>
      </div>
      <div class="link-box">
        <p class="center">
          <a class="home-link" href="/">
            {{texts.more_smapshot[lang]}}
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class = 'row equal'>
    <div class ="col-xs-12 col-sm-12 col-md-offset-1 col-lg-offset-1 col-md-5 col-lg-5">
      <h2>{{texts.leaderboard[lang]}}
        <img src = '../icons/home/trophy.png'>
      </h2>
      <div class = "rank-choices-box">
        <div class = "rank-choices-item">
            <!-- <div uib-dropdown class='date-choice'>
              <p uib-dropdown-toggle class = 'hover'>
                {{listMonths[startMonth].short}}
              </p>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
               <li>
                 <p ng-repeat = 'm in listMonths' ng-click = 'selectStartMonth(m)'>{{m.short}}</p>
               </li>
             </ul>
           </div>
            <div uib-dropdown class='date-choice'>
              <p uib-dropdown-toggle class = 'hover'>
                {{startYear}} -
              </p>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
               <li>
                 <p ng-repeat = 'y in listYears'  ng-click = 'selectStartYear(y)'>
                   {{y}}
                 </p>
               </li>
             </ul>
           </div> -->
            <div uib-dropdown class='date-choice'>
              <p uib-dropdown-toggle  class = 'hover'>
                {{listMonths[endMonth].short}}
              </p>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
               <li>
                 <p ng-repeat = 'm in listMonths'  ng-click = 'selectEndMonth(m)'>{{m.short}}</p>
               </li>
             </ul>
           </div>
            <div uib-dropdown class='date-choice'>
              <p uib-dropdown-toggle  class = 'hover'>
                {{endYear}} <span class="caret"></span>
              </p>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
               <li>
                 <p ng-repeat = 'y in listYears'  ng-click = 'selectEndYear(y)'>
                   {{y}}
                 </p>
               </li>
             </ul>
           </div>
         </div>
         <div class = "rank-choices-item">
            <div uib-dropdown>
              <p uib-dropdown-toggle  class = 'hover'>
                {{selectedCollection}}
                <span class="caret"></span>
              </p>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
               <li>
                 <p ng-repeat = 'c in collections' ng-click= 'selectCollection(c)'>{{c.name}}</p>
               </li>
             </ul>
           </div>
         </div>
       </div>
      <div class = 'table-box'>
      <table>
        <tr>
          <td>
            <div class= 'medal gold'>
                <p class= 'medal-text'>{{dataRanking[0].rank}}</p>
            </div>
          </td>
          <td class = "ranking">{{dataRanking[0].nImages}} {{texts.images[lang]}}</td>
          <td class = "ranking">{{dataRanking[0].username}}</td>
        </tr>
        <tr>
          <td>
            <div class= 'medal silver'>
                <p class= 'medal-text'>{{dataRanking[1].rank}}</p>
            </div>
          </td>
          <td class = "ranking">{{dataRanking[1].nImages}} {{texts.images[lang]}}</td>
          <td  class = "ranking">{{dataRanking[1].username}}</td>
        </tr>
        <tr>
          <td>
            <div class= 'medal bronze'>
                <p class= 'medal-text'>{{dataRanking[2].rank}}</p>
            </div>
          </td>
          <td class = "ranking">{{dataRanking[2].nImages}} {{texts.images[lang]}}</td>
          <td class = "ranking">{{dataRanking[2].username}}</td>
        </tr>
        <tr ng-show = 'showMoreVolunteers' ng-repeat='volunteer in dataRankingEnd'>
          <td>
            <div class= 'medal chocolate'>
                <p class= 'medal-text'>{{volunteer.rank}}</p>
            </div>
          </td>
          <td class = "ranking">{{volunteer.nImages}} {{texts.images[lang]}}</td>
          <td class = "ranking">{{volunteer.username}}</td>
        </tr>
      </table>
    </div>
      <p class='center hover' ng-click = 'moreVolunteers()' ng-hide = 'showMoreVolunteers'>
        + {{texts.show_more_v[lang]}}
      </p>
      <p class='center hover' ng-click = 'moreVolunteers()' ng-show = 'showMoreVolunteers'>
        - {{texts.show_less_v[lang]}}
      </p>
    </div>
    <div class ="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <h2>
        {{texts.stat_title[lang]}}
      </h2>
      <div class = "stat-bar">
        <div class="stat-bar-right">
        </div>
        <div class="stat-bar-left">
        </div>
      </div>
      <table>
        <tr>
          <td>
            <p class = 'stat-num'>{{ratioGeorefOwner}}%</p>
          </td>
          <td>
            <p class = "stat-text">
              {{texts.from[lang]}}
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p class = 'stat-num'>{{nImagesOwner}}</p>
          </td>
          <td>
            <p class = "stat-text">
              {{texts.photos[lang]}}
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p class = 'stat-num'>{{nVolunteers}}</p>
          </td>
          <td>
            <p class = "stat-text">
              {{texts.vol_geoloc[lang]}}
            </p>
          </td>
        </tr>
      </table>
    </div>
    <div class ="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
      <h2>
        {{texts.collections[lang]}}
      </h2>
      <table class = "collections-table | orderBy : '-date_publi'">
        <thead>
          <tr>
            <th class = 'collections-table-heading'></th>
            <th class = 'collections-table-heading'></th>
            <!-- <th>Owner</th> -->
            <th class = 'collections-table-heading'></th>
            <th class = 'collections-table-heading'></th>
            <th class = 'collections-table-heading'></th>
            <th class = 'collections-table-heading'></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat-start = 'c in collectionsTab'>
            <td ng-click = 'openCloseCollection(c)'  class = 'collections-table-td' style = 'cursor: pointer'>+</td>
            <td ng-click = 'openCloseCollection(c)'  class = 'collections-table-td' style = 'width: 40%; cursor: pointer'>{{c.cname}}</td>
            <!-- <td>{{c.oname}}</td> -->
            <td class = 'collections-table-td'>
              <i class="fa fa-image"></i>
              {{c.n_images}}
            </td>
            <td class = 'collections-table-td'>
              <i class="fa fa-map-marker"></i>
              {{c.ratio}}%
            </td>
            <td class = 'collections-table-td'>
              <p style='margin: 10px' class = 'green-button' ng-click = 'goToMapCollection(c)'>{{texts.visit[lang]}}</p>
            </td>
            <td class = 'collections-table-td'>
              <p style='margin: 10px' class = 'yellow-button' ng-click = 'goToGeorefCollection(c)'>{{texts.contribute[lang]}}</p>
            </td>
          </tr>
          <tr ng-show = 'c.showMore'>
            <td class = 'collections-table-td'>
            </td>
            <td class = 'collections-table-td'>
              <img ng-src="../data/collections/{{c.id}}/example/example.jpg" style="width:300px" class="img-responsive"></img>
            </td>
            <td colspan = '4'  class = 'collections-table-td'>
              {{c.long_descr[lang]}}
            </td>
          </tr>
          <tr ng-repeat-end  class = 'collections-table-lines'>
            <td colspan = '6'>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class = 'footer row equal'>
    <div class ="col-xs-12 col-sm-12 col-md-offset-1 col-lg-offset-1 col-md-10 col-lg-10">
      <div class = 'footer-box'>
        <div class = 'footer-item contact'>
          <p>
            {{texts.provide_own[lang]}}
          </p>
          <p class = 'green-button'>
            {{texts.contact_us[lang]}}
          </p>
        </div>
        <div class = 'footer-item'>
          <p class = 'footer-credit'>INSIT Institute</p>
          <p class = 'footer-credit'>MEI Institute</p>
          <p class = 'footer-credit'><img src = '../icons/logo_heigvd.png' ></p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
