<html>

<head>
  <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
  <!-- Bootstrap core CSS -->
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <!-- Custom styles -->
  <link href="../stylesheets/myapp.css" rel="stylesheet">

  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="../scripts/authApp.js"></script>
  <script src="../scripts/controllers/authController.js"></script>
  <script src="../scripts/services/authService.js"></script>
  <script src="../scripts/constants/authConstants.js"></script>

  <title>smapshot: register</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body  ng-app='authApp' ng-controller = 'registerCtrl'>
  <div id="wrapper">
    <div id="header">
      <div ng-include src="'../views/header.html'"></div>
      <img style="    max-width: 100%;height: auto;" src="../icons/banner.png">
    </div>
    <div id="content">
      <div class="container">
        <div class="row">
          <label class="item item-input">
            <input type="text" placeholder="Name" ng-model="volunteer.id">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Password" ng-model="volunteer.password">
          </label>
        </div>
        <button class="button" ng-click="signup()">
          S'enregistrer
        </button>
        <button class="button" ng-click="signupGoogle()">
          S'enregistrer avec Google
        </button>
      </div>
    </div>
    </div>
    <div id="footer">
      <div class="footer bg-grey-footprint">
        <div ng-include src="'../views/footer.html'"></div>
      </div>
    </div>
  </div>
</body>
</html>
