<table id = "image-slider-table">
<tr>
  <td class = "image-in-slider" ng-repeat="image in imagesInSlider | orderBy: 'distance'" style = 'position: relative'>

    <img
    ng-class="{borderImgSelGreen: imageSelected.id == image.id && image.georef_3d_bool, borderImgSelYellow: imageSelected.id == image.id && !image.georef_3d_bool , borderImg: imageSelected.id != image.id}"
    id = "{{image.id}}"
    ng-src = "{{image.thumbSrc}}"
    ng-mouseover = "mouseOverSlider()(image.id)"
    ng-click = "clickSlider()(image.id)"
    class = "img-slider">
    <p ng-show = 'imageSelected.id == image.id' style='position: absolute; top: 0px; left: 0px; padding: 10px; color: white; font-weight: bold; width: 100%; background-color: rgba(0,0,0,0.3)'>{{image.title}}</p>
  </td>
</tr>
</table>
