<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
    .bg-grey {
        background-color: #D8D8D8; /* Green */
        /*color: #ffffff;*/
    }
    .footer {
      position: fixed;
      width: 100%;
      bottom: 0px;
    }
    </style>
  </head>

  <body id = 'upload' ng-app="dbApp" ng-controller = 'dbCtrl'>
    <div ng-include src="'../views/header.html'"></div>
    <section>
    </section>


    <div class="container">
        <h1>Upload database of images</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>

        <a class="btn btn-lg btn-default" ng-click="reinitializeDB()">Reinitialize Database</a>
        <table border="1" style="width:100%">
          <tr>
            <th ng-repeat="name in columnName">{{name}}</th>
          </tr>
          <tr ng-repeat="row in imageTable">
            <td ng-repeat="name in columnName">{{row[name]}}</td>
            <!--td ng-repeat="r in row">{{ r.name }}</td-->
          </tr>
        </table>
        <!--p>Select your CSV file: </p-->
        <p>Select your CSV file:</p>
        <input type="file" file-change handler="uploadCsv(files)">
        <!--p>Select images:</p-->
        <!--form enctype="multipart/form-data">
          <input type="file" multiple file-change handler="uploadImages(files)" >
        </form-->
        <form name="up.upload_form"><!--ng-controller="MyCtrl as up"-->
          Single Image with validations
          <!--input
             type="file"
             ngf-select
             name="file"
             ngf-pattern="'image/*'"
             accept="image/*"
             ngf-max-size="20MB"
             />
          <Image thumbnail: <img style="width:100px;" ngf-thumbnail="file || '/thumb.jpg'"/>
          <i ng-show="upload_form.file.$error.required">*required</i><br>
          <i ng-show="upload_form.file.$error.maxSize">File too large
          {{uploadCtrl.file.size / 1000000|number:1}}MB: max 20M</i>
          <button type="submit" ng-click="submit()">submit</button>
          <p>{{progress}}</p>-->
          <button
            name='files'
            ngf-select="uploadFiles($files)"
            ng-model="files"
            multiple
            accept="image/*">Select Files</button>
          <br>Files:
          <ul>
              <li ng-repeat="f in files" style="font:smaller">
                  {{f.name}}
              </li>
          </ul>
          <!--button type="submit" ng-click="uploadFiles(files)">submit</button-->
        </form>

        <!-- file-field class="btn btn-primary" file-change handler="uploadCsv(files)">Add File</file-field-->
        <!--label class="control-label">Select your CSV File</label>
        <input id="input-1"
        type="file" class="file"
        file-change handler="uploadCsv(files)"
        show-preview = 'false'
        show-upload = 'false'
        show-remove = 'false'-->
      </div>

    </div><!-- /.container -->

    <div class= "footer bg-grey" ng-include src="'../views/footer.html'"></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

    <!-- Angular scripts
    ================================================== -->
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../scripts/dbApp.js"></script>
    <script src="../scripts/controllers/dbControllers.js"></script>

    <!-- CSV import -->
    <script type="text/javascript" src="../bower_components/papaparse/papaparse.min.js"></script>

    <!-- Upload images -->
    <script type="text/javascript" src="../bower_components/ng-file-upload/ng-file-upload.min.js"></script>

  </body>
</html>
