<div id = 'left-menu'>
  <div class = 'menu-item'>
    <img class = 'menu-logo' src = '../icons/logo_text_only.svg' ng-click = 'goHome()'>
  </div>
  <div class = 'menu-item with' ng-if = 'ownerMode'>
    <p>mit</p>
  </div>
  <div class = 'menu-item owner' ng-if = 'ownerMode'>
    <img class = 'menu-owner-logo' ng-src = '../data/owners/{{ownerId}}/logo.png'>
  </div>
  <div class = 'menu-item small with'>
    <p ng-show = 'isLogged' ng-click = "goToMy()">
      <i class="fa fa-user" aria-hidden="true"></i>
      {{myName}}
    </p>
    <p ng-show = '!isLogged' ng-click = "clickMy()">
      <i class="fa fa-user-times" aria-hidden="true"></i>
    </p>
  </div>
  <div
  ng-class = "{'menu-item selected-green': menuMode == 'visit','menu-item': menuMode != 'visit'}"
  ng-click = 'switchToVisit()'
  ng-mouseenter = 'showInfoVisit()'
  ng-mouseleave = 'hideInfoVisit()'
  >
    <img class = 'menu-actions' src = '../icons/binocular.svg'>
    <div class = 'menu-info green'
    ng-show = 'showInfoVisitBool'>
      <p class = 'menu-info-text'>{{texts.infoVisit[lang]}}</p>
    </div>
  </div>
  <div ng-class = "{'menu-item selected-yellow': menuMode == 'geoloc','menu-item': menuMode != 'geoloc'}"
  ng-click = 'switchToGeoloc()'
  ng-mouseenter = 'showInfoGeoloc()'
  ng-mouseleave = 'hideInfoGeoloc()'>
    <img class = 'menu-actions' src = '../icons/geolocalize.svg'>
    <div class = 'menu-info  yellow'
    ng-show = 'showInfoGeolocBool'>
      <p class = 'menu-info-text'>{{texts.infoGeoloc[lang]}}</p>
    </div>
  </div>
  <div ng-class = "{'menu-item selected-violet': menuMode == 'noapriori','menu-item': menuMode != 'noapriori'}"
  ng-click = 'switchToNoApriori()'
  ng-mouseenter = 'showInfoNoApriori()'
  ng-mouseleave = 'hideInfoNoApriori()'>
    <img class = 'menu-actions' src = '../icons/maze.png'>
    <div class = 'menu-info purple'
    ng-show = 'showInfoNoAprioriBool'>
      <p class = 'menu-info-text'>{{texts.infoNoApriori[lang]}}</p>
    </div>
  </div>
  <div class = 'menu-buffer'>
  </div>
  <div class = 'menu-item' ng-click = 'openParameters()'>
    <img class = 'menu-actions' src = '../icons/parameters.png'>
  </div>
  <div class = 'menu-item' ng-click = 'goToHelp()'>
    <img class = 'menu-actions' src = '../icons/question.png'>
  </div>
</div>
