<div class = 'left-box'>
  <div  class = 'left-box-item' >
    <i class="fa fa-chevron-left" aria-hidden="true" style = "width: 100%; text-align: right" ng-click='closeParameters()'></i>
  </div>
  <div  class = 'left-box-item' >
    <h1>
      {{texts.parameters[lang]}}
    </h1>
  </div>
  <div  class = 'left-box-item' >
    <div class = 'left-box-line'>
      <div class = 'left-box-line-item'>
        <h3>
          {{texts.language[lang]}}
        </h3>
      </div>
      <div class = 'left-box-line-item'>
        <div uib-dropdown>
          <h3 class = "menus-text hover" uib-dropdown-toggle>
            {{langs[lang].long}}
            <span class="caret"></span>
          </h3>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
           <li>
             <p ng-repeat = 'l in langs' ng-click = "changeVolunteerLang(l.abr)">{{l.long}}</p>
           </li>
         </ul>
       </div>
      </div>
    </div>
  </div>
  <div  class = 'left-box-item' ng-if = 'isLogged'>
    <div class = 'left-box-line'>
      <div class = 'left-box-line-item'>
        <h3 style = 'cursor: pointer' ng-click = 'goToMy()'>{{myName}}</h3>
      </div>
      <div class = 'left-box-line-item'>
        <div class = 'btn green' ng-click = 'logout()'>
          {{texts.logOut[lang]}}
        </div>
      </div>
    </div>
  </div>
  <div  class = 'left-box-item' ng-if = '!isLogged'>
    <div class = 'left-box-line'>
      <div class = 'left-box-line-item'>
        <h3>
          {{texts.welcome[lang]}}
        </h3>
      </div>
      <div class = 'left-box-line-item'>
        <div class = 'btn green wide' ng-click = 'login()'>
          {{texts.logIn[lang]}}
        </div>
      </div>
    </div>
  </div>
</div>
