<div class = 'mybox-item fix'>
  <h1>Bad Geolocalizations</h1>
</div>
<!-- <div class = 'mybox-item fix'>
  <a ng-click = "openDoc('problems')">Documentation</a>
</div> -->
<div class = 'mybox-item fix'>
  <h4 ng-show= "badGeolocs == []">There is no bad geolocalizations</h4>
  <h4 ng-hide= "badGeolocs == []">There is {{nBadGeolocs}} bad geolocalizations</h4>
</div>
<div class = 'mybox-item fix'>
  <button class="btn btn-primary" type="button" ng-click="getBadGeolocs()">
    Reload
    <i class="fa fa-refresh" aria-hidden="true"></i>
  </button>
</div>
<div class = 'mybox-item resize'>
  <table class = 'validation-table' ng-hide= "badGeolocs == []">
    <thead>
      <tr>
        <th ng-click="sortBy('is_published')">
          <div class = 'col-small'>
          Published
          <span class="sortorder" ng-show="propertyName === 'is_published'" ng-class="{reverse: reverse}"></span>
          </div>
        </th>
        <th ng-click="sortBy('counter')">
          <div class = 'col-small'>
          Counter
          <span class="sortorder" ng-show="propertyName === 'counter'" ng-class="{reverse: reverse}"></span>
          </div>
        </th>
        <th ng-click="sortBy('creation')">
          <div class = 'col-small'>
          Date creation
          <span class="sortorder" ng-show="propertyName === 'creation'" ng-class="{reverse: reverse}"></span>
          </div>
        </th>
        <th ng-click="sortBy('update')">
          <div class = 'col-small'>
          Date update
          <span class="sortorder" ng-show="propertyName === 'update'" ng-class="{reverse: reverse}"></span>
          </div>
        </th>
        <th ng-click="sortBy('image_id')">
          <div class = 'col-medium'>
          Picture
          <span class="sortorder" ng-show="propertyName === 'image_id'" ng-class="{reverse: reverse}"></span>
          </div>
        </th>
        <th  ng-click="sortBy('collectionname')" ng-hide= 'ownerId'>
          <div class = 'col-medium'>
          Collection
          <span class="sortorder" ng-show="propertyName === 'collectionname'" ng-class="{reverse: reverse}"></span>
          </div>
        </th>
        <th  ng-click="sortBy('result')">
          <div class = 'col-small'>
          Result
          <span class="sortorder" ng-show="propertyName === 'result'" ng-class="{reverse: reverse}"></span>
          </div>
        </th>
        <th  ng-click="sortBy('processed')">
          <div class = 'col-small'>
          Processed
          <span class="sortorder" ng-show="propertyName === 'processed'" ng-class="{reverse: reverse}"></span>
          </div>
        </th>
        <th>
          <div class = 'col-medium'>
          Actions
          </div>
        </th>
        <!-- <th>
          <div class = 'col-small'>
          </div>
        </th> -->
        <!-- <th></th> -->
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="bg in badGeolocs  | orderBy:propertyName:reverse">
        <td>
          <div class = 'col-small center'>
          <i ng-show = 'bg.is_published' class="fa fa-circle" style='color:green'></i>
          <i ng-hide = 'bg.is_published' class="fa fa-circle" style='color:red'></i>
          </div>
        </td>
        <td>
          <div class = 'col-small center'>
          {{bg.counter}}
          </div>
        </td>
        <td>
          <div class = 'col-small center'>
          {{bg.creation}}
          </div>
        </td>
        <td>
          <div class = 'col-small center'>
          {{bg.update}}
          </div>
        </td>
        <td>
          <div class = 'col-medium'>
            <b>{{bg.original_id}}</b>
            <br>
            <b>{{bg.image_id}}</b>
          </div>
        </td>
        <td ng-hide= 'ownerId'>
          <div class = 'col-medium'>
          {{bg.ownername}}
          </div>
          <div class = 'col-medium'>
          {{bg.collectionname}}
          </div>
        </td>
        <td>
          <div class = 'col-small'>
          {{bg.result}}
          </div>
        </td>
        <td>
          <div class = 'col-small'>
          {{bg.processed}}
          </div>
        </td>
        <td>
          <div class = 'col-medium'>
            <button class="btn btn-primary" style = 'width: 45%' type="button" ng-click="goToMono(bg.image_id)">Watch 3D</button><br>
            <button class="btn btn-primary" style = 'width: 45%' type="button" ng-click="validateBadGeoloc(bg.image_id)">Validate</button>
            <button class="btn btn-primary" style = 'width: 45%' type="button" ng-click="rejectBadGeoloc(bg.image_id)">Reject</button>
          </div>
        </td>
        <!-- <td>
          <div class = 'col-small'>
          </div>
        </td> -->
        <!-- <td>
          <button ng-hide='image.in_game' class="btn btn-primary" type="button" ng-click="addToGame(image.id)">Add to game</button>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>
