<div  class = 'filter-left-box'>
  <div class = 'filter-left-item'>
    <h3>Filters</h3>
  </div>
  <div class = 'filter-left-item'>
    <h4>Email</h4>
    <input
    type = 'text'
    ng-model = 'roles.search'>
  </div>
  <div class = 'filter-left-item'>
    <button class="btn btn-primary" type="button" ng-click="getUsersByEmail()">Submit</button>
  </div>
</div>
