<div  class = 'filter-left-box'>
  <div class = 'filter-left-item'>
    <h3>Filters</h3>
  </div>
  <div class = 'filter-left-item'>
    <h4>Processed</h4>
    <label>
      <input type="radio"
       ng-model="imageFilter.processed"
       value = 'null'>
       All
    </label>
    <label>
      <input type="radio"
       ng-model="imageFilter.processed"
       value = 'true'>
       Processed
    </label>
    <label>
      <input type="radio"
       ng-model="imageFilter.processed"
       value = 'false'>
       Not processed
    </label>
  </div>
  <div class = 'filter-left-item'>
    <h4>Volunteers</h4>
    <input type="text" ng-model='imageFilter.volunteer.username' placeholder="Volunteer Username" style='width:100%'></p>
  </div>
  <div class = 'filter-left-item'>
    <h4>Modif. dates</h4>
    <label>
      From:
      <input type="text" ng-model='imageFilter.dates.min' placeholder="01/01/2017" style='width:100%'></p>
    </label>
    <label>
      To:
      <input type="text" ng-model='imageFilter.dates.max' placeholder="31/12/2018" style='width:100%'></p>
    </label>
  </div>
  <div class = 'filter-left-item'>
    <h4>Identifier</h4>
    <label>
      Original ID:
      <input type="text" ng-model='imageFilter.originalId' placeholder="Original ID" style='width:100%'></p>
    </label>
    <label>
      smapshot ID:
      <input type="text" ng-model='imageFilter.Id' placeholder="smapshot ID" style='width:100%'></p>
    </label>
  </div>
  <div class = 'filter-left-item'>
    <h4>Collections</h4>
    <div class = 'filter-dropdown' uib-dropdown>
       <p uib-dropdown-toggle>
         {{imageFilter.collection.name}}
         <i class="fa fa-caret-down" aria-hidden="true"></i>
       </p>
       <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
        <li>
          <p ng-click = 'selectCollection()'>All</p>
        </li>
        <li ng-repeat = 'c in collections'>
          <p ng-click = 'selectCollection(c)'>{{c.name}}</p>
        </li>
      </ul>
    </div>
  </div>
  <div class = 'filter-left-item'>
    <h4>Validators</h4>
    <div class = 'filter-dropdown' uib-dropdown>
       <p uib-dropdown-toggle>
         {{imageFilter.validator.username}}
         <i class="fa fa-caret-down" aria-hidden="true"></i>
       </p>
       <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
         <li>
           <p ng-click = "selectValidator('all')">All</p>
         </li>
        <li ng-repeat = 'v in validators'>
          <p ng-click = "selectValidator(v)">{{v.username}}</p>
        </li>
      </ul>
    </div>
  </div>
  <div class = 'filter-left-item' ng-hide = 'ownerId'>
    <h4>Owners</h4>
    <div class = 'filter-dropdown' uib-dropdown>
      <p uib-dropdown-toggle>
        {{imageFilter.owner.name}}
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </p>
      <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
       <li>
         <p ng-click = 'selectOwner()'>All</p>
       </li>
       <li ng-repeat = 'o in owners'>
         <p  ng-click = 'selectOwner(o)'>{{o.name}}</p>
       </li>
     </ul>
   </div>
  </div>
  <div class = 'filter-left-item'>
    <button class="btn btn-primary" type="button" ng-click="getImages()">Submit</button>
    <button class="btn btn-primary" type="button" ng-click="resetFilter()">Reset</button>
  </div>
</div>
