<div  class = 'filter-left-box'>
  <div class = 'filter-left-item'>
    <h3>Filters</h3>
  </div>
  <div class = 'filter-left-item'>
    <h4>Type</h4>
    <label>
      <input type="radio" ng-model="downloadFilter.type" value="all">
      All
    </label>
    <label>
      <input type="radio" ng-model="downloadFilter.type" value="links">
      Links
    </label>
    <label>
      <input type="radio" ng-model="downloadFilter.type" value="images">
      Images
    </label>
    <label>
       <input type="radio" ng-model="downloadFilter.type" value="notes">
       Notes
    </label>
    <label>
       <input type="radio" ng-model="downloadFilter.type" value="titles">
       Titles
    </label>
    <label>
       <input type="radio" ng-model="downloadFilter.type" value="captions">
       Captions
    </label>
  </div>
  <div class = 'filter-left-item' ng-show = "(downloadFilter.type === 'images' || downloadFilter.type === 'all')">
    <h4>Geographic Format</h4>
    <label>
      <input type="radio" ng-model="downloadFilter.format" value="wkt">
      WKT (Well Known Text)
    </label>
    <label>
      <input type="radio" ng-model="downloadFilter.format" value="geojson">
      Geojson
    </label>
    <label>
       <input type="radio" ng-model="downloadFilter.format" value="kml">
       KML
    </label>
  </div>
  <div class = 'filter-left-item' ng-hide = "(downloadFilter.type === 'links' || downloadFilter.type === 'all')">
    <h4>Download</h4>
    <label>
      <input type="radio" ng-model="downloadFilter.download" value="false">
      Only not downloaded
    </label>
    <label>
      <input type="radio" ng-model="downloadFilter.download" value="true">
      Only already downloaded
    </label>
    <label>
       <input type="radio" ng-model="downloadFilter.download" value="null">
       All
    </label>
  </div>
  <div class = 'filter-left-item' ng-hide = "(downloadFilter.type === 'links' || downloadFilter.type === 'all')">
    <h4>Dates</h4>
    <label>
       <input type="radio" ng-model="downloadFilter.dates.type" value="download">
       Last Download between:
    </label>
    <label>
       <input type="radio" ng-model="downloadFilter.dates.type" value="creation">
       Validation between:
    </label>
    <label>
      From:
      <input type="text" ng-model='downloadFilter.dates.min' placeholder="01/01/2017" style='width:100%'></p>
    </label>
    <label>
      To:
      <input type="text" ng-model='downloadFilter.dates.max' placeholder="31/12/2018" style='width:100%'></p>
    </label>
  </div>
  <div class = 'filter-left-item'>
    <h4>Collections</h4>
    <div class = 'filter-dropdown' uib-dropdown>
       <p uib-dropdown-toggle>
         {{downloadFilter.collection.name}}
         <i class="fa fa-caret-down" aria-hidden="true"></i>
       </p>
       <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
        <li>
          <p ng-click = 'selectCollection()'>All</p>
        </li>
        <li ng-repeat = 'c in collections'>
          <p ng-click = 'selectDownloadCollection(c)'>{{c.name}}</p>
        </li>
      </ul>
    </div>
  </div>
  <div class = 'filter-left-item'>
    <h4>Original IDs</h4>
    <input type="text"  ng-model="downloadFilter.ids" placeholder="separated by commas">
  </div>


  <div class = 'filter-left-item'>
    <button class="btn btn-primary" type="button" ng-click="getDataForDownload()">Submit</button>
    <button class="btn btn-primary" type="button" ng-click="resetDownloadFilter()">Reset</button>
  </div>
</div>
