<div  class = 'filter-left-box'>
  <div class = 'filter-left-item'>
    <h3>Filters</h3>
  </div>
  <div class = 'filter-left-item'>
    <h4>Dates</h4>
    <label>
      From:
      <input type="text" ng-model='imageFilter.dates.min' placeholder="01/01/2017" style='width:100%'></p>
    </label>
    <label>
      To:
      <input type="text" ng-model='imageFilter.dates.max' placeholder="31/12/2018" style='width:100%'></p>
    </label>
  </div>
  <div class = 'filter-left-item'>
    <h4>Collections</h4>
    <div class = 'filter-dropdown' uib-dropdown>
       <p uib-dropdown-toggle>
         {{imageFilter.collection.name}}
         <i class="fa fa-caret-down" aria-hidden="true"></i>
       </p>
       <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
        <li>
          <p ng-click = 'selectCollection()'>All</p>
        </li>
        <li ng-repeat = 'c in collections'>
          <p ng-click = 'selectCollection(c)'>{{c.name}}</p>
        </li>
      </ul>
    </div>
  </div>
  <div class = 'filter-left-item' ng-hide = 'ownerId'>
    <h4>Owners</h4>
    <div class = 'filter-dropdown' uib-dropdown>
      <p uib-dropdown-toggle>
        {{imageFilter.owner.name}}
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </p>
      <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
       <li>
         <p ng-click = 'selectOwner()'>All</p>
       </li>
       <li ng-repeat = 'o in owners'>
         <p  ng-click = 'selectOwner(o)'>{{o.name}}</p>
       </li>
     </ul>
   </div>
  </div>
  <div class = 'filter-left-item'>
    <h4>Contribution</h4>
    <label>
      <input type="checkbox"
       ng-model="imageFilter.geolocalizations">
       Geolocalizations
    </label>
    <label>
      <input type="checkbox"
       ng-model="imageFilter.metadata">
       Metadata
    </label>
    <label>
      <input type="checkbox"
       ng-model="imageFilter.observations">
       Notes
    </label>
  </div>
  <div class = 'filter-left-item'>
    <button class="btn btn-primary" type="button" ng-click="getVolunteers()">Submit</button>
    <button class="btn btn-primary" type="button" ng-click="resetFilter()">Reset</button>
  </div>
</div>
