<div class = 'mybox-item fix'>
  <h1>Geolocalisations to validate</h1>
</div>
<div class = 'mybox-item fix'>
  <a ng-click = "openDoc('geolocalizations')">Documentation</a>
</div>
<div class = 'mybox-item fix'>
  <h4 ng-show= "toValidateImages == []">There is no geolocalisations to validate</h4>
  <h4 ng-hide= "toValidateImages == []">There is {{nTask}} geolocalisations</h4>
</div>
<div class = 'mybox-item fix'>
  <button class="btn btn-primary" type="button" ng-click="switchToGeolocalizations()">
    Reload
    <i class="fa fa-refresh" aria-hidden="true"></i>
  </button>
</div>
<div class = 'mybox-item resize'>
  <table class = 'validation-table' ng-hide= "toValidateImages == []">
    <thead>
      <tr>
        <th class = 'col-small'>
          Processed
        </th>
        <th class = 'col-small'>
          Result
        </th>
        <th ng-click="sortBy('date_georef')" class = 'col-medium'>
          Date
          <span class="sortorder" ng-show="propertyName === 'date'" ng-class="{reverse: reverse}"></span>
        </th>
        <th ng-click="sortBy('original_id')" class = 'col-medium'>
          Picture
          <span class="sortorder" ng-show="propertyName === 'original_id'" ng-class="{reverse: reverse}"></span>
        </th>
        <!-- <th  ng-click="sortBy('title')">
          Title
          <span class="sortorder" ng-show="propertyName === 'title'" ng-class="{reverse: reverse}"></span>
        </th> -->
        <th  ng-click="sortBy('ownerName')" ng-hide= 'ownerId' class = 'col-medium'>
          Owner
          <span class="sortorder" ng-show="propertyName === 'ownerName'" ng-class="{reverse: reverse}"></span>
        </th>
        <th  ng-click="sortBy('collectionName')" ng-hide= 'ownerId' class = 'col-medium'>
          Collection
          <span class="sortorder" ng-show="propertyName === 'collectionName'" ng-class="{reverse: reverse}"></span>
        </th>
        <th  ng-click="sortBy('username')"  class = 'col-medium'>
          Volunteer
          <span class="sortorder" ng-show="propertyName === 'username'" ng-class="{reverse: reverse}"></span>
        </th>
        <th  ng-click="sortBy('n_gcp_volunteers')" class = 'col-small'>
          # corresp.
          <span class="sortorder" ng-show="propertyName === 'n_gcp_volunteers'" ng-class="{reverse: reverse}"></span>
        </th>
        <th  ng-click="sortBy('score')" class = 'col-small'>
          Max. Error
          <span class="sortorder" ng-show="propertyName === 'score_volunteer'" ng-class="{reverse: reverse}"></span>
        </th>
        <th  ng-click="sortBy('surface')" class = 'col-small'>
          Surface covered
          <span class="sortorder" ng-show="propertyName === 'surface_ratio_volunteer'" ng-class="{reverse: reverse}"></span>
        </th>
        <th class = 'col-small'>Actions</th>
        <th  class = 'col-small'></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="image in toValidateImages  | orderBy:propertyName:reverse">
        <td class = 'col-small center'>
          <i ng-show = 'image.processed' class="fa fa-check" style='color:green'></i>
          <i ng-hide = 'image.processed' class="fa fa-circle-o" style='color:red'></i>
        </td>
        <td class = 'col-small center'>
          <div ng-show = 'image.processed'>
            <i ng-show = 'image.validated' class="fa fa-circle center" style='color:green'></i>
            <i ng-show = 'image.rejected' class="fa fa-circle center" style='color:red'></i>
            <i ng-show = 'image.improved' class="fa fa-circle center" style='color:orange'></i>
          </div>
        </td>
        <td class = 'col-medium center'>
          {{image.date_georef}}
        </td>
        <td class = 'col-medium'>
          <b>{{image.original_id}}</b>
        </td>
        <td ng-hide= 'ownerId' class = 'col-medium'>
          {{image.ownername}}
        </td>
        <td ng-hide= 'ownerId' class = 'col-medium'>
          {{image.collectionname}}
        </td>
        <td  class = 'col-medium'>
          {{image.username}}
        </td>
        <td class = 'col-small center'>
          {{image.n_gcp_volunteer}}
        </td>
        <td class = 'col-small center'>
          {{image.score_volunteer}}%
        </td>
        <td class = 'col-small center'>
          {{image.surface_ratio_volunteer}}%
        </td>
        <td class = 'col-small'>
          <button class="btn btn-primary" type="button" ng-click="goToGeoref(image.id)">Check</button><br>
        </td>
        <td class = 'col-small'>
          <button class="btn btn-primary" type="button" ng-click="validateGeoloc(image.id, image.volunteer_id)">Validate</button><br>
        </td>
        <!-- <td>
          <button ng-hide='image.in_game' class="btn btn-primary" type="button" ng-click="addToGame(image.id)">Add to game</button>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>
