<div class = 'mybox-item fix'>
  <h1>Images</h1>
</div>
<div class = 'mybox-item fix'>
  <button class="btn btn-primary" type="button" ng-click="publishSelected()">Publish</button>
  <button class="btn btn-primary" type="button" ng-click="unpublishSelected()">Un-publish</button>
</div>
<div class = 'mybox-item resize'>
    <table class = 'validation-table'>
      <tr>
        <th class = 'col-small'>
          Selection
        </th>
        <th ng-click="sortBy('is_published')" class = 'col-small'>
          Published
          <span class="sortorder" ng-show="propertyName === 'collectionName'" ng-class="{reverse: reverse}"></span>
        </th>
        <th ng-click="sortBy('georef_3d_bool')" class = 'col-small'>
          Georef.
          <span class="sortorder" ng-show="propertyName === 'collectionName'" ng-class="{reverse: reverse}"></span>
        </th>
        <th ng-click="sortBy('owner')" ng-hide= 'ownerId'  class = 'col-medium'>
          Owner
          <span class="sortorder" ng-show="propertyName === 'count'" ng-class="{reverse: reverse}"></span>
        </th>
        <th  ng-click="sortBy('collectionName')"  class = 'col-medium'>
          Collection
          <span class="sortorder" ng-show="propertyName === 'collectionName'" ng-class="{reverse: reverse}"></span>
        </th>
        <th ng-click="sortBy('count')" class = 'col-small'>
          Views
          <span class="sortorder" ng-show="propertyName === 'count'" ng-class="{reverse: reverse}"></span>
        </th>
        <th ng-click="sortBy('original_id')" class = 'col-medium'>
          Original ID
          <span class="sortorder" ng-show="propertyName === 'original_id'" ng-class="{reverse: reverse}"></span>
        </th>
        <th  ng-click="sortBy('validator_name')"  class = 'col-medium'>
          Validator
          <span class="sortorder" ng-show="propertyName === 'validator_name'" ng-class="{reverse: reverse}"></span>
        </th>
        <th  class = 'col-small'>
          Link
        </th>
      </tr>
      <tr ng-repeat="im in images | orderBy:propertyName:reverse">
        <td  class = 'col-small'>
          <input type="checkbox" ng-model="im.selected">
        </td>
        <td  class = 'col-small center'>
          <i ng-show = 'im.is_published' class="fa fa-check" style='color:green'></i>
          <i ng-hide = 'im.is_published' class="fa fa-circle" style='color:red'></i>
        </td>
        <td  class = 'col-small center'>
          <i ng-show = 'im.georef_3d_bool' class="fa fa-check" style='color:green'></i>
          <i ng-hide = 'im.georef_3d_bool' class="fa fa-circle" style='color:red'></i>
        </td>
        <td ng-hide= 'ownerId'  class = 'col-medium'>
          {{im.ownername}}
        </td>
        <td  class = 'col-medium'>
          {{im.collectionname}}
        </td>
        <td class = 'col-small center'>
          {{im.count-1}}
        </td>
        <td class = 'col-medium'>
          {{im.original_id}}
        </td>
        <td class = 'col-medium'>
          {{im.validator_name}}
        </td>
        <td class = 'col-small center'>
          <a ng-click = 'goToMono(im.id)'>{{im.id}}</a>
        </td>
      </tr>
    </table>
</div>
