<div class = 'mybox-item fix'>
  <h2>Your aren't logged or you don't have the right to access this page.</h2>
  <button class="btn btn-primary" type="button" ng-click="redirectLogin()">
    Login
  </button>
</div>
