<div class = 'mybox-item fix'>
  <h1>Emails</h1>
</div>
<div class = 'mybox-item fix'>
  <p>
    There is {{emailExport.length}} volunteer(s).
  </p>
</div>
<div class = 'mybox-item fix'>
  <button class="btn btn-primary" type="button" ng-csv="emailExport" csv-header="['email']" filename="email_export.csv">
    Export
  </button>
</div>
<div class = 'mybox-item resize'>
  <!-- <button type="button" ng-csv="emailExport" csv-header="['email']" filename="email_export.csv">Export</button> -->
  <table class = 'validation-table'>
    <thead>
      <tr>
        <th ng-click="sortBy('username')" class = 'col-medium'>
          Username
          <span class="sortorder" ng-show="propertyName === 'username'" ng-class="{reverse: reverse}"></span>
        </th>
        <th  class = 'col-medium'>
          Email
          <span class="sortorder" ng-show="propertyName === 'email'" ng-class="{reverse: reverse}"></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="vol in volunteers  | orderBy:propertyName:reverse">
        <td  class = 'col-medium'>
          {{vol.username}}
        </td>
        <td  class = 'col-medium'>
          {{vol.email}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
