<div id = 'left-menu' class = 'small'>
  <div class = 'menu-item small'
  ng-click = "goHome()">
    <img class = 'menu-logo small' src = '../icons/logo_text_only.svg'>
  </div>
  <div class = 'menu-item small with'>
    <p>
      <i class="fa fa-user" aria-hidden="true"></i>
      {{validator.username}}
    </p>
  </div>
  <div ng-class = "{'menu-item small selected-green': currentMode == 0, 'menu-item small': currentMode != 0}"
    ng-click = "switchTo('geolocalizations')">
    <i class="menu-icon small fa fa-map-marker" aria-hidden="true"></i>
  </div>
  <div ng-class = "{'menu-item small selected-green': currentMode == 1, 'menu-item small': currentMode != 2}"
    ng-click = "switchTo('observations')">
    <i class="menu-icon small fa fa fa-eye" aria-hidden="true"></i>
  </div>
  <div ng-class = "{'menu-item small selected-green': currentMode == 2, 'menu-item small': currentMode != 1}"
    ng-click = "switchTo('metadata')">
    <i class="menu-icon small fa fa-info-circle" aria-hidden="true"></i>
  </div>
  <div ng-class = "{'menu-item small selected-green': currentMode == 3, 'menu-item small': currentMode != 3}"
    ng-click = "switchTo('images')">
    <i class="menu-icon small fa fa-camera-retro" aria-hidden="true"></i>
  </div>
  <div ng-class = "{'menu-item small selected-green': currentMode == 4, 'menu-item small': currentMode != 4}"
    ng-click = "switchTo('ranking')">
    <i class="menu-icon small fa fa-signal" aria-hidden="true"></i>
  </div>
  <div ng-show = '!isValidatorOnly' ng-class = "{'menu-item small selected-green': currentMode == 5, 'menu-item small': currentMode != 5}"
    ng-click = "switchTo('mailing')">
    <i class="menu-icon small fa fa-envelope-o" aria-hidden="true"></i>
  </div>
  <div ng-class = "{'menu-item small selected-green': currentMode == 6, 'menu-item small': currentMode != 6}"
    ng-click = "switchTo('download')">
    <i class="menu-icon small fa fa-download" aria-hidden="true"></i>
  </div>
  <div ng-show = '!isValidatorOnly' ng-class = "{'menu-item small selected-green': currentMode == 7, 'menu-item small': currentMode != 7}"
    ng-click = "switchTo('roles')">
    <i class="menu-icon small fa fa-user-o" aria-hidden="true"></i>
  </div>
  <div ng-class = "{'menu-item small selected-green': currentMode == 9, 'menu-item small': currentMode != 9}"
    ng-click = "switchTo('problems')">
    <i class="menu-icon small fa fa-exclamation-circle" aria-hidden="true"></i>
  </div>
  <div ng-class = "{'menu-item small selected-green': currentMode == 10, 'menu-item small': currentMode != 10}"
    ng-click = "switchTo('badGeoloc')">
    <i class="menu-icon small fa fa-times-circle" aria-hidden="true"></i>
  </div>
  <div class = 'menu-buffer'>
  </div>
</div>
