<!-- image box -->
<script type="text/ng-template" id="correction.html">
    <div class="modal-header">
      <h3 class="modal-title">Image</h3>
    </div>
    <div class="modal-body">
      <div id="openseadragon1" style="width: 800px; height: 600px">
        <seadragon
        options = "optionsViewer"
        mysd = "mysd"
        ></seadragon>
      </div>
      <div ng-show = 'correction.hasTitle'>
        <p><b>Original title:</b> {{correction.orig_title}}</p>
        <p><b>Submitted title:</b> {{correction.sub_title}}</p>
      </div>
      <div ng-show = 'correction.hasCaption'>
        <p><b>Original:</b> {{correction.orig_caption}}</p>
        <p><b>Submitted:</b> {{correction.sub_caption}}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="cancel(observation)">Close</button>
    </div>
  </div>
</script>

<div class = 'mybox-item fix'>
  <h1>Metadata to validate</h1>
</div>
<div class = 'mybox-item fix'>
  <h4 ng-show= "toValidateCorrections == []">There is no metadata to validate</h4>
  <h4 ng-hide= "toValidateCorrections == []">There is {{nTask}} metadata to validate</h4>
</div>
<div class = 'mybox-item fix'>
  <button class="btn btn-primary" type="button" ng-click="switchToCorrections()">
    Reload
    <i class="fa fa-refresh" aria-hidden="true"></i>
  </button>
</div>
<div class = 'mybox-item resize'>
    <table class = 'validation-table'>
      <thead>
        <tr>
          <th class = 'col-small'>
            Processed
          </th>
          <th ng-click="sortBy('date_string')"  class = 'col-medium'>
            Date
            <span class="sortorder" ng-show="propertyName === 'date'" ng-class="{reverse: reverse}"></span>
          </th>
          <th ng-click="sortBy('original_id')" class = 'col-medium'>
            Picture
          </th>
          <th  ng-click="sortBy('ownerName')" ng-hide = 'ownerId' class = 'col-medium'>
            Owner
            <span class="sortorder" ng-show="propertyName === 'ownerName'" ng-class="{reverse: reverse}"></span>
          </th>
          <th  ng-click="sortBy('collectionName')" ng-hide = 'ownerId' class = 'col-medium'>
            Collection
            <span class="sortorder" ng-show="propertyName === 'collectionName'" ng-class="{reverse: reverse}"></span>
          </th>
          <th ng-click="sortBy('username')"  class = 'col-medium'>
            Volunteer
            <span class="sortorder" ng-show="propertyName === 'username'" ng-class="{reverse: reverse}"></span>
          </th>
          <th class = 'col-large'>
            Title
          </th>
          <th class = 'col-large'>
            Description
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="correction in toValidateCorrections  | orderBy:propertyName:reverse">
          <td class = 'col-small center'>
            <i ng-show = 'correction.title_processed && correction.caption_processed' class="fa fa-check" style='color:green'></i>
            <i ng-hide = 'correction.title_processed && correction.caption_processed' class="fa fa-circle-o" style='color:red'></i>
          </td>
          <td class = 'col-medium'>
            {{correction.date_string}}
          </td>
          <td class = 'col-medium'>
            <b>{{correction.original_id}}</b>
          </td>
          <td ng-hide= 'ownerId' class = 'col-medium'>
            {{correction.ownername}}
          </td>
          <td ng-hide= 'ownerId' class = 'col-medium'>
            {{correction.collectionname}}
          </td>
          <td  class = 'col-medium'>
            {{correction.username}}
          </td>
          <td  class = 'col-large'>
            <div ng-show = 'correction.hasTitle'>
              <div ng-show = 'correction.title_processed'>
                <p>
                  <i ng-show = "correction.title_result == 'accepted'" class="fa fa-circle" style='color:green'></i>
                  <i ng-show = "correction.title_result == 'updated'" class="fa fa-circle" style='color:orange'></i>
                  <i ng-show = "correction.title_result == 'rejected'" class="fa fa-circle" style='color:red'></i>
                  {{correction.title_result}}
                </p>
                <table style = 'width: 100%' class = 'metadata-table'>
                  <tr>
                    <td style= 'width: 20%'>
                      <b>Original:</b>
                    </td>
                    <td style= 'width: 80%'>
                      {{correction.orig_title}}
                    </td>
                  </tr>
                  <tr style = 'background-color: transparent'>
                    <td>
                      <b>Submitted:</b>
                    </td>
                    <td>
                      {{correction.sub_title}}
                    </td>
                  </tr>
                  <tr ng-show = "correction.title_result == 'updated'">
                    <td>
                      <b>Update:</b>
                    </td>
                    <td>
                      {{correction.title_update}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <b>Validator:</b>
                    </td>
                    <td>
                      {{correction.validator_name}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <b>Remark:</b>
                    </td>
                    <td>
                      {{correction.title_remark}}
                    </td>
                  </tr>
                </table>
                <button class="btn btn-primary" type="button" ng-click="restartTitleValidation(correction)">Restart validation</button>
              </div>
              <div ng-hide = 'correction.title_processed'>
                <!--   -->
                <p>
                  <i ng-hide = 'correction.title_processed' class="fa fa-circle-o" style='color:red'></i>
                  Not Processed
                </p>
                <table style = 'width: 100%' class = 'metadata-table'>
                  <tr>
                    <td style= 'width: 20%'>
                      <b>Original:</b>
                    </td>
                    <td style= 'width: 80%'>
                      {{correction.orig_title}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <b>Submitted:</b>
                    </td>
                    <td>
                      {{correction.sub_title}}
                    </td>
                  </tr>
                  <tr ng-show = 'correction.titleIsUpdated'>
                    <td>
                      <b>Update:</b>
                    </td>
                    <td>
                      <textarea type="text" rows = '3' ng-model='correction.newTitle' style='width:100%'></textarea>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <b>Remark:</b>
                    </td>
                    <td>
                      <textarea type="text" rows = '3' ng-model='correction.title_remark' placeholder="Your remark for the volunteer" style='width:100%'></textarea>
                    </td>
                  </tr>
                </table>
                <!-- <p ng-show = 'correction.titleIsUpdated'>Update:
                  <textarea type="text" rows = '3' ng-model='correction.newTitle' style='width:100%'></textarea>
                </p>
                <p>Remark:
                  <textarea type="text" rows = '3' ng-model='correction.title_remark' placeholder="Your remark for the volunteer" style='width:100%'></textarea>
                </p> -->
                <div ng-hide = 'correction.titleIsUpdated'>
                  <button class="btn btn-primary" type="button" ng-click="startTitleUpdate(correction)">Update</button>
                  <button class="btn btn-primary" type="button" ng-click="acceptTitle(correction)">Accept</button>
                  <button class="btn btn-primary" type="button" ng-click="rejectTitle(correction)">Reject</button>
                  <button class="btn btn-primary" type="button" ng-click="openSelectedCorrection(correction)">Watch</button>
                </div>
                <div ng-show = 'correction.titleIsUpdated'>
                  <button class="btn btn-primary" type="button" ng-click="updateTitle(correction)">Update</button>
                  <button class="btn btn-primary" type="button" ng-click="cancelTitleUpdate(correction)">Cancel</button>
                </div>
              </div>
            </div>
            <div ng-hide = 'correction.hasTitle'>
              Title is not modified
            </div>
          </td>
          <td  class = 'col-large'>
            <div ng-show = 'correction.hasCaption'>
              <div ng-show = 'correction.caption_processed'>
                <p>
                  <i ng-show = "correction.caption_result == 'accepted'" class="fa fa-circle" style='color:green'></i>
                  <i ng-show = "correction.caption_result == 'updated'" class="fa fa-circle" style='color:orange'></i>
                  <i ng-show = "correction.caption_result == 'rejected'" class="fa fa-circle" style='color:red'></i>
                  {{correction.caption_result}}
                </p>
                <table style = 'width: 100%'  class = 'metadata-table'>
                  <tr>
                    <td style= 'width: 20%'>
                      <b>Original:</b>
                    </td>
                    <td style= 'width: 80%'>
                      {{correction.orig_caption}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <b>Submitted:</b>
                    </td>
                    <td>
                      {{correction.sub_caption}}
                    </td>
                  </tr>
                  <tr ng-show = "correction.caption_result == 'updated'">
                    <td>
                      <b>Update:</b>
                    </td>
                    <td>
                      {{correction.caption_update}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <b>Validator:</b>
                    </td>
                    <td>
                      {{correction.validator_name}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <b>Remark:</b>
                    </td>
                    <td>
                      {{correction.caption_remark}}
                    </td>
                  </tr>
                </table>
                <button class="btn btn-primary" type="button" ng-click="restartCaptionValidation(correction)">Restart validation</button>
              </div>
              <div ng-hide = 'correction.caption_processed'>
                <p>
                  <i  class="fa fa-circle-o" style='color:red'></i>
                  Not Processed
                </p>
                <table style = 'width: 100%'  class = 'metadata-table'>
                  <tr>
                    <td style= 'width: 20%'>
                      <b>Original:</b>
                    </td>
                    <td style= 'width: 80%'>
                      {{correction.orig_caption}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <b>Submitted:</b>
                    </td>
                    <td>
                      {{correction.sub_caption}}
                    </td>
                  </tr>
                  <tr ng-show = 'correction.captionIsUpdated'>
                    <td>
                      <b>Update:</b>
                    </td>
                    <td>
                      <textarea type="text" rows = '3' ng-model='correction.newCaption' style='width:100%;'></textarea>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <b>Remark:</b>
                    </td>
                    <td>
                      <textarea type="text" rows = '3' ng-model='correction.caption_remark' placeholder="Your remark for the volunteer" style='width:100%;'></textarea>
                    </td>
                  </tr>
                </table>
                <!-- <p ng-show = 'correction.captionIsUpdated'>Update:
                  <textarea type="text" rows = '3' ng-model='correction.newCaption' style='width:100%;'></textarea>
                </p>
                <p>Remark:
                  <textarea type="text" rows = '3' ng-model='correction.caption_remark' placeholder="Your remark for the volunteer" style='width:100%;'></textarea>
                </p> -->
                <div ng-hide = 'correction.captionIsUpdated'>
                  <button class="btn btn-primary" type="button" ng-click="startCaptionUpdate(correction)">Update</button>
                  <button class="btn btn-primary" type="button" ng-click="acceptCaption(correction)">Accept</button>
                  <button class="btn btn-primary" type="button" ng-click="rejectCaption(correction)">Reject</button>
                  <button class="btn btn-primary" type="button" ng-click="openSelectedCorrection(correction)">Watch</button>
                </div>
                <div ng-show = 'correction.captionIsUpdated'>
                  <button class="btn btn-primary" type="button" ng-click="updateCaption(correction)">Update</button>
                  <button class="btn btn-primary" type="button" ng-click="cancelCaptionUpdate(correction)">Cancel</button>
                </div>
              </div>
            </div>
            <div ng-hide = 'correction.hasCaption'>
              Caption is not modified
            </div>
          </td>
        </tr>
      </tbody>
    </table>
</div>
