<!-- Observation box -->
<script type="text/ng-template" id="observation.html">
    <div class="modal-header"  style = 'padding: 10px'>
      <h3 class="modal-title">Observation</h3>
    </div>
    <div class="modal-body"  style = 'padding: 10px'>
      <div id="openseadragon1" style="width: 800px; height: 600px">
        <seadragon
        options = "optionsViewer"
        mysd = "mysd"
        ></seadragon>
      </div>
      <h4><b>Title: </b>{{observation.title}}</h4>
      <h4><b>ID: </b>{{observation.original_id}}</h4>
      <h4><b>Note: </b>{{observation.observation}}</h4>
      <p>Remark:
        <textarea type="text" rows = '3' ng-model='observation.remark' placeholder="Your remark for the volunteer" style='width:100%'></textarea>
      </p>
    </div>
    <div class="modal-footer"  style = 'padding: 10px'>
      <button class="btn btn-primary" type="button" ng-click="accept(observation)">Accept</button>
      <button class="btn btn-primary" type="button" ng-click="reject(observation)">Reject</button>
      <button class="btn btn-primary" type="button" ng-click="cancel(observation)">Cancel</button>
    </div>
</script>
<div class = 'mybox-item fix'>
  <h1>Observations to validate</h1>
</div>
<div class = 'mybox-item fix'>
  <h4 ng-show= "toValidateObservations == []">There is no observation to validate</h4>
  <h4 ng-hide= "toValidateObservations == []">There is {{nTask}} observation to validate</h4>
</div>
<div class = 'mybox-item fix'>
  <button class="btn btn-primary" type="button" ng-click="switchToObservations()">
    Reload
    <i class="fa fa-refresh" aria-hidden="true"></i>
  </button>
</div>
<div class = 'mybox-item resize'>
    <table class = 'validation-table'>
      <thead>
        <tr>
          <th class = 'col-small'>
            Processed
          </th>
          <th class = 'col-small'>
            Result
          </th>
          <th ng-click="sortBy('date_string')"  class = 'col-medium'>
            Date
            <span class="sortorder" ng-show="propertyName === 'date'" ng-class="{reverse: reverse}"></span>
          </th>
          <th class = 'col-medium'>
            Picture
          </th>
          <th  ng-click="sortBy('ownerName')" ng-hide='ownerId' class = 'col-medium'>
            Owner
            <span class="sortorder" ng-show="propertyName === 'ownerName'" ng-class="{reverse: reverse}"></span>
          </th>
          <th  ng-click="sortBy('collectionName')"  ng-hide='ownerId' class = 'col-medium'>
            Collection
            <span class="sortorder" ng-show="propertyName === 'collectionName'" ng-class="{reverse: reverse}"></span>
          </th>
          <th  ng-click="sortBy('username')" class = 'col-medium'>
            Volunteer
            <span class="sortorder" ng-show="propertyName === 'username'" ng-class="{reverse: reverse}"></span>
          </th>
          <th class = 'col-large'>
            Observation
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="observation in toValidateObservations  | orderBy:propertyName:reverse">
          <td class = 'col-small center'>
            <i ng-show = 'observation.processed' class="fa fa-check" style='color:green'></i>
            <i ng-hide = 'observation.processed' class="fa fa-circle-o" style='color:red'></i>
          </td>
          <td class = 'col-small center'>
            <div ng-show = 'observation.processed'>
              <i ng-show = 'observation.validated' class="fa fa-circle center" style='color:green'></i>
              <i ng-hide = 'observation.validated' class="fa fa-circle center" style='color:red'></i>
            </div>
          </td>
          <td class = 'col-medium center'>
            {{observation.date_string}}
          </td>
          <td class = 'col-medium'>
            <!-- <img id = "{{observation.id}}" ng-src = "{{observation.thumbSrc}}" ng-click="" style="width:200px;">
            <br> -->
            <b>{{observation.original_id}}</b>
            <!-- <br>
            {{observation.title}} -->
          </td>
          <td ng-hide= 'ownerId' class = 'col-medium'>
            {{observation.ownername}}
          </td>
          <td  ng-hide= 'ownerId' class = 'col-medium'>
            {{observation.collectionname}}
          </td>
          <td class = 'col-medium'>
            {{observation.username}}
          </td>
          <td class = 'col-large'>
            <table style = 'width: 100%'  class = 'metadata-table'>
              <tr>
                <td style= 'width: 20%'>
                  <b>Title:</b>
                </td>
                <td style= 'width: 80%'>
                  {{observation.title}}
                </td>
              </tr>
              <tr>
                <td style= 'width: 20%'>
                  <b>Observation:</b>
                </td>
                <td style= 'width: 80%'>
                  {{observation.observation}}
                </td>
              </tr>
              <tr>
                <td style= 'width: 20%'>
                  <b>Remark: </b>
                </td>
                <!-- <td style= 'width: 80%' ng-show ='observation.has_remark'>
                  {{observation.remark}}
                </td> -->
                <td style= 'width: 80%'>
                   <!-- ng-hide ='observation.has_remark'> -->
                  <textarea type="text" rows = '3' ng-model='observation.remark' placeholder="Your remark for the volunteer" style='width:100%;'></textarea>
                </td>
              </tr>
            </table>
            <!-- <p><b>Title: </b> {{observation.title}}</p>
            <p><b>Observation: </b> {{observation.observation}}</p>
            <p><b>Remark: </b>
              <textarea type="text" rows = '3' ng-model='observation.remark' placeholder="Your remark for the volunteer" style='width:100%;'></textarea>
            </p> -->
            <button class="btn btn-primary" type="button" ng-click="watchObservation(observation)">Watch</button>
            <button class="btn btn-primary" type="button" ng-click="acceptObservation(observation)">Accept</button>
            <button class="btn btn-primary" type="button" ng-click="rejectObservation(observation)">Reject</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
