<!-- Create problem box -->
<script type="text/ng-template" id="createProb.html">
    <div class="modal-header"  style = 'padding: 10px'>
      <h3 class="modal-title">New problem</h3>
    </div>
    <div class="modal-body"  style = 'padding: 10px'>
      smapshot ID:
      <input
      type = 'text'
      ng-model = 'problem.smapshotId'>
      <br>
      <!-- original ID:
      <input
      type = 'text'
      ng-model = 'problem.originalId'>
      <br> -->
      <input
      type = 'checkbox'
      ng-model = 'problem.inverted'>
      Image is inverted
      <br>
      <input
      type = 'checkbox'
      ng-model = 'problem.photomontage'>
      Image is a photomontage
      <br>

      <!-- <input
      type = 'checkbox'
      ng-model = 'problems.notRecognizable'>
      {{texts.notRecognizable[lang]}}
      <br>

      <input
      type = 'checkbox'
      ng-model = 'problems.georefImpossible'>
      {{texts.georefImpossible[lang]}}
      <br> -->

      <input
      type = 'checkbox'
      ng-model = 'problem.other'>
      Other problem
      <br>
      <textarea type="text" rows = '3'
      class = 'edit-input'
      ng-model='problem.otherText'
      ng-show = 'problem.other'
      style='width:100%'>
      </textarea>
    </div>
    <div class="modal-footer"  style = 'padding: 10px'>
      <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary" type="button" ng-click="create()">Create</button>
    </div>
</script>

<div class = 'mybox-item fix'>
  <h1>Problems to validate</h1>
</div>
<div class = 'mybox-item fix'>
  <a ng-click = "openDoc('problems')">Documentation</a>
</div>
<div class = 'mybox-item fix'>
  <h4 ng-show= "toValidateProblems == []">There is no problems to validate</h4>
  <h4 ng-hide= "toValidateProblems == []">There is {{nTask}} problems to validate</h4>
</div>
<div class = 'mybox-item fix'>
  <button class="btn btn-primary" type="button" ng-click="getToValidateProblems()">
    Reload
    <i class="fa fa-refresh" aria-hidden="true"></i>
  </button>
  <button class="btn btn-primary" type="button" ng-click="openNewProblem()">
    Create problem
  </button>
</div>
<div class = 'mybox-item resize'>
  <table class = 'validation-table' ng-hide= "toValidateProblems == []">
    <thead>
      <tr>
        <th ng-click="sortBy('is_published')">
          <div class = 'col-small'>
          Published
          <span class="sortorder" ng-show="propertyName === 'is_published'" ng-class="{reverse: reverse}"></span>
          </div>
        </th>
        <th ng-click="sortBy('owner_processed')">
          <div class = 'col-small'>
            Owner Processed
            <span class="sortorder" ng-show="propertyName === 'owner_processed'" ng-class="{reverse: reverse}"></span>
          </div>
        </th>
        <th  ng-click="sortBy('smapshot_processed')">
          <div class = 'col-small'>
            smapshot Processed
            <span class="sortorder" ng-show="propertyName === 'smapshot_processed'" ng-class="{reverse: reverse}"></span>
          </div>
        </th>
        <th ng-click="sortBy('date')">
          <div class = 'col-small'>
          Date
          <span class="sortorder" ng-show="propertyName === 'date'" ng-class="{reverse: reverse}"></span>
          </div>
        </th>
        <th ng-click="sortBy('image_id')">
          <div class = 'col-medium'>
          Picture
          <span class="sortorder" ng-show="propertyName === 'image_id'" ng-class="{reverse: reverse}"></span>
          </div>
        </th>
        <th  ng-click="sortBy('collectionname')" ng-hide= 'ownerId'>
          <div class = 'col-medium'>
          Collection
          <span class="sortorder" ng-show="propertyName === 'collectionname'" ng-class="{reverse: reverse}"></span>
          </div>
        </th>
        <th  ng-click="sortBy('username')">
          <div class = 'col-small'>
          Volunteer
          <span class="sortorder" ng-show="propertyName === 'username'" ng-class="{reverse: reverse}"></span>
          </div>
        </th>
        <th  ng-click="sortBy('title')" class = 'col-medium'>
          <div class = 'col-medium'>
          Title
          <span class="sortorder" ng-show="propertyName === 'title'" ng-class="{reverse: reverse}"></span>
          </div>
        </th>
        <th>
          <div class = 'col-medium'>
          Actions
          </div>
        </th>
        <!-- <th>
          <div class = 'col-small'>
          </div>
        </th> -->
        <!-- <th></th> -->
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="prob in toValidateProblems  | orderBy:propertyName:reverse">
        <td>
          <div class = 'col-small center'>
          <i ng-show = 'prob.is_published' class="fa fa-circle" style='color:green'></i>
          <i ng-hide = 'prob.is_published' class="fa fa-circle" style='color:red'></i>
          </div>
        </td>
        <td>
          <div class = 'col-small center'>
            <i ng-show = 'prob.owner_processed' class="fa fa-check" style='color:green'></i>
            <i ng-hide = 'prob.owner_processed' class="fa fa-circle-o" style='color:red'></i>
          </div>
        </td>
        <td>
          <div class = 'col-small center'>
            <i ng-show = 'prob.smapshot_processed' class="fa fa-check" style='color:green'></i>
            <i ng-hide = 'prob.smapshot_processed' class="fa fa-circle-o" style='color:red'></i>
          </div>
        </td>
        <td>
          <div class = 'col-small center'>
          {{prob.date}}
          </div>
        </td>
        <td>
          <div class = 'col-medium'>
            <b>{{prob.original_id}}</b>
            <br>
            <b>{{prob.image_id}}</b>
          </div>
        </td>
        <td ng-hide= 'ownerId'>
          <div class = 'col-medium'>
          {{prob.ownername}}
          </div>
          <div class = 'col-medium'>
          {{prob.collectionname}}
          </div>
        </td>
        <td>
          <div class = 'col-small'>
          {{prob.username}}
          </div>
        </td>
        <td>
          <div class = 'col-medium'>
          {{prob.title}}
          </div>
          <div class = 'col-medium'>
          {{prob.description}}
          </div>
        </td>
        <td>
          <div class = 'col-medium'>
          <button class="btn btn-primary" style = 'width: 45%' type="button" ng-click="unpublish(prob.image_id)">Unpublish</button>
          <button class="btn btn-primary" style = 'width: 45%' type="button" ng-click="publish(prob.image_id)">Publish</button><br>
          <button class="btn btn-primary" style = 'width: 45%' type="button" ng-click="ownerProcessed(prob.id)">Owner <br> processed</button>
          <button class="btn btn-primary" style = 'width: 45%' type="button" ng-click="smapshotProcessed(prob.id)">smapshot <br> processed</button><br>
          <button class="btn btn-primary" style = 'width: 45%' type="button" ng-click="deleteProblem(prob.id)">Delete</button><br>
          </div>
        </td>
        <!-- <td>
          <div class = 'col-small'>
          </div>
        </td> -->
        <!-- <td>
          <button ng-hide='image.in_game' class="btn btn-primary" type="button" ng-click="addToGame(image.id)">Add to game</button>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>
