<div class = 'mybox-item fix'>
  <h1>
    {{texts.myRanking[lang]}}
  </h1>
</div>
<!-- <div class = 'mybox-item fix'>
  <h2>Filters: </h2>
  <div class = 'filter-box'>
    <div class = 'filter-item'>
      <p class = 'filter-title'>
        Contributions:
      </p>
      <div class = 'filter-dropdown' uib-dropdown>
        <p uib-dropdown-toggle>
          {{rankingFilter.type}}
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </p>
        <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
         <li>
           <p ng-click = "selectRankingType('geoloc')">Geolocalizations</p>
           <p ng-click = "selectRankingType('obs')">Observations</p>
           <p ng-click = "selectRankingType('modif')">Modifications</p>
         </li>
       </ul>
     </div>
      <p class = 'filter-title'>
        Owners:
      </p>
      <div class = 'filter-dropdown' uib-dropdown>
        <p uib-dropdown-toggle>
          {{rankingFilter.owner.name}}
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </p>
        <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
         <li>
           <p ng-click = 'selectRankingOwner()'>All</p>
           <p ng-repeat = 'o in owners' ng-click = 'selectRankingOwner(o)'>{{o.name}}</p>
         </li>
       </ul>
     </div>
    </div>
    <div class = 'filter-item'>
      <p class = 'filter-title'>
        Collections:
      </p>
      <div class = 'filter-dropdown' uib-dropdown>
         <p uib-dropdown-toggle>
           {{rankingFilter.collection.name}}
           <i class="fa fa-caret-down" aria-hidden="true"></i>
         </p>
         <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
          <li>
            <p ng-click = 'selectRankingCollection()'>All</p>
            <p ng-repeat = 'c in collections' ng-click = 'selectRankingCollection(c)'>{{c.name}}</p>
          </li>
        </ul>
      </div>
    </div>
    <div class = 'filter-item'>
      <div uib-dropdown class='date-choice'>
        <p uib-dropdown-toggle class = 'hover'>
          {{listMonths[rankingFilter.selectedMonth].short}}
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </p>
        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
         <li>
           <p ng-repeat = 'm in listMonths' ng-click = 'selectMonth(m)'>{{m.short}}</p>
         </li>
       </ul>
      </div>
    </div>
    <div class = 'filter-item'>
      <div uib-dropdown class='date-choice'>
        <p uib-dropdown-toggle class = 'hover'>
          {{rankingFilter.selectedYear}}
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </p>
        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
         <li>
           <p ng-repeat = 'y in listYears'  ng-click = 'selectYear(y)'>
             {{y}}
           </p>
         </li>
       </ul>
      </div>
    </div>
    <div class = 'filter-item'>
      <button class="btn btn-primary" type="button" ng-click="getRanking()">Submit</button>
    </div>
  </div>
</div> -->
<div class = 'mybox-item fix'>
 <table class = 'table-start' style = 'border-collapse:collapse'>
   <tr>
     <td>
       <div class= 'medal gold'>
           <p class= 'medal-text'>{{dataRanking[0].rank}}</p>
       </div>
     </td>
     <td class = "ranking">
       {{dataRanking[0].nImages}} photos
     </td>
     <td class = "ranking">{{dataRanking[0].username}}</td>
     <td class = "absorbing-column"></td>
   </tr>
   <tr>
     <td>
       <div class= 'medal silver'>
           <p class= 'medal-text'>{{dataRanking[1].rank}}</p>
       </div>
     </td>
     <td class = "ranking">
       {{dataRanking[1].nImages}} photos
     </td>
     <td  class = "ranking">{{dataRanking[1].username}}</td>
   </tr>
   <tr style = 'border-bottom: 2pt solid gray;'>
     <td>
       <div class= 'medal bronze'>
           <p class= 'medal-text'>{{dataRanking[2].rank}}</p>
       </div>
     </td>
     <td  class = "ranking">
       {{dataRanking[2].nImages}} photos
     </td>
     <td class = "ranking">{{dataRanking[2].username}}</td>
   </tr>
  </table>
 </div>
 <div class = 'mybox-item resize'>
   <div  class = 'table-end-box'>
     <table class = 'table-end'>
       <tr id='row-{{vol.id}}' ng-repeat='vol in dataRankingEnd' >
         <!-- ng-attr-id = "{{'row-'+vol.id}}"  -->
         <td>
           <div class= 'medal chocolate'>
               <p class= 'medal-text'>{{vol.rank}}</p>
           </div>
         </td>
         <td class = "ranking">
           {{vol.nImages}} photos
         </td>
         <td class = "ranking">{{vol.username}}</td>
         <td class = "absorbing-column"></td>
       </tr>
     </table>
   </div>
 </div>
