<div  class = 'filter-left-box'>
  <div class = 'filter-left-item'>
    <h3>Filters</h3>
  </div>
  <div class = 'filter-left-item'>
    <h4>
      Contributions:
    </h4>
    <div class = 'filter-dropdown' uib-dropdown>
      <p uib-dropdown-toggle>
        {{rankingFilter.type}}
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </p>
      <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
       <li>
         <p ng-click = "selectRankingType('geoloc')">Geolocalizations</p>
         <p ng-click = "selectRankingType('obs')">Observations</p>
         <p ng-click = "selectRankingType('modif')">Modifications</p>
       </li>
     </ul>
   </div>
 </div>
 <div class = 'filter-left-item' ng-hide='ownerId'>
    <h4>
      Owners:
    </h4>
    <div class = 'filter-dropdown' uib-dropdown>
      <p uib-dropdown-toggle>
        {{rankingFilter.owner.name}}
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </p>
      <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
       <li>
         <p ng-click = 'selectRankingOwner()'>All</p>
         <p ng-repeat = 'o in owners' ng-click = 'selectRankingOwner(o)'>{{o.name}}</p>
       </li>
     </ul>
   </div>
  </div>
  <div class = 'filter-left-item'>
    <h4>
      Collections:
    </h4>
    <div class = 'filter-dropdown' uib-dropdown>
       <p uib-dropdown-toggle>
         {{rankingFilter.collection.name}}
         <i class="fa fa-caret-down" aria-hidden="true"></i>
       </p>
       <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
        <li>
          <p ng-click = 'selectRankingCollection()'>All</p>
          <p ng-repeat = 'c in collections' ng-click = 'selectRankingCollection(c)'>{{c.name}}</p>
        </li>
      </ul>
    </div>
  </div>
  <div class = 'filter-left-item'>
    <h4>
      Dates:
    </h4>
    <div>
      <div uib-dropdown class='date-choice'>
        <p uib-dropdown-toggle class = 'hover'>
          {{listMonths[rankingFilter.selectedMonth].short}}
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </p>
        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
         <li>
           <p ng-repeat = 'm in listMonths' ng-click = 'selectMonth(m)'>{{m.short}}</p>
         </li>
       </ul>
      </div>
      <div uib-dropdown class='date-choice'>
        <p uib-dropdown-toggle class = 'hover'>
          {{rankingFilter.selectedYear}}
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </p>
        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
         <li>
           <p ng-repeat = 'y in listYears'  ng-click = 'selectYear(y)'>
             {{y}}
           </p>
         </li>
       </ul>
      </div>
    </div>
    <!-- <label>
      From:
      <input type="text" ng-model='rankingFilter.dates.min' placeholder="01/01/2017" style='width:100%'></p>
    </label>
    <label>
      To:
      <input type="text" ng-model='rankingFilter.dates.max' placeholder="31/12/2018" style='width:100%'></p>
    </label> -->
  </div>
  <div class = 'filter-left-item'>
    <button class="btn btn-primary" type="button" ng-click="getRanking()">Submit</button>
  </div>
