<div class = 'mybox-item fix'>
  <h1>Users</h1>
</div>
<div class = 'mybox-item resize'>
  <table class = 'validation-table'>
    <thead>
      <tr>
        <th  class = 'col-small' ng-show = 'isSuperAdmin'>
          Super Admin
          <span class="sortorder" ng-show="propertyName === 'super_admin'" ng-class="{reverse: reverse}"></span>
        </th>
        <th  class = 'col-medium' ng-show = 'isSuperAdmin'>
          Owner Admin
          <span class="sortorder" ng-show="propertyName === 'owner_admin'" ng-class="{reverse: reverse}"></span>
        </th>
        <th  class = 'col-medium'  ng-show = 'isSuperAdmin'>
          Validator
          <span class="sortorder" ng-show="propertyName === 'owner_validator'" ng-class="{reverse: reverse}"></span>
        </th>
        <th ng-click="sortBy('username')" class = 'col-medium'>
          Username
          <span class="sortorder" ng-show="propertyName === 'username'" ng-class="{reverse: reverse}"></span>
        </th>
        <th  class = 'col-medium'>
          Email
          <span class="sortorder" ng-show="propertyName === 'email'" ng-class="{reverse: reverse}"></span>
        </th>
        <th  class = 'col-medium'>
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="vol in users  | orderBy:propertyName:reverse">
        <td  class = 'col-small' ng-show = 'isSuperAdmin'>
          {{vol.super_admin}}
        </td>
        <td  class = 'col-medium' ng-show = 'isSuperAdmin'>
          <div class="btn-group" uib-dropdown style = 'width: 100%;'>
            <button id="single-button" type="button" class="btn btn-primary" style = 'width: 100%; white-space: normal;' uib-dropdown-toggle ng-disabled="disabled">
              {{owners[vol.owner_admin].name}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <li role="menuitem" ng-repeat = "o in owners" ng-click = 'selectAdminOwner(vol, o)'>{{o.name}}</li>
            </ul>
          </div>
        </td>
        <td  class = 'col-medium' ng-show = 'isSuperAdmin'>
          <div class="btn-group" uib-dropdown style = 'width: 100%;' >
            <button id="single-button-2" type="button" class="btn btn-primary" style = 'width: 100%; white-space: normal;' uib-dropdown-toggle ng-disabled="disabled">
              {{owners[vol.owner_validator].name}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button-2">
              <li role="menuitem" ng-repeat = "o in owners" ng-click = 'selectValidatorOwner(vol, o)'>{{o.name}}</li>
            </ul>
          </div>
        </td>
        <td  class = 'col-medium'>
          {{vol.username}}
        </td>
        <td  class = 'col-medium'>
          {{vol.email}}
        </td>
        <td  class = 'col-medium'>
          <button ng-show = 'isSuperAdmin' class="btn btn-primary" type="button" style = 'width: 100%; white-space: normal;' ng-click="giveSuperAdminRights(vol)">Set Super Admin</button>
          <button ng-show = 'isSuperAdmin' class="btn btn-primary" type="button" style = 'width: 100%; white-space: normal;' ng-click="giveOwnerAdminRights(vol)">Set Owner Admin</button>
          <button class="btn btn-primary" type="button" style = 'width: 100%; white-space: normal;' ng-click="giveValidatorRights(vol)">Set Validator</button>
          <button class="btn btn-primary" type="button" style = 'width: 100%; white-space: normal;' ng-click="removeRights(vol)">Remove rights</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
