<div id = 'left-menu'>
  <div class = 'menu-item'
  ng-click = "goHome()">
    <img class = 'menu-logo' src = '../icons/logo_text_only.svg'>
  </div>
  <div class = 'menu-item small with'>
    <p>
      <i class="fa fa-user" aria-hidden="true"></i>
      {{volunteer.username}}
    </p>
  </div>
  <div ng-class = "{'menu-item selected-green': currentMode == 0, 'menu-item': currentMode != 0}"
    ng-click = "switchTo('parameters')">
    <i class="menu-icon fa fa-user" aria-hidden="true"></i>
  </div>
  <div ng-class = "{'menu-item selected-green': currentMode == 1, 'menu-item': currentMode != 1}"
    ng-click = "switchTo('myImages')">
    <i class="menu-icon fa fa-map-marker" aria-hidden="true"></i>
  </div>
  <div ng-class = "{'menu-item selected-green': currentMode == 2, 'menu-item': currentMode != 2}"
    ng-click = "switchTo('ranking')">
    <i class="menu-icon fa fa-signal" aria-hidden="true"></i>
  </div>
  <div ng-class = "{'menu-item selected-green': currentMode == 3, 'menu-item': currentMode != 3}"
    ng-click = "switchTo('metadata')">
    <i class="menu-icon fa fa-info-circle" aria-hidden="true"></i>
  </div>
  <div ng-class = "{'menu-item selected-green': currentMode == 4, 'menu-item': currentMode != 4}"
    ng-click = "switchTo('observations')">
    <i class="menu-icon fa fa fa-eye" aria-hidden="true"></i>
  </div>
  <!-- <div ng-class = "{'menu-item selected-green': currentMode == 5, 'menu-item': currentMode != 5}"
    ng-click = "switchTo('metadataVal')">
    <i class="menu-icon val fa fa-info-circle" aria-hidden="true"></i>
  </div>
  <div ng-class = "{'menu-item selected-green': currentMode == 6, 'menu-item': currentMode != 6}"
    ng-click = "switchTo('observationsVal')">
    <i class="menu-icon val fa fa fa-eye" aria-hidden="true"></i>
  </div>
  <div ng-class = "{'menu-item selected-green': currentMode == 7, 'menu-item': currentMode != 7}"
    ng-click = "switchTo('geolocalisationVal')">
    <i class="menu-icon val fa fa-map-marker" aria-hidden="true"></i>
  </div> -->
  <div class = 'menu-buffer'>
  </div>
  <div class = 'menu-item'
    ng-show = "volunteer.is_validator"
    ng-click = "goToDashboard()">
    <i class="menu-icon val fa fa-tachometer" aria-hidden="true"></i>
  </div>
  <div class = 'menu-item' ng-click = 'goToHelp()'>
    <img class = 'menu-actions' src = '../icons/question.png'>
  </div>
</div>
