<!-- Error box -->
<script type="text/ng-template" id="errors.html">
  <div class="modal-header">
      <h3 class="modal-title">
        {{texts.errors[lang]}}
      </h3>
  </div>
  <div class="modal-body">
    <h4>
      {{texts.listErrors[lang]}}
    </h4>
    <div ng-show = 'errors === null || errors.length === 0'>
      {{texts.noReason[lang]}}
    </div>
    <div ng-show = 'errors != null && errors != []'
      ng-repeat= "e in errors | orderBy: '-id'" class='error-box' >
      <i class="fa fa-exclamation-circle attention-icon" aria-hidden="true"></i>
      <p class='inline error-text'  >
        {{e.translations[lang]}}
      </p>
      <i class="fa fa-question-circle question-icon" aria-hidden="true" ng-click = 'errorInfo(e)'></i>
    </div>
    <p ng-show='image.other_desc != ""' class='remark-box'>
      <i class="fa fa-comment-o" aria-hidden="true"></i>
      {{image.other_desc}}
    </p>
    <h4 ng-show='image.remark != ""'>
      {{texts.remark[lang]}}
     </h4>
    <p ng-show='image.remark != ""' class='remark-box'>
      <i class="fa fa-comment-o" aria-hidden="true"></i>
      {{image.remark}}
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="closeErrors()">OK</button>
  </div>
</script>

<div class = 'mybox-item fix'>
  <h1>
    {{texts.myImages[lang]}}
  </h1>
</div>
<div class = 'mybox-item fix'>
  <h4 ng-hide= "showImages">{{texts.noImages[lang]}}</h4>
</div>
<div class = 'mybox-item fix'>
  <div class = 'filterContainer'>
    <div class = 'filterItem'>
      <p>
        {{texts.filters[lang]}}
      </p>
    </div>
    <div class = 'filterItem'>
      <div class = 'btn green' >
        <span uib-dropdown on-toggle="toggled(open)">
          <a href id="owner-dropdown" uib-dropdown-toggle style = 'color: white;'>
            {{texts.owners[lang]}}
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li ng-repeat="owner in myImages.listOwners" ng-click = "selectOwner(owner, 'images')">
              <a href>{{owner}}</a>
            </li>
          </ul>
        </span>
      </div>
    </div>
    <div class = 'filterItem'>
      <div class = 'btn yellow'>
        <span uib-dropdown on-toggle="toggled(open)">
          <a href id="owner-dropdown" uib-dropdown-toggle style = 'color: white;'>
            {{texts.collections[lang]}}
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li ng-repeat="collection in myImages.listCollections" ng-click = "selectCollection(collection, 'images')">
              <a href>{{collection}}</a>
            </li>
          </ul>
        </span>
      </div>
    </div>
    <div class = 'filterItem'>
      <div class = 'btn gray' >
        <span uib-dropdown on-toggle="toggled(open)">
          <a href id="owner-dropdown" uib-dropdown-toggle style='color: gray'>
            {{texts.status[lang]}}
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li ng-repeat="state in status" ng-click = "selectState(state, 'images')">
              <a href>{{state[lang]}}</a>
            </li>
          </ul>
        </span>
      </div>
    </div>
    <div class = 'filterItem'>
      <p >
        {{texts.from[lang]}}:
        <input ng-click="openMinDate()" size="10" type="text"  uib-datepicker-popup="dd/MM/yyyy" ng-model="myImages.minDate" is-open="popupMinDate.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
      </p>
    </div>
    <div class = 'filterItem'>
      <p>
        {{texts.to[lang]}}:
        <input  ng-click="openMaxDate()" size="10" type="text"  uib-datepicker-popup="dd/MM/yyyy" ng-model="myImages.maxDate" is-open="popupMaxDate.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
      </p>
    </div>
  </div>
</div>
<div class = 'mybox-item fix'>
  <div style = 'display: inline-block; width: 100%; border-bottom-style: solid; border-bottom-color: #bcbec0; border-bottom-width: 1px'>
    <button class = 'btn btn-default' style = 'display: inline; color: white; background-color: #c92067' ng-repeat = 'o in selectedOwners' ng-click="unselectOwner(o, 'images')">{{o}}
      <i class="fa fa-times-circle" aria-hidden="true"></i>
    </button>
    <button class = 'btn btn-default' style = 'display: inline; color: white; background-color: #2a7cc0' ng-repeat = 'c in selectedCollections' ng-click="unselectCollection(c,'images')">{{c}}
      <i class="fa fa-times-circle" aria-hidden="true"></i>
    </button>
    <button class = 'btn btn-default' style = 'display: inline; color: white;' ng-repeat = 's in selectedStates' ng-click="unselectState(s,'images')"
    ng-class="{'greenBG': (s['status']=='validated'), 'redBG': (s['status']=='rejected'), 'orangeBG': (s['status']=='improved'), 'yellowBG': (s['status']=='waiting') }">{{s[lang]}}
      <i class="fa fa-times-circle" aria-hidden="true"></i>
    </button>
  </div>
</div>
<div class = 'mybox-item resize'>
  <div class = 'gridContainer' ng-show = "showImages">
    <div  class = 'imageBox' ng-repeat="image in myImages.selectedList" ng-class = "{'greenBG': image.status == 'validated', 'orangeBG': image.status == 'improved', 'redBG': image.status == 'rejected', 'yellowBG': image.status == 'waiting'}">
      <div class="center-cropped"
           style="background-image: url('{{image.src500}}');">
           <div ng-switch = 'image.status'>
             <h1 class = 'status-icon green' ng-switch-when = "validated" >
               <i class="fa fa-check-circle" aria-hidden="true"></i>
             </h1>
             <h1 class = 'status-icon orange' ng-switch-when = "improved">
               <i class="fa fa-check-circle" aria-hidden="true"></i>
             </h1>
             <h1 class = 'status-icon red' ng-switch-when = "rejected" >
               <i class="fa fa-times-circle" aria-hidden="true"></i>
             </h1>
             <h1 class = 'status-icon yellow' ng-switch-when = "waiting">
               <i class="fa fa-clock-o" aria-hidden="true"></i>
             </h1>
           </div>
      </div>
      <div class = 'infos-box'>

        <h4 style = 'margin: 5px; color: #5f5f5f; text-align: right'>{{image.title}}</h4>
        <h5 style = 'margin: 5px; color: #5f5f5f; text-align: right'><b>ID: {{image.original_id}}</b></h5>
        <h5 style = 'margin: 5px; color: #5f5f5f; text-align: right'>{{image.ownername}}</h5>
        <h5 style = 'margin: 5px; color: #5f5f5f; text-align: right'>{{image.collectionname}}</h5>
        <h5 style = 'margin: 5px; color: #5f5f5f; text-align: left'>
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          {{image.date_string}}
        </h5>
        <div ng-switch = 'image.status'>
          <h2 class = 'action-icon' ng-switch-when = 'validated'>
            <i class="fa fa-arrow-circle-o-down icon-image" aria-hidden="true" ng-click="getReward(image)" uib-tooltip ="{{texts.download[lang]}}"></i>
            <i class="fa fa-eye icon-image" aria-hidden="true" ng-click="goToMono(image.id)" uib-tooltip ="{{texts.see3D[lang]}}"></i>
          </h2>
          <h2 class = 'action-icon' ng-switch-when = 'improved'>
            <i
              class="fa fa-comment icon-image"
              aria-hidden="true"
              style = 'color: red'
              ng-click= 'openErrors(image)'
              uib-tooltip ="{{texts.seeErrors[lang]}}">
            </i>
            <i class="fa fa-arrow-circle-o-down icon-image" aria-hidden="true" ng-click="getReward(image)" uib-tooltip ="{{texts.download[lang]}}"></i>
            <i class="fa fa-eye icon-image" aria-hidden="true" ng-click = 'goToMono(image.id)' uib-tooltip ="{{texts.see3D[lang]}}"></i>
          </h2>
          <h2 class = 'action-icon' ng-switch-when = 'rejected'>
            <i
              class="fa fa-comment icon-image"
              style = 'color: red'
              aria-hidden="true"
              ng-click= 'openErrors(image)'
              uib-tooltip ="{{texts.seeErrors[lang]}}">
            </i>
            <i ng-show = '!image.georef_3d_bool' class="fa fa-repeat icon-image" aria-hidden="true" ng-click="goToGeoref(image.id)" uib-tooltip ="{{texts.restartGeoloc[lang]}}"></i>
          </h2>
          <h2 class = 'action-icon' ng-switch-when = 'waiting' >
            <i class="fa fa-repeat icon-image" aria-hidden="true" ng-click="goToGeoref(image.id)" uib-tooltip ="{{texts.improve[lang]}}"></i>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
