<div class = 'mybox-item fix'>
  <h1>
    {{texts.myObs[lang]}}
  </h1>
</div>
<div class = 'mybox-item fix'>
  <h4 ng-hide= "showImages">{{texts.noImages[lang]}}</h4>
</div>
<div class = 'mybox-item fix'>
  <div class = 'filterContainer'>
    <div class = 'filterItem'>
      <p>
        {{texts.filters[lang]}}
      </p>
    </div>
    <div class = 'filterItem'>
      <div class = 'btn green' >
        <span uib-dropdown on-toggle="toggled(open)">
          <a href id="owner-dropdown" uib-dropdown-toggle style = 'color: white;'>
            {{texts.owners[lang]}}
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li ng-repeat="owner in myObservations.listOwners" ng-click = "selectOwner(owner, 'observations')">
              <a href>{{owner}}</a>
            </li>
          </ul>
        </span>
      </div>
    </div>
    <div class = 'filterItem'>
      <div class = 'btn yellow'>
        <span uib-dropdown on-toggle="toggled(open)">
          <a href id="owner-dropdown" uib-dropdown-toggle style = 'color: white;'>
            {{texts.collections[lang]}}
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li ng-repeat="collection in myObservations.listCollections" ng-click = "selectCollection(collection, 'observations')">
              <a href>{{collection}}</a>
            </li>
          </ul>
        </span>
      </div>
    </div>
    <div class = 'filterItem'>
      <div class = 'btn gray' >
        <span uib-dropdown on-toggle="toggled(open)">
          <a href id="owner-dropdown" uib-dropdown-toggle style='color: gray'>
            {{texts.status[lang]}}
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li ng-repeat="state in status" ng-click = "selectState(state, 'observations')">
              <a href>{{state[lang]}}</a>
            </li>
          </ul>
        </span>
      </div>
    </div>
    <div class = 'filterItem'>
      <p >
        {{texts.from[lang]}}:
        <input ng-click="openMinDate()" size="10" type="text"  uib-datepicker-popup="dd/MM/yyyy" ng-model="myObservations.minDate" is-open="popupMinDate.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
      </p>
    </div>
    <div class = 'filterItem'>
      <p>
        {{texts.to[lang]}}:
        <input  ng-click="openMaxDate()" size="10" type="text"  uib-datepicker-popup="dd/MM/yyyy" ng-model="myObservations.maxDate" is-open="popupMaxDate.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
      </p>
    </div>
  </div>
</div>
<div class = 'mybox-item fix'>
  <div style = 'display: inline-block; width: 100%; border-bottom-style: solid; border-bottom-color: #bcbec0; border-bottom-width: 1px'>
    <button class = 'btn btn-default' style = 'display: inline; color: white; background-color: #c92067' ng-repeat = 'o in selectedOwners' ng-click="unselectOwner(o, 'observations')">{{o}}
      <i class="fa fa-times-circle" aria-hidden="true"></i>
    </button>
    <button class = 'btn btn-default' style = 'display: inline; color: white; background-color: #2a7cc0' ng-repeat = 'c in selectedCollections' ng-click="unselectCollection(c, 'observations')">{{c}}
      <i class="fa fa-times-circle" aria-hidden="true"></i>
    </button>
    <button class = 'btn btn-default' style = 'display: inline; color: white;' ng-repeat = 's in selectedStates' ng-click="unselectState(s, 'observations')"
    ng-class="{'greenBG': (s=='validated'), 'redBG': (s=='rejected'), 'orangeBG': (s=='improved'), 'yellowBG': (s=='waiting') }">{{s}}
      <i class="fa fa-times-circle" aria-hidden="true"></i>
    </button>
  </div>
</div>
<div class = 'mybox-item resize'>
  <div class = 'gridContainer' ng-show = "showImages">
    <div  class = 'imageBox' ng-repeat="observation in myObservations.selectedList" ng-class = "{'greenBG': observation.status == 'validated', 'orangeBG': observation.status == 'improved', 'redBG': observation.status == 'rejected', 'yellowBG': observation.status == 'waiting'}">
      <div class="center-cropped"
           style="background-image: url('{{observation.src500}}');">
           <div ng-switch = 'observation.status'>
             <h1 class = 'status-icon green' ng-switch-when = "validated" >
               <i class="fa fa-check-circle" aria-hidden="true"></i>
             </h1>
             <h1 class = 'status-icon orange' ng-switch-when = "improved">
               <i class="fa fa-check-circle" aria-hidden="true"></i>
             </h1>
             <h1 class = 'status-icon red' ng-switch-when = "rejected" >
               <i class="fa fa-times-circle" aria-hidden="true"></i>
             </h1>
             <h1 class = 'status-icon yellow' ng-switch-when = "waiting">
               <i class="fa fa-clock-o" aria-hidden="true"></i>
             </h1>
           </div>
      </div>
      <div class = 'infos-box'>
        <h4 style = 'margin: 5px; color: #5f5f5f; text-align: right'>{{observation.title}}</h4>
        <h5 style = 'margin: 5px; color: #5f5f5f; text-align: right'><b>ID: {{observation.original_id}}</b></h5>
        <h5 style = 'margin: 5px; color: #5f5f5f; text-align: right'>{{observation.ownername}}</h5>
        <h5 style = 'margin: 5px; color: #5f5f5f; text-align: right'>{{observation.collectionname}}</h5>
        <h5 style = 'margin: 5px; color: #5f5f5f; text-align: left'>
          <i class="fa fa-calendar-o" aria-hidden="true"></i>
          {{observation.date_string}}
        </h5>
        <h5 style = 'margin: 5px; color: #5f5f5f; text-align: left'>
          <b>{{texts.yourObs[lang]}}:
          </b> {{observation.observation}}
        </h5>
        <h5 style = 'margin: 5px; color: #5f5f5f; text-align: left'>
          <b>{{texts.remVal[lang]}}:</b> {{observation.remark}}
        </h5>
      </div>
    </div>
  </div>
</div>
