<div class = 'mybox-item fix'>
  <div class = 'btn yellow' ng-click = 'logout()'>
    <i class="fa fa-power-off" aria-hidden="true"></i>
    {{texts.logout[lang]}}
  </div>
</div>

<div class = 'mybox-item fix'>
  <h1>
    {{texts.myParams[lang]}}
  </h1>
</div>

<div class = 'mybox-item fix'>
  <h2>
    {{texts.newsletter[lang]}}
  </h2>
  <label>
    <input type="checkbox" ng-model="myParameters.newsletters" ng-click = 'updateNewsletter()'>
    {{texts.wantNewsletter[lang]}}
  </label>
</div>

<!-- <div class = 'mybox-item fix'>
  <h2>
    {{texts.notifications[lang]}}
  </h2>
  <label>
    <input type="checkbox" ng-model="myParameters.notifications" ng-click = 'updateNotifications()'>
    {{texts.wantNotifications[lang]}}
  </label>
</div> -->

<div class = 'mybox-item fix'>
  <h2>
    {{texts.username[lang]}}
  </h2>
  <label>
    {{texts.changeUsername[lang]}}:
    <input type="text" ng-model="volunteer.username">
    <button ng-click='submitUsername()'> OK </button>
  </label>
</div>

<div class = 'mybox-item fix'>
  <h2>
    {{texts.language[lang]}}
  </h2>
  <label>
    {{texts.changeLanguage[lang]}}
    <div class="btn-group" uib-dropdown is-open="false">
      <button type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        {{lang}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a href="#" ng-click="changeLang('en')">en</a></li>
        <li role="menuitem"><a href="#" ng-click="changeLang('fr')">fr</a></li>
        <li role="menuitem"><a href="#" ng-click="changeLang('it')">it</a></li>
        <li role="menuitem"><a href="#" ng-click="changeLang('de')">de</a></li>
      </ul>
    </div>
  </label>
</div>

<div class = 'mybox-item fix' ng-show = 'localLogin'>
  <h2>
    {{texts.updatePwd[lang]}}:
  </h2>
  <label>
    {{texts.oldPwd[lang]}}
    <br>
    <input type="password" ng-model="pwds.oldPwd">
    <br>
    {{texts.newPwd[lang]}}
    <br>
    <input type="password" ng-model="pwds.newPwd1">
    <br>
    <input type="password" ng-model="pwds.newPwd2">
    <button ng-show = 'pwds.same' ng-click='updatePwd()'> OK </button>
    <p ng-hide = 'pwds.same'> {{texts.newPwdNoMatch[lang]}}</p>
  </label>
</div>
