<div class = 'mybox-item fix'>
  <h1>
    {{texts.myRanking[lang]}}
  </h1>
</div>
<div class = 'mybox-item fix'>
  <div class = 'choice-box'>
    <div class = 'choice-item'>
      <div uib-dropdown class='date-choice'>
        <p uib-dropdown-toggle  class = 'hover'>
          {{listMonths[endMonth].short}}
        </p>
        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
         <li>
           <p ng-repeat = 'm in listMonths'  ng-click = 'selectEndMonth(m)'>{{m.short}}</p>
         </li>
       </ul>
      </div>
    </div>
    <div class = 'choice-item'>
      <div uib-dropdown class='date-choice'>
        <p uib-dropdown-toggle  class = 'hover'>
          {{endYear}} <span class="caret"></span>
        </p>
        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
         <li>
           <p ng-repeat = 'y in listYears'  ng-click = 'selectEndYear(y)'>
             {{y}}
           </p>
         </li>
       </ul>
      </div>
    </div>
    <div class = 'choice-item'>
      <div uib-dropdown>
      <p uib-dropdown-toggle  class = 'hover'>
        {{myCollections.selected.name}}<span class="caret"></span>
      </p>
      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
       <li>
         <p ng-repeat = 'c in myCollections.list' ng-click= 'selectCollectionRanking(c)'>{{c.name}}</p>
       </li>
      </ul>
      </div>
    </div>
  </div>
</div>
<div class = 'mybox-item fix'>
 <table class = 'table-start' style = 'border-collapse:collapse'>
   <tr>
     <td>
       <div class= 'medal gold'>
           <p class= 'medal-text'>{{dataRanking[0].rank}}</p>
       </div>
     </td>
     <td class = "ranking">
       {{dataRanking[0].nImages}} photos
     </td>
     <td class = "ranking">{{dataRanking[0].username}}</td>
     <td class = "absorbing-column"></td>
   </tr>
   <tr>
     <td>
       <div class= 'medal silver'>
           <p class= 'medal-text'>{{dataRanking[1].rank}}</p>
       </div>
     </td>
     <td class = "ranking">
       {{dataRanking[1].nImages}} photos
     </td>
     <td  class = "ranking">{{dataRanking[1].username}}</td>
   </tr>
   <tr style = 'border-bottom: 2pt solid gray;'>
     <td>
       <div class= 'medal bronze'>
           <p class= 'medal-text'>{{dataRanking[2].rank}}</p>
       </div>
     </td>
     <td  class = "ranking">
       {{dataRanking[2].nImages}} photos
     </td>
     <td class = "ranking">{{dataRanking[2].username}}</td>
   </tr>
  </table>
 </div>
 <div class = 'mybox-item resize'>
   <div  class = 'table-end-box'>
     <table class = 'table-end'>
       <tr ng-repeat='vol in dataRankingEnd' id='row-{{vol.id}}' ng-class = "{'greenBG': (vol.id === {{volunteer.id}})}" >
         <!-- ng-attr-id = "{{'row-'+vol.id}}"  id='row-{{vol.id}}'-->
         <td>
           <div class= 'medal chocolate'>
               <p class= 'medal-text'>{{vol.rank}}</p>
           </div>
         </td>
         <td class = "ranking">
           {{vol.nImages}} photos
         </td>
         <td class = "ranking">{{vol.username}}</td>
         <td class = "absorbing-column"></td>
       </tr>
     </table>
   </div>
 </div>
