<!-- Observation box -->
<script type="text/ng-template" id="observation.html">
    <div class="modal-header">
      <h3 class="modal-title">Observation</h3>
    </div>
    <div class="modal-body">
      <div id="openseadragon1" style="width: 800px; height: 600px">
        <seadragon
        options = "optionsViewer"
        mysd = "mysd"
        ></seadragon>
      </div>
      <!-- <img class="selectedImage" id = "{{observation.obs_id}}" ng-src = "{{observation.src1500}}"> -->
      <h4>{{observation.observation}}</h4>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="accept(observation)">Accept</button>
      <button class="btn btn-primary" type="button" ng-click="reject(observation)">Reject</button>
    </div>
  </div>
</script>
<div class = 'mybox-item fix'>
  <h1>Observations to validate</h1>
</div>
<div class = 'mybox-item fix'>
  <div class = 'imagesContainer'>
    <table class = 'validation-table'>
      <tr>
        <th ng-click="sortBy('date')">
          Date geoloc.
          <span class="sortorder" ng-show="propertyName === 'date'" ng-class="{reverse: reverse}"></span>
        </th>
        <th>
          Picture
        </th>
        <th  ng-click="sortBy('ownerName')">
          Owner
          <span class="sortorder" ng-show="propertyName === 'ownerName'" ng-class="{reverse: reverse}"></span>
        </th>
        <th  ng-click="sortBy('collectionName')">
          Collection
          <span class="sortorder" ng-show="propertyName === 'collectionName'" ng-class="{reverse: reverse}"></span>
        </th>
        <th  ng-click="sortBy('username')">
          Volunteer
          <span class="sortorder" ng-show="propertyName === 'username'" ng-class="{reverse: reverse}"></span>
        </th>
        <th>
          Observation
        </th>
      </tr>
      <tr ng-repeat="observation in toValidateObservations  | orderBy:propertyName:reverse">
        <td>
          {{observation.date_string}}
        </td>
        <td>
          <img id = "{{observation.id}}" ng-src = "{{observation.thumbSrc}}" ng-click="" style="width:200px">
        </td>
        <td>
          {{observation.ownername}}
        </td>
        <td>
          {{observation.collectionname}}
        </td>
        <td>
          {{observation.username}}
        </td>
        <td >
          <p>{{observation.observation}}</p>
          <button class="btn btn-primary" type="button" ng-click="watchObservation(observation)">Watch</button>
          <button class="btn btn-primary" type="button" ng-click="acceptObservation(observation)">Accept</button>
          <button class="btn btn-primary" type="button" ng-click="rejectObservation(observation)">Reject</button>
        </td>
      </tr>
    </table>
  </div>
</div>
