<div class = 'mybox-item fix'>
  <h1>Metadata to validate</h1>
</div>
<div class = 'mybox-item fix'>
  <div class = 'imagesContainer'>
    <table class = 'validation-table'>
      <tr>
        <th ng-click="sortBy('date')">
          Date geoloc.
          <span class="sortorder" ng-show="propertyName === 'date'" ng-class="{reverse: reverse}"></span>
        </th>
        <th>
          Picture
        </th>
        <th  ng-click="sortBy('ownerName')">
          Owner
          <span class="sortorder" ng-show="propertyName === 'ownerName'" ng-class="{reverse: reverse}"></span>
        </th>
        <th  ng-click="sortBy('collectionName')">
          Collection
          <span class="sortorder" ng-show="propertyName === 'collectionName'" ng-class="{reverse: reverse}"></span>
        </th>
        <th  ng-click="sortBy('username')">
          Volunteer
          <span class="sortorder" ng-show="propertyName === 'username'" ng-class="{reverse: reverse}"></span>
        </th>
        <th>
          Title
        </th>
        <th>
          Description
        </th>
      </tr>
      <tr ng-repeat="correction in toValidateCorrections  | orderBy:propertyName:reverse">
        <td>
          {{correction.date_string}}
        </td>
        <td>
          <img id = "{{correction.id}}" ng-src = "{{correction.thumbSrc}}" ng-click="" style="width:200px">
        </td>
        <td>
          {{correction.ownername}}
        </td>
        <td>
          {{correction.collectionname}}
        </td>
        <td>
          {{correction.username}}
        </td>
        <td >
          <div ng-show = 'correction.hasTitle'>
            <p>Original: {{correction.orig_title}}</p>
            <p>Submited: {{correction.sub_title}}</p>
            <p ng-show = 'correction.titleIsUpdated'>
              <input type="text" ng-model='correction.newTitle'>
            </p>
            <div ng-hide = 'correction.titleIsUpdated'>
              <button class="btn btn-primary" type="button" ng-click="startTitleUpdate(correction)">Update</button>
              <button class="btn btn-primary" type="button" ng-click="acceptTitle(correction)">Accept</button>
              <button class="btn btn-primary" type="button" ng-click="rejectTitle(correction)">Reject</button>
            </div>
            <div ng-show = 'correction.titleIsUpdated'>
              <button class="btn btn-primary" type="button" ng-click="updateTitle(correction)">Update</button>
            </div>
          </div>
          <div ng-hide = 'correction.hasTitle'>
            Title is not modified
          </div>
        </td>
        <td>
          <div ng-show = 'correction.hasCaption'>
            <p>Original: {{correction.orig_caption}}</p>
            <p>Submited: {{correction.sub_caption}}</p>
            <p ng-show = 'correction.captionIsUpdated'>
              <input type="text" ng-model='correction.newCaption'>
            </p>
            <div ng-hide = 'correction.captionIsUpdated'>
              <button class="btn btn-primary" type="button" ng-click="startCaptionUpdate(correction)">Update</button>
              <button class="btn btn-primary" type="button" ng-click="acceptCaption(correction)">Accept</button>
              <button class="btn btn-primary" type="button" ng-click="rejectCaption(correction)">Reject</button>
            </div>
            <div ng-show = 'correction.captionIsUpdated'>
              <button class="btn btn-primary" type="button" ng-click="updateCaption(correction)">Update</button>
            </div>
          </div>
          <div ng-hide = 'correction.hasCaption'>
            Caption is not modified
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
