<div class = 'mybox-item fix'>
  <h1>Geolocalisations to validate</h1>
</div>
<div class = 'mybox-item fix'>
  <h4 ng-hide= "showImages">{{texts.noImagesToValidate[lang]}}</h4>
</div>
<div class = 'mybox-item fix'>
  <div class = 'imagesContainer' ng-show = "showImages">
    <table class = 'validation-table'>
      <tr>
        <th ng-click="sortBy('date')">
          Date geoloc.
          <span class="sortorder" ng-show="propertyName === 'date'" ng-class="{reverse: reverse}"></span>
        </th>
        <th>
          Picture
        </th>
        <th  ng-click="sortBy('title')">
          Title
          <span class="sortorder" ng-show="propertyName === 'title'" ng-class="{reverse: reverse}"></span>
        </th>
        <th  ng-click="sortBy('ownerName')">
          Owner
          <span class="sortorder" ng-show="propertyName === 'ownerName'" ng-class="{reverse: reverse}"></span>
        </th>
        <th  ng-click="sortBy('collectionName')">
          Collection
          <span class="sortorder" ng-show="propertyName === 'collectionName'" ng-class="{reverse: reverse}"></span>
        </th>
        <th  ng-click="sortBy('username')">
          Volunteer
          <span class="sortorder" ng-show="propertyName === 'username'" ng-class="{reverse: reverse}"></span>
        </th>
        <th  ng-click="sortBy('score')">
          Max. Error
          <span class="sortorder" ng-show="propertyName === 'score_volunteer'" ng-class="{reverse: reverse}"></span>
        </th>
        <th  ng-click="sortBy('surface')">
          Surface covered
          <span class="sortorder" ng-show="propertyName === 'surface_ratio_volunteer'" ng-class="{reverse: reverse}"></span>
        </th>
        <th colspan="3">Actions</th>
      </tr>
      <tr ng-repeat="image in toValidateImages  | orderBy:propertyName:reverse">
        <td>
          {{image.date_string}}
        </td>
        <td>
          <img id = "{{image.id}}" ng-src = "{{image.thumbSrc}}" ng-click="" style="width:200px">
        </td>
        <td>
          {{image.title}}
        </td>
        <td>
          {{image.ownerName}}
        </td>
        <td>
          {{image.collectionName}}
        </td>
        <td>
          {{image.username}}
        </td>
        <td>
          {{image.score_volunteer}}%
        </td>
        <td>
          {{image.surface_ratio_volunteer}}%
        </td>
        <td>
          <button class="btn btn-primary" type="button" ng-click="goToGeoref(image.id)">Check</button><br>
        </td>
        <td>
          <button class="btn btn-primary" type="button" ng-click="validateGeoloc(image.id, image.volunteer_id)">Validate</button><br>
        </td>
        <td>
          <button ng-hide='image.in_game' class="btn btn-primary" type="button" ng-click="addToGame(image.id)">{{texts.addToGame[lang]}}</button>
        </td>
      </tr>
    </table>
  </div>
</div>
