html,body, .ng-scope {
  font-family: Lato;
  margin:0;
  padding:0;
  height:100%;
  background-color: #FFFAFA; /*snow*/
}

#box {
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
}
.box-item-resize {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  align-self: flex-start;
  height: 100%;
}
.box-item-fix {
  flex-grow: 0;
  flex-shrink: 0;
  align-self: flex-start;
  height: 100%;
}
#my-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  padding: 20px;
}
.mybox-item.fix {
  flex-grow: 0;
  flex-shrink: 0;
  height: auto;
  align-self: flex-start;
  width: 100%
}
.mybox-item.resize {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  height: 500px;
  align-self: flex-start;
  width: 100%;
}
.filter-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.filter-item {
  flex-grow: 0;
  margin-right: 30px;
  display: inline-block;
}
.filter-dropdown {
  display: inline-block;
}
.filter-title {
  display: inline-block;
  font-weight: bold;
}
.filter-text {
  display: inline-block;
  font-weight: normal;
}
.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}
table {
  table-layout: auto;
  height: 100%;
  /*overflow-y: scroll;*/
  display: block;
  width: 100%;
}
.validation-table {
  width: 100%;
  /*max-height: 100%;*/
  /*overflow-y: scroll;*/
}
/*th {
  width: 100px
}
td {
  width: 100px
}*/
thead {
  display:block;
  width: 100%;
}
/*thead.tr {
  position: relative;
}*/
tbody {
  display:block;
  overflow: auto;
  max-height: 95%;
  width: 100%;
}
tr {
  width: 100%;
}
.validation-table th {
  text-align: center;
}
.validation-table thead tr {
  display:block;
}
.validation-table th {
  border: none;
  text-align: center;
  /*padding: 5px;*/
  background-color: gray;
  color: white
}
.validation-table td {
  border-left-width: 1px;
}
.validation-table table, th, td {
  padding: 2px;
}
.validation-table table {
  border-collapse: collapse;
}
.validation-table > tbody> tr:nth-child(even) {background-color: #f2f2f2}


.filter-left-box {
  width: 200px;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  align-items: stretch;
}
.filter-left-item {
  flex-grow: 0;
  flex-shrink: 0;
  /*flex-basis: auto;*/
  /*width: 100%;*/
  /*border: solid;*/
  border-bottom: 1px solid gray;
}
/* for the observations in OSD*/
.highlight, .highlight:hover, highlight:focus {
    opacity:    0.5;
    filter:     alpha(opacity=40);
    /*outline:    100px auto yellow;*/
    outline-width: 20px;
    outline-style: solid;
    outline-color: yellow;
    /*background-color: red;*/
}
/* for the table*/
.col-small {
  width: 80px;
  max-width: 80px
}
.col-medium {
  width: 200px
}
.col-large {
  width: 600px
}
.center {
  text-align: center
}
