html,body, .ng-scope {
  font-family: Lato;
  margin:0;
  padding:0;
  height:100%;
  width: 100%;
  background-color: white; /*snow*/
}
.modal-content {
  padding: 20px;
  border-radius: 10px;
}
.middle-bar {
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
}
.btn {
  display: inline-block;
  border-radius: 3px;
  text-align: center;
  margin: 5px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: none;
}
.btn.wide {
  width: 100%;
}
.btn.green.disabled {
  border-style: none;
  background-color:  #91eedd;
}
.btn.green {
  background-color: #20CDAD;
  color: white;
}
.btn.yellow{
  background-color: #FFB028;
  color: white;
}
.btn.white{
  background-color: white;
  color: #444444;/*#979797;*/
  border-style: solid;
  border-color: #444444;/*#979797;*/
  border-width: 1px;
}
.btn.red{
  background-color: white;
  color: red;
  border-style: solid;
  border-color: red;
  border-width: 1px;
}
.btn.red.disabled{
  background-color: white;
  color: #ff6666;
  border-style: solid;
  border-color: red;
  border-width: 1px;
}
/* The switch - the box around the slider */
.switch {
   position: relative;
   display: inline-block;
   width: 46px;
   height: 26px;
   margin: 0px;
}
label {
  margin: 0px;
  margin-right: 0px;
  vertical-align: bottom;
}
/* Hide default HTML checkbox */
.switch input {display:none;}
/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 -webkit-transition: .4s;
 transition: .4s;
}
.slider:before {
 position: absolute;
 content: "";
 height: 20px;
 width: 20px;
 left: 3px;
 bottom: 3px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}
input:checked + .slider {
 background-color: #2196F3;
}
input:focus + .slider {
 box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
 -webkit-transform: translateX(20px);
 -ms-transform: translateX(20px);
 transform: translateX(20px);
}
/* Rounded sliders */
.slider.round {
 border-radius: 26px;
}
.slider.round:before {
 border-radius: 50%;
}

#box {
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
}
.box-item-resize {
  /*position: relative;*/
  flex-grow: 1;
  flex-shrink: 1;
  /*-grow: 1;
  flex-shrink:0;*/
  flex-basis: 50%;
  /*max-width: 100%;*/
  align-self: flex-start;
  height: 100%;
}
.box-item-resize.leftBox{
  flex-basis: 40%;
}
.box-item-resize.rightBox {
  flex-basis: 60%;
}
.box-item-fix {
  flex-grow: 0;
  flex-shrink: 0;
  align-self: flex-start;
  height: 100%;
}

/*INSTRUCTION BOX*/
#instruction-box {
  width: 100%;
  height:100%;
  background-color: white;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 20px;
}
.instruction-item {
  width: 100%;
  height: auto;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: flex-start;
  background-color: white;
}
.instruction-item.osd {
  width: 100%;
  height: 40%;
  /*flex-grow: 1;
  flex-shrink: 1;*/
  align-self: flex-start;
  background-color: white;
}
.instruction-item.buffer {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 5%;
}
.circle {
  color: #f2f2f2;
}
.circle.activated {
  color: #20CDAD;
}
.step-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
}
.step-box.left {
  justify-content: flex-end;
}
.step-item {
  flex-grow: 0;
  flex-shrink: 1;
}
.step-item.title {
  flex-grow: 1;
  flex-shrink: 1;
  width: 50%;
}
.step-item.resize {
  flex-grow: 1;
  flex-shrink: 1;
}
.step-item.icon {
  font-size: 40px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #f2f2f2;
  margin-right: 20px;
  flex-shrink: 0;
}
.icon {
  font-size: 40px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  background-color: #f2f2f2;
}
.step-item.left {
}
.step-item.center {
  text-align: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30%;
}
.step-item.right {
  text-align: right;
}
/* OPENSEADRAGON */
#openseadragon1 {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  position: relative;
}
#reproj-legend {
  position: absolute;
  bottom: 2px;
  left: 2px;
  background-color: rgba(255,255,255,0.5);
}
p.label {
  /*padding: 50px;*/
  font-size: 15px;
  width: 30px;
  height: 30px;
  margin: 20px;
  color: black;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
  border-radius: 15px;
  line-height: 30px;
}
p.labelStory {
  /*padding: 50px;*/
  margin-left: 20px;
  margin-top: 10px;
  color: black;
  font-size: large;
}
/* LEAFLET */
.leaflet-control {
  top: 70px;
  margin: 20px;
}
.popupLeaflet {
  font-size: 20px;
  width: 300px;
}
.popupLeaflet .leaflet-popup-tip,
.popupLeaflet .leaflet-popup-content-wrapper {
  background: white;
  color: black;
  text-align: center;
}
/* CESIUM */
#mini-map {
  position: absolute;
  width: 25%;
  height: 20%;
  bottom: 0px;
  left: 14px;
  z-index: 2;
  border: 10px solid;
  border-color: white;
}
#globe-bar {
  position: absolute;
  /*width: 33%;*/
  /*height: 55px;*/
  width: 40%;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: rgba(0,0,0, 0.5);
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.globe-bar-item {
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}
/* EDIT BOX */
.edit-box {
  border: 2px solid #f2f2f2;
  border-radius: 5px;
  background: #f2f2f2;
  padding: 12px;
  margin: 10px
}
.edit-input {
  width: 100%;
}
.observation {
  width: 100%;
  color: black;
  padding: 10px;
}
.osd-observation {
  font-size: 16px;
  color: white;
  background-color: rgba(32, 205, 173, 0.8);
  border-color: rgba(32, 205, 173, 0.8);
  border-style: solid;
  border-width: 10px;
  border-radius: 0px 50px 50px 50px;
  padding: 12px;
  max-width: 10%;
  /*//width: 100px;
  height: 100px;
  max-width: 25%;
  max-height: 25%;*/
}
.rect-observation {
  font-size: 16px;
  color: white;
  background-color: rgba(32, 205, 173, 0.1);
  border-color: rgba(32, 205, 173, 0.8);
  border-style: solid;
  border-width: 5px;
  padding: 12px;
}
.rect-observation-input {
  font-size: 16px;
  color: white;
  background-color: rgba(32, 205, 173, 0.7);
  border-color: rgba(32, 205, 173, 0.8);
  border-style: solid;
  border-width: 5px;
  padding: 12px;
}
.rect-observation-input::-webkit-input-placeholder {
  color: white;
}
.selection-box {
  font-size: 16px;
  color: white;
  background-color: rgba(32, 205, 173, 0.1);
  border-color: rgba(32, 205, 173, 0.8);
  border-style: solid;
  border-width: 5px;
  padding: 12px;
}
.highlight {
  font-size: 16px;
  color: white;
  background-color: rgba(32, 205, 173, 0.8);
  border-color: rgba(32, 205, 173, 0.8);
  border-style: solid;
  border-width: 10px;
  border-radius: 0px 50px 50px 50px;
  padding: 12px;
  max-width: 20%;
  /*//width: 100px;
  height: 100px;
  max-width: 25%;
  max-height: 25%;*/
}
#report-problem {
  text-align: right;
  cursor: pointer;
}
.cesium-move-ttip {
  z-index: 4;
  position: absolute;
}
/* for the image controller */
.range-title {
  font-size: 14px;
  display: inline-block;
  width: 100px;
  line-height: 0px;
}
.range-model {
  display: inline-block;
  width: 100px;
}
/*input range for ie*/
input[type=range]{
  margin: 0px;
  padding: 0px;
}
input[type=range]::-ms-track {
  /*example */
  width: 100px;
  height: 10px;
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;
  margin: 0px;
  padding: 0px;
}
input[type=range]::-ms-fill-upper {
  background: gray;
  border-radius: 6px;
}
input[type=range]::-ms-fill-lower {
  background: gray;
  border-radius: 6px;
}
input[type=range]::-ms-tooltip {
    display: none;
}

@media (min-width: 0px) and (max-width: 1170px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 15px;
  }
  h4 {
    font-size: 15px;
  }
  p, th, td  {
    font-size: 12px;
  }

}
@media (min-width: 1170px) {

}
