html,body, .ng-scope {
  font-family: Lato;
  height:100%;
  background-color: #FFFAFA; /*snow*/
}
body {
  width: 100%;
  text-align: center;
}
#centerContainer {
   width: 1200px;
   text-align: left;
   margin: 0px auto;
 }
h1, h2, h3 {
  padding-left: 20px
}
a {
  color: #20CDAD;
  font-weight: bold;
}
a:hover {
  color: #20CDAD;
  font-weight: bold;
  text-decoration: none;
}
h2 {
  letter-spacing: 3px;
}
h3 {
  line-height: 200%;
  margin-top: 20px;
}
p, li {
  font-size: 20px;
  font-weight: 300;
}
td {
  font-size: 16px;
}
.panel-group{
  margin-bottom: 50px; /*space after accordion*/
}
.acc-title {
  font-size: 24px;
  font-weight: 300;
  background-color: #f5f5f5;
  margin: 10px;
}
.icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: #5cc5c0;
}
.icon-item {
  flex-grow: 0;
  /*height: 300px;*/
  width: 300px;
  color: #5cc5c0;
  border-radius: 150px;
  text-align: center;
  cursor: pointer;
  background-color: #f5f5f5;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  /*padding-top: 15px;
  padding-bottom: 15px;*/
}
.icon-title {
  color: black;
  font-size:30px;
  text-align: center;
}
.icon {
  text-align: center;
  font-size: 250px;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 25%;
}
.accordion-box {
  margin-left: 50px;
  margin-right: 50px;
}
.tuto-img {
  max-width: 100%;
}
.center-img {
  text-align: center;
}
