html,body, .ng-scope {
  font-family: Lato;
  margin:0;
  padding:0;
  height:100%;
  background-color: #FFFAFA; /*snow*/
}
h1, h2, h3 {
  /*padding-left: 20px*/
}
a {
  color: #20CDAD;
  font-weight: bold;
}
a:hover {
  color: #20CDAD;
  font-weight: bold;
  text-decoration: none;
}
p {
  font-size: 14px;
}
td {
  font-size: 16px;
}
/* MENU */
#left-menu {
  /*position: absolute;
  top: 0px;
  left: 0px;*/
  width: 100px;
  height: 100%;
  background-color: white;
  box-shadow:5px 0px 10px gray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 3
}
.menu-item {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  height: 100px;
  width: 100px;
  display: block;
  cursor: pointer;
}
.menu-item.selected-green {
  border-style: solid;
  border-color: #20CDAD;
  border-width: 0px 0px 0px 5px;
  background-color: #f2f2f2;
}
.menu-item.selected-yellow {
  border-style: solid;
  border-color: #FFB028;
  border-width: 0px 0px 0px 5px;
  background-color: #f2f2f2;
}
.menu-item.selected-violet {
  border-style: solid;
  border-color: #7461DF;
  border-width: 0px 0px 0px 5px;
  background-color: #f2f2f2;
}
.menu-item.with {
  height: auto;
  text-align: center;
  max-width: 100%;
}
.menu-item.owner {
  height: auto;
}
.menu-logo {
  width: 80px;
  margin: 10px;
}
.menu-owner-logo {
  width: 80px;
  margin: 10px;
  height: auto;
}
.menu-actions {
  width: 60px;
  margin: 20px;
}
.menu-buffer {
  flex-grow: 3;
  flex-shrink: 1;
  flex-basis: auto;
  height: 50%;
  width: 100px;
}
#image-slider {
  /*position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 2;*/
  background: white;
  width: 100%;
  min-width: 100%;
  max-width: 500px; /* dont know why but necessary */
  height: 235px;
  overflow-x: scroll;
  overflow-y: hidden;
}
#image-slider-table {
  border-spacing:20px;
  margin: 10px;
}
#image-slider-table.td, th {
  vertical-align: top;
  border-top: 1px solid #ccc;
}
#image-slider-table.th {
  /*position:absolute;*/
  left:0;
}
/*#image-slider-table.td {
  position: relative;
}*/
.image-in-slider {
  position: relative;
    /*.image-in-slider:hover */
}
.image-in-slider:hover .metabox-slider {
    visibility: visible;
    opacity: 1;
    /*.image-in-slider:hover */
}
.image-in-slider .metabox-slider {
    visibility: hidden;
    padding: 5px;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10000000;
    width: 100%;
    height: 200px;
    text-align: center;
    vertical-align: middle;
}
.plus {
  font-size: 50px;
  color: white ;
  display: inline-block;
  /*background-color: rgba(255,255,255,0.8);*/
  padding: 5px;
  margin: 0;
  line-height: 200px;
  border-radius: 30px;
  text-shadow: 5px 5px 10px black;
  cursor: pointer;
}
.borderImg {
  border: 5px solid transparent;
  padding: 5px;
  height: 200px;
}
.borderImgSelGreen {
  border-style: solid;
   /*transparent;*/
  border-width: 0px 0px 10px 0px;
  padding: 5px;
  border-color: #20CDAD;
  height: 200px;
}
.borderImgSelYellow {
  border-style: solid;
   /*transparent;*/
  border-width: 0px 0px 10px 0px;
  padding: 5px;
  border-color: #FFB028;
  height: 200px;
}
.marker-cluster.yellow {
	background: rgba(255, 192, 82, 0.5);
  /*background: -webkit-radial-gradient(rgba(255, 192, 82, 0.75), rgba(255, 192, 82, 0.25), rgba(255, 192, 82, 0.01);*/
  /*background: -o-radial-gradient(rgba(255, 192, 82, 0.75), rgba(255, 192, 82, 0.25), rgba(255, 192, 82, 0.01);*/
  /*background: -moz-radial-gradient(rgba(255, 192, 82, 0.75), rgba(255, 192, 82, 0.25), rgba(255, 192, 82, 0.01); */
  background: radial-gradient(rgba(255, 192, 82, 0.75), rgba(255, 192, 82, 0.25), rgba(255, 192, 82, 0.01));
  border-radius: 80px;
}
.marker-cluster.yellow div {
	background-color: #FFB028;
  border-radius: 80px;
  margin-left:85px;
  margin-top:85px;
	}
.marker-cluster-small {
	background-color: rgba(142, 221, 209,1);
	}
.marker-cluster-small div {
	background-color: rgba(0,217,195,1);
	}

.marker-cluster-medium {
	background-color: rgba(142, 221, 209,1);
	}
.marker-cluster-medium div {
	background-color: rgba(0,217,195,1);
	}

.marker-cluster-large {
	background-color: rgba(142, 221, 209,1);
	}
.marker-cluster-large div {
	background-color: rgba(0,217,195,1);
	}
#filter-top-box {
  position: absolute;
  /*width: 33%;*/
  /*height: 55px;*/
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 5px 5px 10px gray;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#filter-collection {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  box-shadow: 5px 5px 10px gray;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  z-index: 70000;
}
.filter-top-item {
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 5px;
  margin-right: 5px;
}
.filter-top-item-input {
  flex-grow: 1;
  /*flex-basis: 25%;*/
  margin-right: 10px;
  width: 200px;
}
.dropdown-menu {
  z-index: 100000;
}
#filter-top-box p {
  display: inline;
  font-size: 20px;
  margin: auto;
  margin-right: 5px;
  width: auto;
}
#geoloc-box {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: white;
  border-radius: 5px 5px 0px 0px;
  padding: 5px;
  z-index: 100000;
}
#geoloc-box p {
  display: inline;
  font-size: 20px;
}
/* The switch - the box around the slider */
.switch {
   position: relative;
   display: inline-block;
   width: 46px;
   height: 26px;
   margin: 0px;
}
label {
  margin: 0px;
  margin-right: 0px;
  vertical-align: bottom;
}
/* Hide default HTML checkbox */
.switch input {display:none;}
/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 -webkit-transition: .4s;
 transition: .4s;
}
.slider:before {
 position: absolute;
 content: "";
 height: 20px;
 width: 20px;
 left: 3px;
 bottom: 3px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}
input:checked + .slider {
 background-color: #2196F3;
}
input:focus + .slider {
 box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
 -webkit-transform: translateX(20px);
 -ms-transform: translateX(20px);
 transform: translateX(20px);
}
/* Rounded sliders */
.slider.round {
 border-radius: 26px;
}
.slider.round:before {
 border-radius: 50%;
}
.left-box {
  /*position: absolute;
  top: 0px;
  left: 100px;*/
  /*width: 400px;*/
  width: 500px;
  height: 100%;
  background-color: #f2f2f2;
  box-shadow:5px 0px 10px gray;
  /*padding: 20px;*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  overflow-y: scroll;
  /*resize: horizontal;
  overflow: auto;*/
}
.left-box.hiddeno {
  background-color: #f2f2f2;
  width: auto;
}
.left-box.gray {
  background-color: #f2f2f2;
}
.left-box-item {
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: auto;
}
.left-box-item.no-top-margin {
  margin-top: 0px;
}
.left-box-item.no-bottom-margin {
  margin-bottom: 0px;
}
.left-box-item.white {
  background-color: white;
}
.left-box-item.resize{
  flex: 1;
  flex-basis: 20%;
}
.left-box-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  background-color: #f2f2f2;
  height: auto;
}
.left-box-line-item {
  flex-grow: 1;
  flex-shrink: 1;
  width: 50%;
}
.date-input {
  display: inline;
  padding: 10px;
  border-style:solid;
  border-color: #FFB028;
  width: 125px;
  border-radius: 0px;
  border-width: 1px;
  margin: 2px;
  height:42px;
}
.date-over {
   display: inline-block;;
}
.text-input {
  display: inline;
  padding: 10px;
  border-style:solid;
  border-color: #FFB028;
  border-radius: 0px;
  border-width: 1px;
  margin: 2px;
  height:42px;
}
.text-input.wide {
  width: 100%;
}
#box {
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.box-item-resize {
  /*position: relative;*/
  flex-grow: 1;
  flex-shrink: 1;
  /*-grow: 1;
  flex-shrink:0;*/
  flex-basis: 50%;
  /*max-width: 100%;*/
  align-self: flex-start;
  height: 100%;
}
.box-item-fix {
  flex-grow: 0;
  flex-shrink: 0;
  align-self: flex-start;
  height: 100%;
}
.vbox {
  height: 100%;
  width: 100%;
  max-height: 100%;
  /*max-width: 100%;*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
}
.vbox-item.fix {
  flex-grow: 0;
  flex-shrink: 0;
  height: 235px;
  /*flex-basis: auto;*/
  /*width: 100%;*/
}
.vbox-item.resize {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 10%;
  height: 100px;
  /*max-width: 100%;*/
  /*width: 100%;
  align-items: stretch;*/
  /*height: 100%;*/
}
.hbox {
  height: 100%;
  /*width: 100%;*/
  /*max-width: 100%;*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.hbox-item-resize {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  /*-grow: 1;
  flex-shrink:0;*/
  flex-basis: 50%;
  align-self: flex-start;
  height: 100%;
  /*max-width: 100%;*/
}
.hbox-item-fix {
  flex-grow: 0;
  flex-shrink: 0;
  align-self: flex-start;
  height: 100%;
}
.btn {
  display: inline-block;
  padding: 5px;
  font-size: 20px;
  border-radius: 3px;
  text-align: center;
  /*margin: 5px;*/
  cursor: pointer;
}
.btn.wide {
  width: 45%;
}
.btn-meta {
  width: 50%;
  float: right;
  font-size: 12px;
}
.btn.green {
  background-color: #20CDAD;
  color: white;
}
.btn.yellow {
  background-color: #FFB028;
  color: white;
}
.btn.white {
  background-color: white;
  color: #979797;
}
.btn-noapriori {
  display: inline-block;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px;
  font-size: 20px;
  border-radius: 3px;
  text-align: center;
  float: right;
  cursor: pointer;
}
.btn-noapriori.yellow {
  background-color: #FFB028;
  color: white;
}
.btn-noapriori.yellow-void {
  background-color: white;
  color: #FFB028;
  border-color: #FFB028;
  border-style: solid;
}

.selected-item {
  display: inline-block;
  background-color: #20CDAD;
  color: white;
  border-radius: 5px;
  padding: 5px;
  height: auto;
}
/* META INFORMATION BOX */
.info-obs-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.info-obs-item {
  flex-grow: 1;
  flex-basis: 50%
}
.meta-title {
  /*width: 49%;*/
  /*display: inline-block;*/
  text-align: center;
  background-color: white
}
.meta-title.selected {
  border-style: solid;
  border-color: #20CDAD;
  border-width: 0px 0px 5px 0px;
}
#meta-table {
}
#meta-table td {
  padding: 5px;
}
.column-title {
  text-align: right;
}
.column-value {
}
.column-value.link {
  cursor: pointer;
}
.btn-edit {
  background-color: white;
  color: #979797;
  float: right;
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
}
.edit-instruction {
  width: 100%;
  text-align: right;
  color: #979797;
}
.highlight {
  font-size: 16px;
  color: white;
  background-color: rgba(32, 205, 173, 0.8);
  border-color: rgba(32, 205, 173, 0.8);
  border-style: solid;
  border-width: 10px;
  border-radius: 0px 50px 50px 50px;
  padding: 12px;
  max-width: 20%;
  cursor: pointer;
  /*//width: 100px;
  height: 100px;
  max-width: 25%;
  max-height: 25%;*/
}
.rect-observation {
  font-size: 16px;
  color: white;
  background-color: rgba(32, 205, 173, 0.1);
  pointer-events: none;
  border-color: rgba(32, 205, 173, 0.8);
  border-style: solid;
  border-width: 5px;
  padding: 12px;
}
.rect-observation-input {
  font-size: 16px;
  color: white;
  background-color: rgba(32, 205, 173, 0.7);
  border-color: rgba(32, 205, 173, 0.8);
  border-style: solid;
  border-width: 5px;
  padding: 12px;
}
.rect-observation-input::-webkit-input-placeholder {
  color: white;
}
.general-observation {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 1px 2px gray;
  padding: 10px;
  margin: 10px;
}
/* OPENSEADRAGON*/
#openseadragon1 {
  width: 100%;
  height: 100%;
  position: relative;
}
#osd-close {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgba(255,255,255,0.5);
  height: 80px;
  width: 80px;
  border-radius: 40px;
  font-size: 60px;
  margin-top: 10px;
  text-align: center;
}
#osd-to-globe {
  position: absolute;
  top: 0px;
  left: 0px;
}
/* NO APRIORI */
#openseadragon2 {
  width: 100%;
  height: 100%;
  position: relative;
}
#osd-metadata {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(255,255,255, 0.8)
}
.vbox-noapriori {
  display: flex;
  flex-direction: column;
  /*align-items: flex-end;*/
  height: 100%;
  width: 100%;
  max-height: 100%;
  justify-content: space-between;
}
.vbox-noapriori-item-fix {
  flex-grow: 0;
  flex-shrink: 0;
  /*height: 10%;*/
}
.vbox-noapriori-item-resize {
  flex-grow: 1;
  flex-shrink: 1;
  height: 500px;
  /*flex-basis: 500px;*/
  /*max-height: 100%;*/
}
.hbox-noapriori {
  display: flex;
  flex-direction: row;
  /*align-items: flex-end;*/
  height: 100%;
  max-height: 100%;
  justify-content: space-between;
}
.hbox-noapriori-item {
  margin: 20px;
  flex-grow: 0;
  flex-shrink: 0;
  width: 48%;
  flex-basis: 48%;
  /*height: 100%;*/
  /*max-height: 50%;*/
}
.images-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  max-height: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 10px;
}
.images-box-item {
  flex-grow: 0;
  flex-shrink: 0;
  margin: 10px;
  height: auto;
}
.img-noapriori {
  /*height: 200px;*/
  cursor: pointer;
}
/* Cesium */
/* ------ */
#cesiumContainer {
   position: relative;
   width: 100%;
   height: 100%;
}
#globe-close {
  position: absolute;
  top: 0px;
  right: 0px;
  color: white;
  /*background-color: rgba(255,255,255,0.5);*/
  height: 80px;
  width: 80px;
  border-radius: 40px;
  font-size: 60px;
  margin-top: 10px;
  text-align: center;
  z-index: 2
}
#globe-bar {
  position: absolute;
  /*width: 33%;*/
  /*height: 55px;*/
  width: 60%;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: rgba(0,0,0, 0.5);
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.globe-bar-item {
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}
#zoom-btn {
  display: inline-block;
  margin: 0px;
  cursor: pointer;
}
.zoom-btn {
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  color: black;
  margin: 0px;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  margin: 10px;
  cursor: pointer;
}
.zoom-btn.left {
  display: inline-block;
  border-radius: 3px 0px 0px 3px;
  margin-right: 0px;
}
.zoom-btn.right {
  display: inline-block;
  border-radius: 0px 3px 3px 0px;
  margin-left: -5px;
}
.zoom-btn.up {
  border-radius: 3px 3px 0px 0px;
  margin-bottom: 0px;
}
.zoom-btn.down {
  margin-top: 0px;
  border-radius: 0px 0px 3px 3px;
}
.zoom-btn.green{
  background-color: #20CDAD;
  color: white;
}
#globe-top-left-bar {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index:2;
}
#scale-slider {

}
#transparency-slider {

}
.range-title {
  display: inline-block;
  width: 100px;
  line-height: 0px;
}
.range-model {
  display: inline-block;
  width: 100px;
}

/*input range for ie*/
input[type=range]{
  margin: 0px;
  padding: 0px;
}
input[type=range]::-ms-track {
  /*example */
  width: 100px;
  height: 10px;
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;
  margin: 0px;
  padding: 0px;
}
input[type=range]::-ms-fill-upper {
  background: gray;
  border-radius: 6px;
}
input[type=range]::-ms-fill-lower {
  background: gray;
  border-radius: 6px;
}
input[type=range]::-ms-tooltip {
    display: none;
}

@media (min-width: 0px) and  (max-width: 1024px) {
 p {
   font-size: 10px;
 }
 #geoloc-box p {
   font-size: 15px;
 }
 #filter-top-box p {
   font-size: 15px;
 }
 #image-slider {
   max-width: 500px; /* dont know why but necessary */
   height: 120px;
 }
 .image-in-slider .metabox-slider {
     height: 100px;
 }
 .borderImg {
   height: 100px;
 }
 .borderImgSelGreen {
   height: 100px;
 }
 .borderImgSelYellow {
   height: 100px;
 }
 .vbox-item.fix {
   height: 120px;
 }
}
