/* MENU */
#left-menu {
  /*position: absolute;
  top: 0px;
  left: 0px;*/
  width: 100px;
  height: 100%;
  max-height: 100%;
  background-color: white;
  box-shadow: 5px 0px 10px gray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 3;
  border-style: solid;
  border-width: 1px;
  border-color: #f2f2f2;
}
#left-menu.small {
  width: 80px;
}
.menu-item {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  height: 100px;
  width: 100px;
  display: block;
  cursor: pointer;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #f2f2f2;
  background-color: white;
  position: relative;
}
.menu-item.small {
  height: 80px;
  width: 80px;
}
.menu-item:hover {
  background-color: #f2f2f2;
}
.menu-item.selected-green {
  border-style: solid;
  border-color: #20CDAD;
  border-width: 0px 0px 0px 5px;
  background-color: #f2f2f2;
}
.menu-item.selected-yellow {
  border-style: solid;
  border-color: #FFB028;
  border-width: 0px 0px 0px 5px;
  background-color: #f2f2f2;
}
.menu-item.selected-violet {
  border-style: solid;
  border-color: #7461DF;
  border-width: 0px 0px 0px 5px;
  background-color: #f2f2f2;
}
.menu-item.with {
  height: auto;
  text-align: center;
  border: none;
  background-color: white;
  font-size: 100%;
  max-width: 100%;
}
.menu-item.owner {
  height: auto;
  border: none;
  background-color: white;
}
.menu-logo {
  width: 80px;
  margin: 10px;
}
.menu-logo.small {
  width: 70px;
  margin: 5px;
}
.menu-icon {
  font-size: 60px;
  color: #444444;
  line-height: 80px;
  text-align: center;
  margin: 10px;
}
.menu-icon.small {
  font-size: 60px;
  line-height: 70px;
  margin: 5px;
}
.menu-icon.val {
  color: #FFB028;
}
.menu-owner-logo {
  width: 80px;
  margin: 10px;
  height: auto;
}
.menu-actions {
  width: 60px;
  margin: 20px;
}
.menu-buffer {
  flex-grow: 3;
  flex-shrink: 1;
  flex-basis: auto;
  height: 300px;
  width: 100px;
}
.menu-buffer.small {
  width: 80px;
}
.menu-info {
  position: absolute;
  left:100px;
  top: 0px;
  height: auto;
  width: 200px;
  z-index: 100000;
  border-radius: 0px 20px 20px 20px;
  padding: 20px;
}
.menu-info-text {
  color: white;
  font-size: 20px;
}
.menu-info.green {
  background-color: rgba(32, 205, 173, 0.92); /*#20CDAD;*/
}
.menu-info.yellow {
  background-color: rgba(255, 176, 40, 0.92);/*#FFB028;*/
}
.menu-info.purple {
  background-color: rgba(116, 97, 223, 0.92);/*#7461DF;*/
}

@media (min-width: 0px) and  (max-width: 1024px) {
  #left-menu {
    width: 50px;
  }
  .menu-item {
    height: 50px;
    width: 50px;
  }
  .menu-logo {
    width: 40px;
    margin: 5px;
  }
  .menu-owner-logo {
    width: 40px;
    margin: 5px;
    height: auto;
  }
  .menu-actions {
    width: 30px;
    margin: 10px;
  }
  .menu-buffer {
    width: 50px;
  }
}
