.divTable{
	display: table;
  background-color: transparent;
	font-size: 16px;
}
.divTableRow {
	display: table-row;
}
.divTableCell{
  height: 30px;
  width:30px;
  display: table-cell;
  /*background-color: white;*/
  text-align: center;
  vertical-align: middle;
  padding: 0;
}
.divTableBody {
	display: table-row-group;
}
.top-left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 30px 30px;
  border-color: transparent transparent white transparent;
  background-color: transparent;
}
.top-right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 0 30px;
  border-color: transparent transparent transparent white;
  background-color: transparent;
}
.bottom-left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 30px 0;
  border-color: transparent white transparent transparent;
  background-color: transparent;
}
.bottom-right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 0;
  border-color: white transparent transparent transparent;
  background-color: transparent;
}
.middle {
  background-color: white;
}
