/*body {
    font-family: Ubuntu, "times new roman", times, roman, serif;
}*/
html,
body {
	margin:0;
	padding:0;
	height:100%;
  font-family: Ubuntu, "times new roman", times, roman, serif;
  background-color: #FFFAFA; /*snow*/
}
.nav>li>a.languageLink {
	padding: 2px;
	margin: 0px;
	font-size: 10px;
}
#wrapper {
	min-height:100%;
	position:relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#header {
	width: 100%;
	background-color: #F5F5F5;
	/*background:#ededed;
	padding:10px;*/
}
#headerBar{
	/*position: relative;
	left: 50%;
	background-color: #F5F5F5;*/
}
#content {
	/*padding-bottom:0px;*/ /* Height of the footer element */
	flex-grow: 1;
}
/*footer
--------*/
#footerBottom {
	background-color: black;/*#F5F5F5;*/
	width:100%;
	/*height: 100%;*/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/*height:500px;*/
	/*position:absolute;*/
	/*bottom:0;
	left:0;*/
}
#footer {
	background-color: black;/*#F5F5F5;*/
	/*width:100%;*/
	/*height: 100%;*/
	display: flex;
	flex-direction: row;
	justify-content: space-between;;
	align-items: center;
	/*height:500px;*/
	/*position:absolute;
	bottom:0;
	left:0;*/
}
.footer-text {
	text-align: right;
	/*left:50%*/
}
.footer-text a {
	color: white;
	font-weight: bold;
}
.footer-text a:hover {
	font-weight: bold;
	color: white;
}
.itemFooterLogo{
	flex: none;
	margin-left: 10px;
}
.itemFooterText{
	flex: none;
	font-size:14px;
	margin: 8px;
	text-align: right;
	/*position: relative;*/
	font-weight: normal;
	color: white;
	margin-right: 10px;
}

#logos{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  justify-content: flex-start;
}
/*header small*/
.containerHeaderSmall{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.itemHSLogo{

}
.itemHSLang{

}
.bg-1 {
    /*background-color: #1abc9c; */
    color: #ffffff;
    font-size: 18px;
}
.bg-blue {
    /*background-color: #00CCFF;*/
}
.bg-grey {
    background-color: #C0C0C0; /* Green */
    /*color: #ffffff;*/
}
.bg-green {
  background-color: #ebfaf7 /* #5FD3BC3*/;
  font-size: 18px;
  color: black;
}

.bg-grey-footprint {
    background-color: #F5F5F5; /* Green */
    font-weight: normal;

    /*color: #ffffff;*/
}
.bg-white {
    background-color: #FFFAFA; /*#ffffff Green */
    color: #000000;
    font-size: 18px;
}
#gcpTable {
	border-collapse: collapse;
	width: 100%;
}
#gcpTable td, #gcpTable th {
    padding: 8px;
		text-align: center;
}
#gcpTable thead {
	background-color: white;
}
#gcpTable tbody tr:nth-child(odd){
	background-color: #f2f2f2;
}
#gcpTable tbody tr:hover {
	background-color: rgb(252, 232, 232);
	color: black;
	font-weight:bold;
}
#gcpTable tbody tr.color-selected{
	color: white;
	background-color: rgb(247, 187, 187);/*red light*/
	font-weight: bold;
}
#gcpTable tbody td.error-low{
	color: green;
	font-weight: bold;
}
#gcpTable tbody td.error-medium{
	color: orange;
	font-weight: bold;
}
#gcpTable tbody td.error-high{
	color: red;
	font-weight: bold;
}
.table-striped:hover{
	background-color:rgb(255,51,51);/*red light*/
}
.color-selected {
	color: white;
	background-color: rgb(247, 187, 187);/*red light*/
	font-weight: bold;
}
.color-selected:hover {
	background-color:rgb(247, 187, 187);/*red dark*/
	font-weight: bold;
}
.color-unselected {
	color:black;
}
.container {
    padding-top: 20px;
    padding-bottom: 20px;
		height:100%;
}
/*.footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  height:32px;

}*/
/*.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height:32px;
}*/

.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 1px;
}
.navbar-nav li a:hover {
    color: #1abc9c !important;
}
#overlay {
  opacity: 0.8;
  background-color: #000000;
}
p {
  text-align: left;
}
p.label {
  /*padding: 50px;*/
  margin: 25px;
  color: black;
  font-size: large;
}
img.gcp {
  margin: 0px;
  padding: 0px;
}
.game-widget-container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: nowrap;
}
.progress-bar-success {
  background: rgb(49, 180, 154);
}
.progress-bar-danger {
  background: rgb(255, 51, 51);
}
.progress-bar-warning {
  background: rgb(239, 167, 67);
}
.progress-bar-greenLight {
  background: rgb(95,211,188);
}
.progress-bar-orangeLight {
  background: rgb(243, 189, 114);
}
.progress-bar-redLight {
  background: rgb(255, 102, 102);
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
/*.mycluster {
  width: 40px;
  height: 40px;
  background-color: greenyellow;
  text-align: center;
  font-size: 24px;
}*/
.marker-cluster-red {
	background-color: red;
	}
.marker-cluster-red div {
	background-color: yellow;
	}
.marker-cluster-small {
	background-color: rgba(95,211,188,0.4);
	}
.marker-cluster-small div {
	background-color: rgba(95,211,188,0.6);
	}

.marker-cluster-medium {
	background-color: rgba(95,211,188,0.4);
	}
.marker-cluster-medium div {
	background-color: rgba(95,211,188,0.6);
	}

.marker-cluster-large {
	background-color: rgba(95,211,188,0.4);
	}
.marker-cluster-large div {
	background-color: rgba(95,211,188,0.6);
	}
  h2 {
    color: rgb(95,211,188);
    text-align: center;
  }
  a {
    color: rgb(95,211,188);
		font-weight: bold;
  }
  a:hover {
    color: rgb(95,211,188);
    font-weight: bold;
    text-decoration: none;
  }
	a:focus { /*suppress the border around the accordion title*/
		text-decoration: none;
		outline: none;
	}
  .btn-primary{
    background-color: rgb(95,211,188);
    border-color: rgb(95,211,188);
  }
  .active{
    /*background-color: rgb(49, 180, 154)*/;
    border-color: rgb(49, 180, 154);
  }
  .btn-primary:hover{
    background-color: rgb(49, 180, 154);
    border-color: rgb(49, 180, 154);
  }
  .btn-success{
    background-color: rgb(95,211,188);
    border-color: rgb(95,211,188);
  }
  .btn-success:hover{
    background-color: rgb(49, 180, 154);
    border-color: rgb(49, 180, 154);
  }
  .btn-danger{
    background-color: rgb(255,85,85);
    border-color: rgb(255,85,85);
  }
  .btn-danger:hover{
    border-color: rgb(255, 51, 51);
    background-color: rgb(255, 51, 51);
    border-color: rgb(255, 51, 51);
  }
  .alert-success{
    border-color: rgb(95,211,188);
    background-color: rgb(95,211,188);
    color: white;
  }
  .alert-danger{
    background-color: rgb(255,85,85);
    color: white;
  }
  .alertBtn{
    cursor: pointer;
  }
  .alertBtn:hover{
    background-color: rgb(49, 180, 154);
    border-color: rgb(49, 180, 154);
  }
	/*style for the slider on the page bottom*/
	#imageSlider.table {
		table-layout: fixed;
		width: auto;
		overflow-x: scroll;
		border-spacing:10px;
	}
	#imageSlider.td, th {
		vertical-align: top;
		border-top: 1px solid #ccc;
	}
	#imageSlider.th {
		position:absolute;
		left:0;
	}

	.borderImg {
		border: 5px solid transparent;
		padding: 5px;
	}
	.borderImgSel {
		border: 5px solid transparent;
		padding: 5px;
		border-color: yellow;
	}
	.img-slider {
		height: 200px;
		width: auto;
		cursor: pointer;
	}
	.outer {
		height: 210px;
		/*position:relative;*/
		/*min-height: 200px;*/
		/*bottom: 10px;*/
	}
	.inner {
		overflow-x:scroll;
		overflow-y:visible;
		width:100%;
		margin-left:0px;
	}
	.georefStepsContainer {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		margin: 10px;
	}
	.georefStepItem {
		flex-grow: 1;
		flex-basis: 15%;
		border: 1px solid;
		border-color: LightGrey;
		/*height: 30px;*/
		padding: 5px;
		border-radius: 5px 0px 0px 5px;
		text-align: center;
		box-shadow: 5px 5px 2px LightGrey;
		font-weight: bold;
		background-color: white;
		color: LightGrey
	}
	.georefStepItem.currentStep{
		box-shadow: 5px 5px 2px rgb(95,211,188);
		background-color: LightGrey;
		border-color: LightGrey;
		color: white;
	}
	.georefStepItem.pastStep{
		background-color: LightGray;
		border-color: LightGray;
		color: white;

	}
	.right-triangle {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 16px 0 16px 32px;
		border-color: transparent transparent transparent LightGray;
	}
	.right-triangle.past {
		border-color: transparent transparent transparent LightGrey;
	}
	.instructionTitle{
		margin: 10px;
		width: auto;
		border-radius: 10px 10px 10px 10px;
		background-color: rgb(95,211,188);
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		color: white;

	}
	.mimic-panel-body {
		display: block;
		background-color: white;
		border-color: #ddd;
		border-width: 1px;
		border-style:solid;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		width: 100%;
		padding: 10px;

	}
	.mimic-panel-heading {
		display: block;
		border-color: #ddd;
		border-width: 1px;
		border-style:solid;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		width: 100%;
		padding: 10px;
		background-color: #f5f5f5;
	}
	.notGeoref {
		color: red;
		cursor: pointer;
	}
	.notGeoref:hover {
		color: DarkRed;
	}
	.link {
		cursor: pointer;
	}
	/*.accordiong-heading:active{

		border
	}*/
	/*.heading-about{
		text-decoration: none;
		outline: none;
	}
	.heading-about:focus{
		text-decoration: none;
		outline: none;
	}*/
