.message-neutral{
    color: black;
    background-color: yellow;
    text-align: center;
}
.message-positive{
    color: black;
    background-color: green;
    text-align: center;
}
.message-negative{
    color: black;
    background-color: red;
    text-align: center;
}
