

html,body, .ng-scope {
  font-family: Lato;
  margin:0;
  padding:0;
  height:100%;
  background-color: #FFFAFA; /*snow*/
}

#box {
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
}
.box-item-resize {
  /*position: relative;*/
  flex-grow: 1;
  flex-shrink: 1;
  /*-grow: 1;
  flex-shrink:0;*/
  flex-basis: 50%;
  /*max-width: 100%;*/
  align-self: flex-start;
  height: 100%;
}
.box-item-resize.leftBox{
  flex-basis: 33%;
}
.box-item-resize.rightBox {
  flex-basis: 77%;
}
.box-item-fix {
  flex-grow: 0;
  flex-shrink: 0;
  align-self: flex-start;
  height: 100%;
}
#my-box {
  height: 100%;
  width: 100%;
  padding: 50px;
  /*max-height: 100%;*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  /*overflow: hidden;*/
}
.mybox-item.fix {
  flex-grow: 0;
  flex-shrink: 0;
  height: auto;
  align-self: flex-start;
  width: 100%
}
.mybox-item.resize {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 50%;
  height: 500px;
  align-self: flex-start;
  width: 100%;
}

.axis path,
.axis line{
  stroke-opacity: 0.3;
  shape-rendering: crispEdges;
}
.tick line{
  opacity: 0.2;
}
.imageBox {
  /*border-color: grey;
  border-style: outset;*/
  /*border-radius: 20px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);*/
  margin: 25px;
}
/*.imageBox.green {
  box-shadow: 2px 2px 4px #20CDAB;
}
.imageBox.orange {
  box-shadow: 2px 2px 4px #FF7D28;
}
.imageBox.red {
  box-shadow: 2px 2px 4px #F82744;
}
.imageBox.yellow {
  box-shadow: 2px 2px 4px #FFB028;
}*/
.infos-box {
  padding: 10px;
  background-color: white;
  color: black;
  border-color: #5f5f5f;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
}
.imageBox img{
  margin: 15px;
}
.imagesContainer{
  max-height: 100%;
  overflow-y: auto;
}
.container100 {
  /*height: 100%;*/
}
/*.tick {
  display: none;
}*/
/*.bar {
  fill: steelblue;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}*/
.containerVerticalGeneral {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}
.itemVerticalGeneralFix {
  flex-grow: 0;
  flex-basis: auto;
  /*margin: 10px;*/
}
.itemVerticalGeneralAdapt {
  flex-grow: 1;
  flex-basis: auto;
  margin: 10px;
  /*max-height: 50%;*/
}
.btn-primary{
  margin-bottom: 5px;
}
.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}
.gridContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  overflow-y: scroll;
}
.imageBox {
  height: 100%;
  width: 400px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #BCE0C2;
}
.center-cropped {
  width: 400px;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.status-icon {
  width: auto;
  height: auto;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0px;
  padding: 5px;
  text-align: right;
  border-radius: 20px;
  padding: 5px;
}
.status-icon.green {
  color: #20CDAB;
}
.status-icon.orange{
  color: #FF7D28;
}
.status-icon.red{
  color: #F82744;
}
.status-icon.yellow{
  color: #FFB028;
}
.action-icon {
  margin: 5px;
  color: #5f5f5f;
  text-align: right;
  background: none;
}

.yellowBG {
  background-color: #FFB028;
  box-shadow: 2px 2px 4px #FFB028;
}
.orangeBG {
  background-color: #FF7D28;
  box-shadow: 2px 2px 4px #FF7D28;
}
.redBG {
  background-color: #fc9ca9;
  box-shadow: 2px 2px 4px #fc9ca9;
}
.grayBG {
  background-color: #bcbec0;
  box-shadow: 2px 2px 4px #bcbec0;
}
.greenBG {
  background-color: #20CDAB;
  box-shadow: 2px 2px 4px #20CDAB;
}
.container {
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  height:100%;
  width: 100%;
}
p.inline{
  display: inline;
}
.filterContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-color: #bcbec0;
  border-bottom-width: 1px;
}
.filterItem {
  flex-grow: 0;
  flex-basis: 0;
  margin: 2px;
}
/* To avoid that the date picker takes the entire height*/
ul.uib-datepicker-popup.dropdown-menu.ng-scope {
  height: auto;
}
li.uib-button-bar.ng-scope {
  height: auto;
}
.row {
  margin-left: 10px;
  margin-right: 10px;
}
.btn {
  border: 0px;
  margin: 2px;
}
.btn.green {
  color: white;
  background-color:#20CDAB;
  margin: 5px;
}
.btn.yellow {
  color: white;
  background-color: #FFB028;
  margin: 5px;
}
.btn.gray {
  color: white;
  margin: 5px;
  background-color: #e6e7e8;
}

.nav-link{
  color: #a7a9ac;
}
/*.validation-table {
  width: 100%;
}
.validation-table th {
  text-align: center;
}
.validation-table th {
  border: none;
  text-align: center;
  padding: 5px;
  background-color: gray;
  color: white
}
.validation-table td {
  border-left-width: 1px;
}
.validation-table table, th, td {
  padding: 2px;
}
.validation-table table {
  border-collapse: collapse;
}
.validation-table tr:nth-child(even) {background-color: #f2f2f2}*/
.icon-image {
  cursor: pointer;
}
.modal-content {
  padding: 20px;
}
.error-box {
  margin: 10px;
}
.attention-icon {
  color: red;
  font-size: 150%;
}
.error-text {
  background-color: #f8b0b5;
  border-radius: 10px;
  padding: 5px;
}
.question-icon {
  color: blue;
  font-size: 150%;
  margin:5px;
  cursor: pointer;
}
.remark-box {
  border-radius: 3px;
  padding: 10px;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  width:90%;
  margin: 10px;
}
.highlight, .highlight:hover, highlight:focus {
    opacity:    0.5;
    filter:     alpha(opacity=40);
    /*outline:    100px auto yellow;*/
    outline-width: 20px;
    outline-style: solid;
    outline-color: yellow;
    /*background-color: red;*/
}
