body {
  font-family: Lato;
}
/*.axis path,
.axis line{
  stroke-opacity: 0.3;
  shape-rendering: crispEdges;
}
.tick line{
  opacity: 0.2;
}*/
#goToContainer {
  display: flex; /* or inline-flex */
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  margin: 5px;

}
.goToItem{
  /*flex: none;*/
}
.logoBox {
  line-height: 70px;
}
.title-text {
  font-weight: 100;
  text-align: center;
}
.bkg-left {
  position: absolute;
  height: 100%;
  /*background-color: red;*/
  /*width: 10%;*/
  width: 40%;
  z-index: -1;
  bottom: 0px;
  /*background-image: linear-gradient(to right, transparent, #FFEBEE);*/
  /*background-color: gray;*/
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(white, #24C59D); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #24C59D); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #24C59D); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #24C59D);
  /*background-size: 100% 100%;*/
}
.bkg-right {
  position: absolute;
  height: 100%;
  /*background-color: gray;*/
  width: 40%;
  z-index: -1;
  bottom: 0px;
  right: 0px;
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(white, #24C59D); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #24C59D); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #24C59D); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #24C59D);
}
.image3d {
  width: 100%;
  /*max-width: 1405px;
  max-height: 630px;*/
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.pin{
  position: absolute;
  cursor: pointer;
}
.bkg-image {
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
}
.header {
  margin-top: 50px;
}
.title {
  font-weight: normal;
  text-align: center;
}
.wide-button {
  width: 100%;
  height: 68px;
  border-radius: 3px;
  text-align: center;
  display: table;
}
.wide-button.visit {
  background-color: #20CDAD;
  box-shadow:1px 3px 5px gray;
  color: white;
}
.wide-button.geoloc {
  background-color: #DADADA;
  box-shadow:1px 3px 5px gray;
  color: #BBBBBB;
}
.wide-button .texts {
  display: table-cell;
  vertical-align: middle;
}
.wide-button .name {
  font-weight: bold;
  margin: 0;
  padding: 2px;
}
.wide-button .under {
  font-weight: lighter;
  padding: 2px;
}
.row {
  margin-top: 10px;
  margin-bottom: 10px;
}
.challenge-bar {
  background-color: #20CDAD;
  width: 62%;
  height: 10px;
  border-radius: 0px 3px 3px 0px;
  box-shadow:1px 1px 2px gray;
}
.challenge-text-box {
  background-color: white;
  padding: 0;
  border-radius: 0px 6px 6px 0px;
  box-shadow:6px 6px 12px gray;
}
.challenge-image {
  background-color: white;
  padding: 0;
  /*background-image: url('../icons/challenge/ethz/challenge.jpg');*/
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px 0px 0px 6px;
  box-shadow:6px 6px 12px gray;
  cursor: pointer;
}
div[challenge-image] {
  background-color: white;
  padding: 0;
  /*background-image: url('../icons/challenge/ethz/challenge.jpg');*/
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px 0px 0px 6px;
  box-shadow:6px 6px 12px gray;
}
.challenge-title {
  display: inline-block;
}
.challenge-collection {
  font-weight: 500;
  padding: 10px;
}
.challenge-description {
  font-weight: 300;
  padding: 10px;
}
.challenge-percentage {
  color: #20CDAD;
  font-weight: 600;
  text-align: right;
  display: inline-block;
  float: right;
}
.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}
.challenge-image-bellow {
  padding: 0;
}
a {
  font-weight: 500;
  color: #20CDAD;
}
a:hover{
  font-weight: 500;
  color: #20CDAD;
  text-decoration: none;
}
.img-1 {
  float: right;
  /*position: absolute;
  top: 0px;
  right: 0px;*/
  width: 70%;
}
.box-img {
  padding-top: 30px;
}
.img-2 {
  /*float: right;*/
  /*position: absolute;
  top: 100px;
  left: 0px;*/
  /*margin-top: -100px;*/
  width: 70%;
  -ms-transform: rotate(7deg) translateY(-25%) translateX(10%); /* IE 9 */
  -webkit-transform: rotate(7deg) translateY(-25%) translateX(10%); /* Safari */
  transform: rotate(7deg) translateY(-25%) translateX(10%);
  box-shadow: 20px 20px 40px gray;
}
.link-box {
  width: 100%;
}
.home-link {
  text-align: center;
  /*width: 100%;*/
  /*position: absolute;
  bottom: 0px;*/
  font-weight: 500;
}
.center {
  text-align: center;
}
.fb-page {
}
table {
  width: 100%;
  padding: 0;
}
th {
  padding: 0;
}
.table-box {
  max-height: 500px;
  overflow-y: auto;
}
.right-cell {
  text-align: right;
}
.medal {
  height: 60px;
  width: 60px;
  border-radius: 30px;
}
.medal.gold {
  background-color: #FFD972;
  border: 10px solid #FFEAB2;
  color: white;
}
.medal.silver {
  background-color: #C2C2C2;
  border: 10px solid #E1E1E1;
  color: white;
}
.medal.bronze {
  background-color: #E9AD60;
  border: 10px solid #FFD38F;
  color: white;
}
.medal.chocolate {
  background-color: white;
  border: 10px solid #cccccc;
  color: black;
}
.medal-text {
  line-height: 40px;
  padding: 0;
  /*display: table-cell;*/
  vertical-align: middle;
  text-align: center;
  /*color: white;*/
  font-weight: 600;
}
.ranking {
  font-weight: 600;
  text-align: left;
}
.stat-bar {
  width: 100%;
  height: 16px;
}
.stat-bar-left {
  position: absolute;
  left: 0%;
  /*display: inline-block;*/
  height: 14px;
  background-color: #20CDAD;
  border-radius: 7px;
  width: 80%;
  z-index: 2;
}
.stat-bar-right {
  /*display: inline-block;*/
  position: absolute;
  height: 14px;
  background-color: #DADADA;
  border-radius: 7px;
  width: 100%;
  /*margin-left:-7px;*/
  z-index: 0;
}
.stat-text {
  color: #20CDAD;
  font-weight: 400;
  display: inline-block;
  /*font-size: 30px;*/
}
.stat-num {
  color: #20CDAD;
  font-weight: 600;
  /*font-size: 120%;*/
  color: #20CDAD;
  display: inline-block;
}
.hover {
  cursor: pointer;
}
.hover:hover {
  font-weight: bold;
}
.headerBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /*flex-wrap: nowrap;*/
}
.headerItem {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: flex-center;
}
.headerItem.middle {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 5%;
}
.dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}
.headerSmallBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.headerSmallItem {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: flex-center;
}
.rank-choices-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.rank-choices-item {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 100%;
  align-self: flex-center;
  text-align: right;
}
.date-choice {
  display: inline-block;
}
.footer {
  background-color: #FBFBFB;
}
.footer-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;/*flex-start;*/
  align-items: center;
  flex-wrap: wrap;
}
.footer-item {
  flex-grow: 0;
  flex-shrink: 1;
  align-self: flex-center;
  flex-basis: auto;
  padding: 10px;
}
.footer-item.contact {
  flex-grow: 0;
  flex-shrink: 1;
  align-self: flex-center;
  flex-basis: 30%;
}
.footer-item.pro {
  flex-grow: 0;
  flex-shrink: 1;
  align-self: flex-center;
  flex-basis: 30%;
  text-align: center;
}
.footer-item.space {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 5%;
  align-self: flex-center;
}
.green-button {
  display:inline-block;
  background-color: #20CDAD;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.yellow-button {
  display:inline-block;
  background-color: #FFB028;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.btn-link {
  color: white;
  font-weight: 300;
}
.btn-link:hover {
  color: white;
  text-decoration: none;
  font-weight: 300;
}
.footer-credit {
  padding: 0;
  line-height: 100%;
  clear: right;
  text-align: right;
}
.sponsors {
  background-color: white;
}
.sponsors-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;/*flex-start;*/
  align-items: center;
  flex-wrap: wrap;
}
.sponsor-item {
  flex-grow: 0;
  flex-shrink: 1;
  align-self: flex-center;
  flex-basis: auto;
  padding: 10px;
}
.sponsor-icon {
  width: 200px;
  height: auto;
}
.collections-table {

}
.collections-table-heading {
  font-weight: 300;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: #20CDAD;
  padding: 10px
}
.collections-table-td {
  padding: 10px
}
.collections-table-lines {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
}

/*@media (max-width: 768px) {

}*/
@media (min-width: 0px) and (max-width: 768px) {
  .header-with {
    font-size: 20px;
  }
  .row {
    margin-left: 10px;
    margin-right: 10px;
  }
  #menu {
    display: none;
  }
  .pin {
    display: none;
  }
  h1 {
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    padding: 10px;
    letter-spacing: 3px;
  }
  h2 {
    font-size: 30px;
    line-height: 35px;
    padding: 10px;
  }
  h3 {
    font-size: 25px;
    padding: 10px;
  }
  p, th, td  {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 1px;
    font-weight: 200;
    padding: 10px;
  }
  .footer-item.contact {
    flex-basis: 100%;
    flex-grow: 3;
    text-align: center
  }
  .footer-item {
    flex-basis: 100%;
    flex-grow: 3;
  }
  .footer-contact {
    text-align: center
  }
  .footer-credit {
    text-align: center;
  }

}
@media (min-width: 768px) and (max-width: 992px) {
  .header-with {
    font-size: 16px;
  }
  .row {
    margin-left: 10px;
    margin-right: 10px;
  }
  #menu {
    display: none;
  }
  .pin {
    display: none;
  }
  h1 {
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    padding: 10px;
    letter-spacing: 4px;
  }
  h2 {
    font-size: 35px;
    line-height: 40px;
    padding: 10px;
  }
  h3 {
    font-size: 25px;
    padding: 10px;
  }
  p, th, td  {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 2px;
    font-weight: 200;
    padding: 10px;
  }
  .footer-credit {
    text-align: right;
  }

}

@media (min-width: 992px) and (max-width: 1170px){
  .header-with {
    font-size: 16px;
  }
  .menus-text {
    font-size: 20px;
    display: none;
  }
  #logo-text {
    display: none
  }
  #lang-row {
    display: none;
  }
  #small-header {
    display: none;
  }
  .wide-button {
    display: none
  }
  .pin {
    height: 260px
  }
  .pin.visit{
    position: absolute;
    left: 50px;
    top: 50px;
  }
  .pin.participate{
    position: absolute;
    right: 50px;
    bottom: 110px;
  }
  .row.challenge {
    margin-top: -100px;
  }
  .challenge-image-bellow {
    display: none
  }
  h1 {
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 6px;
    text-align: center;
    padding: 10px;
    letter-spacing: 5px;
  }
  h2 {
    font-size: 35px;
    line-height: 45px;
    padding: 10px;
  }
  h3 {
    font-size: 30px;
    font-weight: 300;
    padding: 10px;
  }
  p, th, td  {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
    font-weight: 200;
    padding: 10px
  }
  .footer-credit {
    text-align: right;
  }

}
@media (min-width: 1170px) {
  .header-with {
    font-size: 16px;
  }
  .menus-text {
    font-size: 24px;
  }
  .menus-bars {
    display: none;
  }
  #lang-row {
    display: none;
  }
  #small-header {
    display: none;
  }
  .wide-button {
    display: none
  }
  .pin {
    height: 300px
  }
  .pin.visit{
    position: absolute;
    left: 100px;
    top: 50px;
  }
  .pin.participate{
    position: absolute;
    right: 100px;
    bottom: 160px;
  }
  .row.challenge {
    margin-top: -150px;
  }
  .challenge-box {
    height: 600px;
    width: 100%;
    background-color: red;
  }
  .challenge-image-bellow {
    display: none
  }
  h1 {
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 6px;
    padding: 10px;
    text-align: center;
    letter-spacing: 5px;
  }
  h2 {
    font-size: 45px;
    line-height: 75px;
    font-weight: 400;
    padding: 10px;
  }
  h3 {
    font-size: 32px;
    font-weight: 300;
    padding: 10px;
  }
  p, th, td {
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 2px;
    font-weight: 200;
    padding: 10px;
  }
  th, td {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .footer-credit {
    text-align: right;
  }
}
@media (min-width: 1800px) {
  body {
    width: 1800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
