.left-box {
  width: 500px;
  height: 100%;
  background-color: #f2f2f2;
  box-shadow:5px 0px 10px gray;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  overflow-y: scroll;
}
.left-box.hiddeno {
  background-color: #f2f2f2;
  width: auto;
}
.left-box.gray {
  background-color: #f2f2f2;
}
.left-box-item {
  flex: 0;
  margin: 10px;
}
.left-box-item.no-top-margin {
  margin-top: 0px;
}
.left-box-item.no-bottom-margin {
  margin-bottom: 0px;
}
.left-box-item.white {
  background-color: white;
}
.left-box-item.resize{
  flex: 1;
  flex-basis: 20%;
}
.left-box-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  background-color: #f2f2f2;
}
.left-box-line-item {
  flex-grow: 1;
  flex-shrink: 1;
  width: 50%;
}
.btn {
  display: inline-block;
  padding: 5px;
  font-size: 20px;
  border-radius: 3px;
  text-align: center;
  margin: 5px;
  cursor: pointer;
}
.btn.wide {
  width: 100%
}
.btn-meta {
  width: 50%;
  float: right;
  font-size: 12px;
}
.btn.green {
  background-color: #20CDAD;
  color: white;
}
.btn.yellow {
  background-color: #FFB028;
  color: white;
}
.btn.white {
  background-color: white;
  color: #444444;
}
.btn-noapriori {
  display: inline-block;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px;
  font-size: 20px;
  border-radius: 3px;
  text-align: center;
  float: right;
  cursor: pointer;
}
.btn-noapriori.yellow {
  background-color: #FFB028;
  color: white;
}
.btn-noapriori.yellow-void {
  background-color: white;
  color: #FFB028;
  border-color: #FFB028;
  border-style: solid;
}

@media (min-width: 0px) and (max-width: 1170px) {
  .btn {
    font-size: 15px;
  }
}
@media (min-width: 1170px) {
  .btn {
    font-size: 20px;
  }
}
