.choice-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  height:auto;
}
.choice-item {
  flex-grow: 0;
  flex-shrink: 0;
  align-self: flex-center;
  padding: 10px;
}
.rank-choices-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.rank-choices-item {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 100%;
  align-self: flex-center;
  text-align: right;
}
.date-choice {
  display: inline-block;
}
table {
  table-layout: auto;
  width: 100%;
  padding: 0;
}
table .absorbing-column {
    width: 100%;
}
th {
  padding: 0;
}
td {
  width: auto;
}
.greenBG {
  background-color: #20CDAB;
}
.table-start {
  height: auto;
}
.table-end-box {
  width: 100%;
  height: 100%;
  max-height: 100%;
  /*height: 100%;*/
  overflow-y:scroll;
}
.table-end {
  width: 100%;
}
.table-box {
  max-height: 500px;
  overflow-y: auto;
}
.right-cell {
  text-align: right;
}
.medal {
  height: 60px;
  width: 60px;
  border-radius: 30px;
}
.medal.gold {
  background-color: #FFD972;
  border: 10px solid #FFEAB2;
  color: white;
}
.medal.silver {
  background-color: #C2C2C2;
  border: 10px solid #E1E1E1;
  color: white;
}
.medal.bronze {
  background-color: #E9AD60;
  border: 10px solid #FFD38F;
  color: white;
}
.medal.chocolate {
  background-color: white;
  border: 10px solid #cccccc;
  color: black;
}
.medal-text {
  line-height: 40px;
  padding: 0;
  /*display: table-cell;*/
  vertical-align: middle;
  text-align: center;
  /*color: white;*/
  font-weight: 600;
}
.ranking {
  font-weight: 600;
  text-align: left;
  width: 50%;
  padding-left: 50px;
  font-size: 20px;
}
