body {
  font-family: Lato;
}
.headerBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /*flex-wrap: nowrap;*/
}
.headerItem {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: flex-center;
}
.headerItem.middle {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 5%;
}
.dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}
.headerSmallBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.headerSmallItem {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: flex-center;
}
