<div class = 'left-box gray'>
  <div  class = 'left-box-item' >
    <i class="fa fa-chevron-left" aria-hidden="true" style = "width: 100%; text-align: right" ng-click='showHideMeta()'></i>
  </div>
  <div  class = 'left-box-item'>
    <h3 ng-show = '!imageSelected.georef_3d_bool' style = 'width:100%'>
      {{texts.do_you[lang]}}
    </h3>
  </div>
  <div  class = 'left-box-item'>
    <div class = 'btn yellow wide' ng-show = '!imageSelected.georef_3d_bool' ng-click = 'goToGeoref()' style = 'width:100%; margin-bottom:30px'>
      {{texts.start_geoloc[lang]}}
    </div>
  </div>
  <div  class = 'left-box-item'>
    <div class = 'btn yellow wide' ng-show = 'imageSelected.georef_3d_bool && showBadGeolocButton' ng-click = 'submitBadGeoloc()' style = 'width:100%; margin-bottom:30px'>
      {{texts.submit_bad_geoloc[lang]}}
    </div>
  </div>
  <div  class = 'left-box-item white' >
    <div class = 'info-obs-box'>
      <div class = 'info-obs-item'>
        <div ng-class = "{'meta-title selected': showInfo, 'meta-title': !showInfo}" ng-click = 'switchInfoObs()'>
          <h3>
            <i class="fa fa-info" aria-hidden="true"></i>
            {{texts.info_title[lang]}}
          </h3>
        </div>
      </div>
      <div class = 'info-obs-item'
        ng-show = 'imageSelected.observation_enabled'>
        <div ng-class = "{'meta-title selected': !showInfo, 'meta-title': showInfo}"
        ng-click = 'switchInfoObs()'
        >
          <h3>
            <i class="fa fa-comment" aria-hidden="true"></i>
            {{texts.obs_title[lang]}}
          </h3>
        </div>
      </div>
    </div>
  </div>
    <!-- METAINFORMATION MODE -->
  <div  class = 'left-box-item no-bottom-margin' ng-show='showInfo'>
    <div ng-show = '!editing'>
      <h3><b>{{imageSelected.title}}</b></h3>
      <h4>{{imageSelected.caption}} </h4>
    </div>
    <div ng-show = 'editing'>
      <p>{{texts.yourTitelProp[lang]}}</p>
      <input type='text' placeholder="{{imageSelected.title}}" class = 'text-input wide'
      ng-model = 'edition.title'
      > </input>
      <!--  ng-show = 'imageSelected.caption != null' -->
      <div>
        <p>{{texts.yourCaptionProp[lang]}}</p>
        <input type='text' placeholder="{{imageSelected.caption}}" class = 'text-input wide'
        ng-model = 'edition.caption'
        ></input>
      </div>
    </div>
  </div>
  <div class = 'left-box-item no-top-margin' ng-show='showInfo'>
    <p class = 'edit-instruction' ng-show = '!editing && imageSelected.correction_enabled'>
      {{texts.corr_ask[lang]}}
    </p>
    <div class = 'btn white btn-meta' ng-click = 'startEdition()' ng-show = '!editing && imageSelected.correction_enabled'>
      <i class="fa fa-pencil" aria-hidden="true"></i>
      {{texts.corr_edit[lang]}}
    </div>
    <div class = 'btn white btn-metar' ng-click = 'cancelEdition()' ng-show = 'editing'>
      <i class="fa fa-pencil" aria-hidden="true"></i>
      {{texts.cancel[lang]}}
    </div>
    <div class = 'btn green' ng-click = 'submitEdition()' ng-show = 'editing'>
      <i class="fa fa-pencil" aria-hidden="true"></i>
      {{texts.submit[lang]}}
    </div>
  </div>

  <div  class = 'left-box-item' ng-show='showInfo'>
    <table id = 'meta-table'>
      <!-- Photographer -->
      <tr>
        <td class = 'column-title'>
          {{texts.metaPhotographer[lang]}}
        </td>
        <td>
          <i class="fa fa-camera-retro" aria-hidden="true"></i>
        </td>
        <td class = 'column-value link' ng-click = "goToPhotographerLink()">
          <a>{{imageSelected.photographer}}</a>
        </td>
      </tr>
      <!-- Date-->
      <tr>
        <td class = 'column-title'>
          {{texts.metaDate[lang]}}
        </td>
        <td>
          <i class="fa fa-calendar" aria-hidden="true" ></i>
        </td>
        <td class = 'column-value' ng-show = '!imageSelected.orig_date'>
          {{imageSelected.date}}
        </td>
        <td class = 'column-value' ng-show = 'imageSelected.orig_date'>
          {{imageSelected.orig_date}}
        </td>
      </tr>
      <!-- ID-->
      <tr>
        <td class = 'column-title'>
          ID:
        </td>
        <td>
        </td>
        <td class = 'column-value'>
          {{imageSelected.original_id}}
        </td>
      </tr>
      <!-- Licenz -->
      <tr>
        <td class = 'column-title'>
          {{texts.license[lang]}}
        </td>
        <td>
          <i class="fa fa-copyright" aria-hidden="true">
        </td>
        <td class = 'column-value'>
          {{imageSelected.license}}
        </td>
      </tr>
      <!-- Link -->
      <tr>
        <td class = 'column-title'>
          {{texts.metaLink[lang]}}
        </td>
        <td>
          <i class="fa fa-external-link" aria-hidden="true"></i>
        </td>
        <td class = 'column-value link' ng-click = "goToLink()">
          <a>Link</a>
        </td>
      </tr>
      <!-- Share -->
      <tr>
        <td class = 'column-title'>
          {{texts.share[lang]}}
        </td>
        <td>
          <i class="fa fa-share-alt" aria-hidden="true"></i>
        </td>
        <td class = 'column-value'>
          <a>https://smapshot.heig-vd.ch/map/?imageId={{imageSelected.id}}</a>
        </td>
      </tr>
      <!-- Collection -->
      <tr>
        <td class = 'column-title' >
          {{texts.metaCollection[lang]}}
        </td>
        <td>
          <i class="fa fa-address-card-o" aria-hidden="true"></i>
        </td>
        <td class = 'column-value link' ng-click = "goToCollectionLink()">
          <a>{{imageSelected.collection}}</a>
        </td>
      </tr>
      <!-- Owner -->
      <tr>
        <td class = 'column-title'>
          {{texts.metaOwner[lang]}}
        </td>
        <td>
           <i class="fa fa-university" aria-hidden="true"></i>
        </td>
        <td class = 'column-value link' ng-click = "goToOwnerLink()">
          <a>{{imageSelected.owner}}</a>
        </td>
      </tr>
      <!-- Volunteer -->
      <tr ng-show='imageSelected.georef_3d_bool'>
        <td class = 'column-title'>
          {{texts.metaVolunteer[lang]}}
        </td>
        <td>
          <i class="fa fa-user" aria-hidden="true"></i>
        </td>
        <td class = 'column-value'>
          {{imageSelected.username}}
        </td>
      </tr>
      <!-- Download -->
      <tr ng-show = 'imageSelected.download_link != null'>
        <td class = 'column-title'>
          Download:
        </td>
        <td>
          <i class="fa fa-download" aria-hidden="true"></i>
        </td>
        <td class = 'column-value'>
          <a ng-click='goToDownload()' style='cursor: pointer'>{{texts.link[lang]}}</a>
        </td>
      </tr>
      <!-- Shop -->
      <tr ng-show = 'imageSelected.shop_link != null'>
        <td class = 'column-title'>
          Shop:
        </td>
        <td>
          <i class="fa fa-download" aria-hidden="true"></i>
        </td>
        <td class = 'column-value'>
          <a ng-click='goToShop()' style='cursor: pointer'>{{texts.link[lang]}}</a>
        </td>
      </tr>
    </table>
  </div>
  <div  class = 'left-box-item resize' ng-show='showInfo'>
  </div>
  <!-- <div  class = 'left-box-item' ng-show='showInfo'>
    <div class = 'btn yellow wide' ng-show = '!imageSelected.georef_3d_bool' ng-click = 'goToGeoref()'>
      {{texts.start_geoloc[lang]}}
    </div>
  </div> -->
  <!-- OBSERVATION MODE -->
  <div  class = 'left-box-item' ng-show='!showInfo && !createObsBool'>
    <h3 ng-show = 'obsSubmitted'>
      {{texts.obsSubmitted[lang]}}

    </h3>
    <div ng-hide = 'obsSubmitted'>
      <h3 ng-show = 'noObs'>
        {{texts.obs_no[lang]}}
      </h3>
      <h3 ng-hide = 'noObs'>
        {{texts.obs_descr[lang]}}
      </h3>
    </div>
    <div class = 'btn green' ng-click = 'createObservation()' ng-show='!showInfo && !createObsBool'>
      {{texts.share_obs[lang]}}
    </div>
  </div>
  <!-- <div  class = 'left-box-item' ng-show='!showInfo && createObsBool'>
    <h3>
      {{texts.click_obs[lang]}}
    </h3>
    <textarea
    ng-show = 'obsLocProvided'
    type='text'
    placeholder='I observed this:'
    class = 'text-input wide'
    ng-model = 'newObservation.observation'
    rows='3'
    ></textarea>
    <div ng-show = '!showInfo && obsLocProvided' class = 'btn white' ng-click = 'cancelObservation()'>
      {{texts.cancel[lang]}}
    </div>
    <div ng-show = '!showInfo && obsLocProvided' class = 'btn green' ng-click = 'submitObservation()'>
      {{texts.submit[lang]}}
    </div>
  </div> -->
  <!-- <div  class = 'left-box-item' ng-show='!showInfo && !createObsBool'>
  </div> -->
</div>
